.invitationlist
{
	border: 1px solid #bababa;
}

.invitationlist
{
	color: #000;
}

.invitationlist .inviteelist
{
   background-color: #f6fef5;
   height: 280px;
   overflow-y: auto;
   overflow-x: hidden;
   position: relative !important;
}

.invitationlist .inviteelist table
{
   border: none;
   width: 100%;
}
.invitationlist .inviteelist table thead
{
   display: none;
}
.invitationlist .inviteelist table td
{
   border: none;
}
.invitationlist .inviteelist table .yui-dt-empty
{
   background-color: transparent;
}

.invitationlist .inviteelist .user
{
	border-bottom: 1px solid #e4e5e5;
	height: 55px;
	padding: 3px 225px 3px 66px;
}

.invitationlist .inviteelist .user div.photo,
.invitationlist .inviteelist .user div.roleSelection,
.invitationlist .inviteelist .user div.details
{
	float: left;
	position: relative;
}

.invitationlist .inviteelist .user .details
{
	padding-left: 5px;
	width: 90%;
}

.invitationlist .inviteelist .user .details .uname
{
	font-weight: bold;
}

.invitationlist .inviteelist .user .photo
{
	left: 60px;
	margin-left: -120px;
	right: 60px;            
	width: 60px;           
}

.invitationlist .inviteelist .user .roleSelection
{
	margin-right: -100%;
	width: 220px;            
}

.invitationlist .inviteelist a.remove-item-button:hover
{
   text-decoration: none;
}

.invitationlist .inviteelist .removeIcon
{
	background: transparent url(images/remove-icon-16.png) no-repeat center center;
	padding: 6px;
}

.invitationlist .inviteelist .user .details span
{
	display: block;
}

.invitationlistwrapper
{
	background: transparent url(images/green-arrow.png) no-repeat left 15%;
	padding-left: 50px;
}

.invitationlistwrapper .sinvite
{
	padding-top: 5px;
	text-align: right;
}

.invitationlistwrapper .title
{
	font-weight: bold;
	padding: 0.5em;
}

.invitationlist .invitelist-bar
{
	background-color: #f5f5f5;
	border-bottom: 1px dotted #c0c0c0;
	padding: 6px;
	visibility: hidden;
}
