.invitelist * {
	color: #000;
}
.invitelist {
	border: 1px solid #bababa;
}

.invitelist .userslist table {width: 100%; border: none;}
.invitelist .userslist table thead {display: none;}
.invitelist .userslist table td {border: none; }
/*.invitelist .userslist table tr {background-color: transparent;}*/
.invitelist .userslist table .yui-dt-empty { background-color: transparent; }

/**
 * If an element with "position: relative;" is used inside
 * another element with "overflow: scroll;" IE takes the inner element "out of
 * the flow" which makes statically positioned on the screen ignoring to be
 * hidden and following the scrollbar.
 *
 * In this component, position relative is used for the progress bars, but
 * a YUI button is also used which causes the same problem.
 *
 * If the outer element also has "position: relative;" it works though.
 */
/*.invitelist .userslist .yui-dt-bd
{
   position:relative;
}*/

.invitelist .users .user {
	height: 75px;
	padding-left: 75px;     
	padding-right: 83px;     
	
	border-bottom: 1px solid #e4e5e5;
	padding-top: 3px;
	padding-bottom: 3px;	
}

.invitelist .users .user div.photo,
.invitelist .users .user div.badd,
.invitelist .users .user div.details {
	position: relative;
	float: left;
}

.invitelist .users .user .details {
	width: 100%;
}

.invitelist .users .user .details .uname{
	font-weight: bold;
}

.invitelist .users .user .photo {
	width: 70px;           
	right: 70px;            
	margin-left: -140px;
	left: 70px;
}

.invitelist .users .user .badd {
	width: 50px;            
	margin-right: -100%;
}

.invitelist .users .user .details span {
	display: block;
}

.invitelistwrapper .title {
	color: #009300;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 34px;
	padding-rigt: 0px;
	background: transparent url(images/step-one.png) no-repeat 3px center;
}

.invitelist .invitelist-bar {
	padding: 6px;
	border-bottom: 1px dotted #bababa;
	background-color: #dee8ed;
}


.invitelist .invitelist-bar div {
	display: inline;
	padding-right: 10px;
}

.invitelist .userslist {
	height: 400px;
	overflow-y: auto;
	/*padding: 4px;*/
	background-color: #f6f9fc;
}
