.search {
	margin: 0 -10px;
}

.search .yui-dt-bd table{
	width: 100%;
	border: none;
}

.search .yui-dt-bd table thead{
	display: none;
}

#template_search_search-results {
  position: relative;
  height:auto !important;
  min-height:99%;
  height:99%;
}

.search .resultbar {
	padding: 8px 10px;
	background-color:#E3EAEC;
	border-bottom:2px solid #F0F3F4;
	border-top:2px solid #F0F3F4;
}

.search .resultbar.gobottom {	
	width: 99%;
	position: absolute;	
	bottom: 2.4em;
}

#template_title_search div.float-right {
	margin-top: 4px;
	float: right;
}

#template_title_search div.float-left {
	float: left;
}

#template_title_search .back-icon {
	padding-left: 22px;
	background: url(../images/back-arrow.png) no-repeat center left;
}
