.postview {
	margin: 20px;
}

.commentFooter {
	margin-top: 20px;
}

.comment {
	border-top: 2px dashed #b1b1b1;
	border-bottom: 2px solid transparent;
	border-right: 2px solid transparent;
	border-left: 2px solid transparent;
	margin: 0 20px;
}
.comment.overNode {
	border: 2px solid #5A7380;
}
.commentsListTitle {
	font-size: 116%;
	background:transparent url(../images/tag-16.png) no-repeat scroll 20px 50%;
	padding: 20px 0pt 20px 40px;
}
.comment.even {
	background-color: #ffffff;
}
.comment.odd {
	background-color: #fcfcf5;
}

#discussionsBlogHeader1 .configLink {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 116%;
	color: #333333;
	background: transparent url(../images/configure-blog-16.png) no-repeat scroll 3px 1px;
	padding-left: 20px;
    border-left: 1px solid #c6c6c6;
}

/********
 * FORM *
*********/

.submitCommentForm {
	margin: 15px;
	padding: 20px;
	border-top: 1px solid #b1b1b1;
	background-color: #fafafa;
}

.commentFormTitle {
	font-size: 116%;
	margin-bottom: 15px;
}

.commentFormAction {
	margin-top: 15px;
}

.config-blog {
  width: 350px;
}