/** Comment list */

.commentFooter {
	margin-top: 20px;
}

.comment
{
   border-top: 2px dashed #b1b1b1;
   margin: 0 20px;
   padding: 10px;
   display: inline-block;
}

html>body .comment {
  display: block;
}

.comment.overNode
{
	background-color: #f4faff;
}
.commentsListTitle
{
	background: transparent url(../images/tag-16.png) no-repeat scroll 20px 50%;
	font-size: 116%;
	padding: 20px 0pt 20px 40px;
}

.comment-list .hidden
{
  display: none;
}

.comment .userLink a
{
   color: #2B6EB5;
}

.editCommentForm
{
	margin: 20px;
	padding: 20px;
	border-top: 1px solid #b1b1b1;
	background-color: #fafafa;
}

/* YUI WYSIWYG editor styles */
.yuieditor strong {
  font-weight: bold;
}
.yuieditor em {
  font-style: italic; 
}
.yuieditor ul, .yuieditor ol {
  padding-left: 40px;
}
.yuieditor ul li {
  list-style-type: disc; 
}
.yuieditor ol li {
  list-style-type: decimal; 
}
