.filter ul
{
   padding: 0.5em 0 1em;
}

.filter li
{
   padding: 4px 0px 3px 20px;
}

.filter li.selected
{
   background-color: #d2e5f2;
}

.filter a:hover
{
   text-decoration: none;
}

.filter h2
{
   background: url(../images/expanded.png) no-repeat 0% 50%;
   margin-top: 1em;
   padding-left: 1em;
}