/* Header- and Navigation-Bar Buttons */

.toolbar .new-series button
{
   background: transparent url(images/folder-new-16.png) no-repeat 12px 4px;
   padding-left: 32px; 
}
.toolbar .new-series .yui-button-disabled button
{
   background-image: url(images/folder-new-disabled-16.png);
}

.toolbar .new-category button
{
   background: transparent url(images/folder-new-16.png) no-repeat 12px 4px;
   padding-left: 32px; 
}
.toolbar .new-category .yui-button-disabled button
{
   background-image: url(images/folder-new-disabled-16.png);
}

.toolbar .selected-items
{
   float: left;
}

.toolbar .onActionFileTo
{
   background-image: url(images/generic-16.png);
}
.toolbar .yuimenuitem-disabled .onActionFileTo
{
   background-image: url(images/generic-16.png);
}

