.activities .titleBarActions .rss
{
    display: none;
}

.header-bar .separator, .header-bar .rss-feed
{
    display: none;
}

.rule-edit .executeAsynchronously,
.rule-edit .scriptRef
{
   display: none;
}