.site-finder 
{
	margin: 10px;
}

.site-finder .heading
{
   color: #008000;
   font-size: 108%;
}

.site-finder .search-controls
{
   border-top: 1px solid #bababa;
   border-left: 1px solid #bababa;
   border-right: 1px solid #bababa;
   padding: 8px;
   margin-top: 10px;
   background-color: #aebccc;
}

.site-finder .search-term
{
   padding: 0px;
   float: left;
   width: 75%;
}

.site-finder .search-controls .search-term input
{
   width: 98%;
   margin: 3px 4px 0px 4px;
}

.site-finder .search-button
{
   padding: 0px;
}

.site-finder .yui-dt-bd
{
   border: 1px solid #a1a1a1;
}

.site-finder .yui-dt-bd table
{
	width: 100%;
	border: none;
}

.site-finder .yui-dt-bd table thead
{
	display: none;
}

.site-finder .yui-dt td
{
   border: none;
}

.site-finder .yui-dt-first
{
   width: 40px;
}

.site-finder .yui-dt-last
{
   width: 75px;
}

.site-finder tr.yui-dt-odd
{
   background-color: #fbfbfb;
}

.site-finder h3
{
   margin-top: 6px;
   margin-bottom: 2px;
}

.site-finder h3 a
{
   color: #2b6eb5;
}

.site-finder .sitedescription
{
   margin-bottom: 6px;
}
