<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE beans PUBLIC '-//SPRING//DTD BEAN//EN' 'http://www.springframework.org/dtd/spring-beans.dtd'>
<!--
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at
        
    http://www.apache.org/licenses/LICENSE-2.0
        
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<beans>

    <!-- The EncryptablePropertyPlaceholderConfigurer will read the -->
    <!-- alfresco-encrypted.properties files and make their values accessible as ${var} -->
    <!-- -->
    <bean id="alfresco.jasypt.configurationEncryptor" 
        class="org.alfresco.enterprise.spring.encryption.PublicPrivateKeyStringEncryptor" 
        init-method="init" >
    </bean>

    <!-- Our "configurationEncryptor" bean (which implements -->
    <!-- org.jasypt.encryption.StringEncryptor) is set as a constructor arg. -->

    <bean id="encrypted-properties"
        class="org.alfresco.enterprise.spring.encryption.AlfrescoEncryptablePropertyPlaceholderConfigurer">
        <constructor-arg ref="alfresco.jasypt.configurationEncryptor" />
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="locations">
            <list>
                <value>classpath*:alfresco-encrypted.properties</value>
                <value>classpath*:alfresco/module/*/alfresco-encrypted.properties</value>
                <value>classpath*:alfresco/extension/enterprise/alfresco-encrypted.properties</value>
            </list>
        </property>
    </bean>
    
</beans>
