.profile
{
}

.profile .separator
{
   padding: 0.4em;
}

.profile .header-bar
{
   height: 1.1em;
   padding: 0.4em;
   margin-top: 0.8em;
   background-color: #e3eaec;
   border-bottom: 2px solid #f0f3f4;
   font-weight: bold;
   font-size: 116%;
}

.profile .leftcolumn
{
   float: left;
}

.profile .rightcolumn
{
   float: right;
}

.profile .row
{
   padding: 0.333em;
}

.profile .drow
{
   height: 2em;
   padding: 0.5em;
   width: 50em;
}

.profile .photorow
{
   padding: 0.333em;
   height: 7em;
}

.profile .biorow
{
   padding: 0.333em;
   padding-left: 100px;
}

.profile .photo
{
   padding: 0.5em;
   float: left;
}

.profile .photobtn
{
   padding-left: 7em;
   padding-top: 2em;
   height: 4em;
}

.profile .label
{
   display: block;
   float: left;
   padding-right: 0.8em;
   padding-top: 0.3em;
   width: 8em;
   text-align: right;
   font-weight: bold;
}

.profile .namelabel
{
   margin-left: 96px;
   font-size: 123.1%;
   line-height: 1.7em;
}

.profile .fieldlabel
{
   margin-left: 96px;
   line-height: 1.5em;
}

.profile .fieldlabelright
{
   display: block;
   float: left;
   padding-right: 0.8em;
   width: 8em;
   margin-left: 4.5em;
   text-align: right;
   font-weight: bold;
}

.profile .fieldvalue
{
   display: block;
   min-height: 1.2em;
   padding-left: 1.5em;
}

.profile p
{
   line-height: 1.5em;
   margin-left: 12em;
   padding: 0px;
}

.profile textarea
{
   width: 40.8em;
}

.profile .check
{
   font-weight: bold;
   line-height: 1.7em;
}

.profile .buttons
{
   padding-bottom: 1em;
   padding-top: 0.5em;
   text-align: center;
}

.profile .hidden
{
   display: none;
}

.profile .editcolumn
{
   float: right;
   width: 120px;
   text-align: center;
   padding-top: 8px;
}

.profile .viewcolumn
{
   margin-right: 120px;
}