.toolbar
{
   background-color: #e9edef;
   border-bottom: 2px solid #c7ccce;
   clear: left;
   margin: 0 -10px 1px;
   min-height: 1.2em;
   padding: 10px 0px;
}

.toolbar .separator,
.toolbar .link
{
   float: left;
   padding-left: 10px;
}

.toolbar .link a.activePage,
.toolbar .link a.activePage:visited,
.toolbar .link a:hover
{
	color: #009300;
}