.yui-skin-default tr.yui-dt-odd,
   .yui-skin-default tr.yui-dt-even {
   background-color: #FFF;
}

.yui-skin-default tr.yui-dt-odd td.yui-dt-asc,
   .yui-skin-default tr.yui-dt-odd td.yui-dt-desc,
   .yui-skin-default tr.yui-dt-even td.yui-dt-asc,
   .yui-skin-default tr.yui-dt-even td.yui-dt-desc {
   background-color: #FFF;
}

.yui-skin-default .yui-dt td {
   border-style: none solid solid none;
   border-width: medium 1px 1px medium;
   border-color: #CBCBCB;
}

.list-title {
   /*color: #004488;*/
   font-size: 16px;
   font-weight: bold;
   vertical-align: middle;
   font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.title {
   /*color: #004488;*/
   font-size: 16px;
   font-weight: bold;
   vertical-align: middle;
   font-family: Tahoma, Arial, Helvetica, sans-serif;
   float:left;
}

.node-description {
   /*color: #004488;*/
   font-size: 11px;
   font-weight: bold;
   padding: 2px;
}

.node-info-titlebar {
    background-color:#E9EDEF;
    border-bottom:2px solid #C7CCCE;
    height:2em;
    padding:0.5em;
}

.node-info-titlebar .backLink {
    background:transparent url(../images/forward-arrow-16.png) no-repeat scroll 100% 0px;
    color:#333333;
    font-size:108%;
    float:right;
    padding-right:20px;
}