/* CSS file for Search form */

.search
{
   border-style:solid;
   border-thickness:1;
   border-color:#FFFFFF;
   
   border-skin: ClassReference("component.util.GlossGradientBorder");
   fill-colors: #6B7680, #384654, #1B2C3C ,#1B2C3C;
}
