<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

   <display-name>Alfresco Extranet</display-name>    
   <description>Alfresco Extranet application</description>
   
   <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
         classpath:alfresco/webscript-framework-application-context.xml
         classpath:alfresco/web-site-application-context.xml
      </param-value>
      <description>Spring config file locations</description>
   </context-param>
   
   <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>

   <!-- 
   		This filter will bootstrap the Web Script Framework
   		It will execute the configured RequestContextFactory and bind
   		the RequestContext instance to the request
   -->
   <filter>
      <filter-name>Web Script Framework Filter</filter-name>
      <filter-class>org.alfresco.web.scripts.WebScriptFrameworkFilter</filter-class>
   </filter>
   
   <filter>
      <filter-name>UrlRewriteFilter</filter-name>
      <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
   </filter>
      
   <filter-mapping>
      <filter-name>Web Script Framework Filter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
   
   <filter-mapping>
      <filter-name>UrlRewriteFilter</filter-name>
      <url-pattern>/alfresco/*</url-pattern>
   </filter-mapping>

   <servlet>
      <servlet-name>apiServlet</servlet-name>
      <servlet-class>org.alfresco.web.scripts.servlet.WebScriptServlet</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>proxyServlet</servlet-name>
      <servlet-class>org.alfresco.web.scripts.servlet.HTTPProxyServlet</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>Dispatcher Servlet</servlet-name>
      <servlet-class>org.alfresco.web.site.servlet.DispatcherServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet> 
          
   <servlet>
      <servlet-name>Cache Control Servlet</servlet-name>
      <servlet-class>org.alfresco.web.site.servlet.CacheControlServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
                
   <servlet>
      <servlet-name>pageAuthenticationServlet</servlet-name>
      <servlet-class>org.alfresco.web.page.PageAuthenticationServlet</servlet-class>
   </servlet>
   
   <servlet-mapping>
      <servlet-name>Cache Control Servlet</servlet-name>
      <url-pattern>/cache/*</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>Dispatcher Servlet</servlet-name>
      <url-pattern>/adw/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>apiServlet</servlet-name>
      <url-pattern>/service/*</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>apiServlet</servlet-name>
      <url-pattern>/s/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>proxyServlet</servlet-name>
      <url-pattern>/proxy</url-pattern>
   </servlet-mapping>
      
   <servlet-mapping>
      <servlet-name>pageAuthenticationServlet</servlet-name>
      <url-pattern>/auth/*</url-pattern>
   </servlet-mapping>
   
   <session-config>
      <session-timeout>20</session-timeout>
   </session-config>

   <!-- welcome file list precedence order is index.jsp, then index.html -->
   <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>index.html</welcome-file>
   </welcome-file-list>

</web-app>