.document-preview
{
   width: 800px;
}

.document-preview .hd img
{
   margin-bottom:-8px;
   padding-top:2px;
}

.yui-skin-default .document-preview.yui-panel .bd
{
   /*background-color:#5C5C5C;*/
   background-color: #5C5C5C;
}

.yui-skin-default .document-preview.yui-panel .bd .preview-document-swf
{
   /*padding: 1em;*/
   width:790px;
}

.document-preview .jumpToPage
{
   margin-bottom:4px;
   width:25px;
}

.document-preview .bdft span.footerText
{

}

