/* Style YUI components */

.file-upload .hidden
{
   display: none;
}

/* Center text and buttons inside p elements */
.file-upload p
{
   text-align: center;
}

/* Add som padding to the file list so it looks centered */
.yui-skin-default .yui-panel .bd .fileUpload-filelist-table
{
   padding: 0.8em;
}

/* Remove the padding inherited from the panel for divs in the file list */
.yui-skin-default .yui-panel .bd .fileUpload-filelist-table div
{
   padding: 0;
}

/* Create a visible gray line beneath each row */
.fileUpload-filelist-table tbody .yui-dt-liner
{
   margin: 0;
   padding: 0;
   border-bottom-style: solid;
   border-bottom-color: #CBCBCB;
   border-bottom-width: 1px;
   white-space: nowrap;
}

/* Width of the file list */
.fileUpload-filelist-table .yui-dt-bd table
{
   width: 600px;
}

/* Hide the table header */
.fileUpload-filelist-table .yui-dt-hd table
{
   display: none;
}

/**
 * If an element with "position: relative;" is used inside
 * another element with "overflow: scroll;" IE takes the inner element "out of
 * the flow" which makes statically positioned on the screen ignoring to be
 * hidden and following the scrollbar.
 *
 * In this component, position relative is used for the progress bars, but
 * a YUI button is also used which causes the same problem.
 *
 * If the outer element also has "position: relative;" it works though.
 */
.fileUpload-filelist-table .yui-dt-bd
{
   position:relative;
   width:620px;
}

/* Style left column and its elements */

.fileUpload-filelist-table tbody .col-left
{
   height: 40px;
   width: 100px;
}

.fileupload-left-div
{
   text-align: center;
   height: 40px;
   background-color: #FAF9F9;
}

.fileupload-percentage-span
{
   position: relative;
   top: 12px;
   font-weight: bold;
   font-size: 123.1%;
}

.fileupload-contentType-menu
{
   position: relative;
   top: 10px;
}

/* Style center column and its elements */

.fileUpload-filelist-table tbody .col-center
{
   height: 40px;
   width: 400px;
}

.fileupload-center-div
{
   background-color: #FFFFFF;
   position: relative;
   height: 40px;
   padding: 0px 0px 0px 0px;
   margin: 0px;
   overflow: hidden;
}

.fileupload-docImage-img
{
   position: absolute;
   left: 5px;
   top: 4px;
}

.fileupload-progressInfo-span
{
   position: absolute;
   left: 40px;
   top: 12px;
   font-weight: bold;
   font-size: 108%;
}

.fileupload-center-div .fileupload-progressSuccess-span,
.fileupload-center-div .fileupload-progressFailure-span,
.fileupload-center-div .fileupload-progressFinished-span
{
   position: absolute;
   top: 0px;
   left: -400px;
   height: 40px;
   width: 400px;
}

.fileupload-progressSuccess-span
{
   background-color: #9AC68C;
}

.fileupload-progressFinished-span
{
   background-color: #DCECCC;
}

.fileupload-progressFailure-span
{
   background-color: #E98B3C;
}

/* Style right column and its elements */

.fileUpload-filelist-table tbody .col-right
{
   height: 40px;
   width: 100px;
}

.fileupload-right-div
{
   text-align: center;
   height: 40px;
   background-color: #FAF9F9;
}

.fileupload-fileButton-span
{
   position: relative;
   top: 7px;
}

.file-upload .fileupload-fileButton-span button
{
   padding-left: 2.5em;
   background: url(images/remove-16.png) 10% 50% no-repeat;
}

/* General styling */

.yui-panel-container .file-upload
{
   width: 640px;
}

.file-upload .yui-gd div.first
{
   width: 10.5em;   
}

.file-upload textarea
{
   width: 30em;
}
