/*
 * Custom image library plugin for YUI editor
 *
 *
 */
#gutter1 {
   overflow: hidden;
   visibility: hidden;
   text-align: left;
}

#gutter1 .bd {
   border:1px solid #808080;
   border-left: none;
   background-color: #F2F2F2;
   height: 95%;
   overflow: hidden;
   width: 249px;
   margin-top: 10px;
   padding-left: .25em;
}

#gutter1 ul {
   list-style-type: none;
}

#gutter1 ul li {
   margin: 0;
   padding: 0;
   float:left;
   display:inline;
}

#gutter1 .bd h2 {
   font-size: 120%;
   font-weight: bold;
   margin: 0.5em 0;
   color: #000;
   border: none;
}

#gutter1 img {
   margin: 0 .5em;
   border:1px solid #808080;
   height: 50px;
   width: 50px;
}

#image_results {
   height: 75%;
   overflow: auto;
   position:static;
}

#image_results p {
   padding: .5em;
   margin-bottom: 1em;
}

#gutter1 .tip {
   display:block;
   font-size:85%;
   margin:0.5em;
   padding-left:23px;
   position:relative;
   text-align:left;
}

#gutter1 .tip span.icon-info {
   background-position:-106px -32px;
   background-image:url(css/sprite.png);
   background-position:-84px -32px;
   display:block;
   height:20px;
   left:0pt;
   position:absolute;
   top:0pt;
   width:20px;
}