/* DASHLETS */

.dashlet
{
   border: 1px solid #232323;
   background-color: white;
}

.dashlet .title
{
   background-color: #d7e0e7;
   background-image: url(images/dashlet-title-bg.png);
   background-repeat: repeat-x;
   border-bottom: 1px solid #bababa; 
   color: #ffffff; 
}

.dashlet .feed
{
   background-image: url(images/feed-icon-16.png);
   background-repeat: no-repeat;
}

.dashlet .toolbar
{
   background-color: #f6f6f6; 
   border-bottom: 1px solid #7e7e7e; 
}

/*.dashlet .toolbar a
{
   color: #5497c4;
}*/

.dashlet .body
{
    background-image: url(images/dashlet-bg.png);
    background-repeat: repeat-x;
	background-color: white; 
}

/*.dashlet .body a,
.dashlet .body a:visited,
.dashlet .body a:hover
{
   color: #4f94c9;
}*/

.dashlet .detail-list-item
{
   border-bottom: 1px dashed #575757; 
}
