/* CSS Overrides for Microsoft Internet Explorer v7 */

textarea
{
   font-family: Arial, sans-serif; 
} 


/**
 * Global site header
 */

.header .personal-menu
{
   padding-top: 6px;
}

.header .util-menu
{
   padding-top: 1px;
}

.header .link-menu-button
{
   padding-bottom:3px;
   padding-top:1px;
}

.header .search-site-icon
{
   top: -2px;
}


/**
 * Global site footer
 */
.sticky-wrapper
{
   margin-bottom: -2.5em;
}

.footer
{
   padding-bottom: 0px;
   padding-top: 0px;
}


/**
 * Page title and navigation
 */
.site-navigation
{
   margin-top: -1px;
   padding-top: 6px;
}

.yui-skin-hcBlack .title-button .yui-button
{
   margin: 0 0.7em;
}


/**
 * Dashlets / position:relative and overflow:auto bug
 */
.dashlet .scrollableList
{
   position: relative;
}

/**
 * My Sites dashlet / padding bug
 */
.my-sites .first-item div.description
{
   margin-top: -7px;
}


/**
 * Document Library
 */
.toolbar .selected-items hr
{
   color: #e4e4e4;
   margin: 0px;
   text-align: center;
   width: 10em;
}

.toolbar span.crumb
{
   background-position: left center;
}

.doclist .documents .detail
{
   width: 100%;
}

.workflow .people-selected
{
   height: 206px;
}


/**
 * Calendar
 */
.calendar-bar .align-right
{
   width: 68% !important;
}


/* Full preview backgroundd mask */

body.masked div.mask.full-preview-mask
{
   background-color: #303030;
   filter: alpha(opacity = 100);
}

.yui-skin-hcBlack #prompt
{
   width: 30em;
}

.yui-skin-hcBlack #message
{
   width: 30em;
}

