/* Site-wide Styles */


body
{
   font-family: Arial, sans-serif;
   font-size: 81%;
   color: #000000; 
}



a,
a:visited,
a:hover
{
   color: #000;
   text-decoration: none;
}

a:hover
{
   text-decoration: underline;
}

h1
{
/*   font-family: Helvetica, Arial, sans-serif;
   font-size: 146.5%;
   font-weight: normal;
*/ 
   font:normal 146.5% Helvetica, Arial, sans-serif;
}

h2
{
   font-weight: bold;
   font-size: 123.1%;
}

h1 .light,
h1 .lighter,
h2 .light,
h2 .lighter
{
   color: #c7dbeb;
}

h3
{
   font-weight: bold;
   font-size: 108%;
}

h4
{
   font-weight: bold;
}

h3 .light,
h3 .lighter,
h4 .light,
h4 .lighter
{
   color: #a2a2a2;
}


hr
{
   color: #E4E4E4;
   background-color: #E4E4E4;
}

.label
{
   font-weight: bold;
}

.error
{
   background: white !important;
   color: red !important;
}
.error-alt
{
   background-color: red !important;
   color: white !important;
}

.light
{
   font-weight: normal;
}

.lighter
{
   font-size: 93%;
   font-weight: normal;
}

/* DASHLETS */

.dashlet
{
   border: 1px solid #232323;
   background-color: white;
}

.dashlet .title
{
   background-color: #d7e0e7;
   background-image: url(images/dashlet-title-bg.png);
   background-repeat: repeat-x;
   border-bottom: 1px solid #bababa; 
   color: #ffffff; 
}

.dashlet .feed
{
   background-image: url(images/feed-icon-16.png);
   background-repeat: no-repeat;
}

.dashlet .toolbar
{
   background-color: #f6f6f6; 
   border-bottom: 1px solid #7e7e7e; 
}

/*.dashlet .toolbar a
{
   color: #5497c4;
}*/

.dashlet .body
{
    background-image: url(images/dashlet-bg.png);
    background-repeat: repeat-x;
	background-color: white; 
}

/*.dashlet .body a,
.dashlet .body a:visited,
.dashlet .body a:hover
{
   color: #4f94c9;
}*/

.dashlet .detail-list-item
{
   border-bottom: 1px dashed #575757; 
}

/* Wiki dashlet text */
body.yui-skin-hcBlack .wiki .title a {
   color:#fff;
}
/* dashlets */
body.yui-skin-hcBlack .dashlet .body a 
{
   text-decoration:underline;
}
body.yui-skin-hcBlack .dashlet .body a:hover {
   background-color:#F1FF00;
}
.topiclist .yui-dt-liner {
   padding:0;
}

.yui-skin-hcBlack .yui-dt-message
{
   background-color:inherit;
}

.yui-skin-hcBlack .yui-panel
{
   border-bottom:medium none;
}

.yui-skin-hcBlack .mask
{
   opacity: 0.2;
}

.yui-skin-hcBlack .yui-panel .hd,
.yui-skin-hcBlack .yui-panel .bdft,
.yui-skin-hcBlack .yui-panel .ft 
{
   color: #515D6B;
   background: #E3EBEC;
   border-bottom: 1px solid #C4C5C5;
   border-left-color: #C4C5C5;
   border-right-color: #C4C5C5;
}

.yui-skin-hcBlack .yui-panel .hd
{
   font-size: 123.1%;
   font-weight: bold;
   border-bottom: 1px solid #C4C5C5;
}

.yui-skin-hcBlack .yui-panel .bdft
{
   font-size: 100%;
   border-top: 1px solid #C4C5C5;
}

.yui-skin-hcBlack .yui-panel .ft
{
   border-top:1px solid #C4C5C5;
   padding: 5px;
}

.yui-skin-hcBlack .yui-panel .bd
{
   color: #515D6B;
   background-color: #F9FBFD;
   border-left-color: #C4C5C5;
   border-right-color: #C4C5C5;
}

/* Style the default message  */

.yui-skin-hcBlack #message .bd
{
   background-color:#808080;
   color:white;
}

.yui-skin-hcBlack #message .bd span.wait
{
   background-image: url(images/wait.gif);
   background-repeat: no-repeat;
}

.yui-skin-hcBlack .yui-overlay-hidden #message .bd span.wait
{
   display: none;
}

/* Style the default prompt */

.yui-skin-hcBlack #prompt,
.yui-skin-hcBlack #userInput
{
   border-top: 1px solid #C4C5C5;
   border-bottom: 1px solid #C4C5C5;
   background-color: #E3EBEC;
}

.yui-skin-hcBlack #prompt .bd,
.yui-skin-hcBlack #userInput .bd
{
}

.yui-skin-hcBlack #prompt .ft,
.yui-skin-hcBlack #userInput .ft
{
   border-left: 1px solid #c4c5c5;
   border-right: 1px solid #c4c5c5;
   background-color: #e3ebec;
}


/* Page title and navigation styles */

.page-title
{
   background-color: #6CA5CE;
   border-top: 1px dotted #45637f;
   color: white;
}

.page-title a,
.page-title a:visited
{
   color: #000000; 
}

.page-title a:hover
{
   color: #fff;
}

.page-title h1 span
{
   color: #fff;
}

.site-navigation
{
   background-color: #000;
   background-image: url(../../components/images/navigation-bg.png);
   border-bottom: 1px solid #000000; 
   border-top: 1px solid #393939; 
   color: white;
}

span.navigation-separator,
span.navigation-item,
span.navigation-item-alt
{
   color: #9fc6e1;
}


span.navigation-item a,
span.navigation-item a:visited
{
   color: #bfbfbf;
}

span.navigation-item a.active-page,
span.navigation-item a.active-page:visited,
span.navigation-item a:hover
{
   color: #f1ff00;
}

span.navigation-separator
{
   border-right: 1px dotted #4f4f4f; 
}

span.navigation-separator-alt
{
   border-right: 1px solid #4f4f4f;  
}

/* Standard toolbar */

.toolbar
{
   border-bottom: 1px solid #C7CCCE;
}

.toolbar .separator
{
   border-right: 1px dotted #457A9C;
}

strong
{
	font-weight: bold;
}


em
{
	font-style: italic;
}

.rich-content a.wiki-missing-page
{
   color: #CC2200 !important;
}


select,
input[type="text"],
textarea
{
   border: 1px solid #838383;
   font-weight: normal;
}
#loginform input#username {
   border:1px solid #C5D6E2;
}
/* same as theme-color-2 */
.toolbar .link a:hover,
.members-bar .member-link a:hover
{
   color:#009300;
}

/* Richtext Editor Plug-ins */
.yui-toolbar-container .yui-toolbar-alfresco-imagelib span.yui-toolbar-icon
{
   background-position: 0 0 !important;
   background-image: url(images/alfresco-imagelib.png) !important;
}

/* Point the YUI button to the themed sprite */
.yui-skin-hcBlack .yui-button
{
   background-image: url(images/sprite.png);
}

/* Override YUI Button styles for - flat button style */
.yui-skin-hcBlack .flat-button .yui-button
{
   background: none;
   border-color: transparent;
}
.yui-skin-hcBlack .flat-button .yui-button .first-child
{
   border-color: transparent;
}

.yui-skin-hcBlack .flat-button .yui-button-hover
{
   background: transparent url(images/sprite.png) repeat-x scroll 0 0;
   border-color: #808080;
   border-style: solid;
   border-width: 1px 0;
}
.yui-skin-hcBlack .flat-button .yui-button-hover .first-child
{
   border-color: #808080;
   border-style: solid;
   border-width: 0 1px;
}

.yui-skin-hcBlack .flat-button .yui-radio-button-checked,
.yui-skin-hcBlack .flat-button .yui-checkbox-button-checked
{
   background: #000 none;
   color:#fff;
}


/* Override YUI Button styles for - title button style */
.yui-skin-hcBlack .title-button .yui-button
{
   background: #ccc url(images/title-button-bg.png) repeat-x 0 0;
   border-color: #6e6e6e; 
}

.yui-skin-hcBlack .title-button a:hover
{
   color: #000;
}

.yui-skin-hcBlack .title-button .yui-button .first-child
{
   border-color: #6e6e6e; 
}

/* Paginator link styling */

.yui-skin-hcBlack .yui-pg-container span
{
   color:#606060;
}

.yui-skin-hcBlack .yui-pg-container span.yui-pg-page.yui-pg-current-page
{
   color: #333333;
   font-weight: bold;
}

.yui-skin-hcBlack .yui-pg-container a.yui-pg-first,
.yui-skin-hcBlack .yui-pg-container a.yui-pg-previous,
.yui-skin-hcBlack .yui-pg-container a.yui-pg-page,
.yui-skin-hcBlack .yui-pg-container a.yui-pg-next,
.yui-skin-hcBlack .yui-pg-container a.yui-pg-last
{
   color: #000000;
}

/* A combination of a link and splitbutton wrapped inside a span */


.yui-skin-hcBlack .link-menu-button .yui-button span button
{
   color: #4C4C4C;
   font-size: 2px;
   background-image: url(images/link-menu-button-arrow.png);
   background-position: center center;
}

#Share.yui-skin-hcBlack .link-menu-button .yui-button.yui-button-hover
{
   background-color: #FFFFFF;
   border: 1px solid #000;
}

.yui-skin-hcBlack .link-menu-button .yui-button span.first-child,
.yui-skin-hcBlack .link-menu-button .yui-button.yui-button-activeoption span.first-child,
.yui-skin-hcBlack .link-menu-button .yui-button.yui-button-hover span.first-child
{
   border-width: 0;
}

.yui-skin-hcBlack .link-menu-button span.link-menu-button-link
{
   border-right: 1px #BDBDBD solid;
}

#Share.yui-skin-hcBlack .link-menu-button.link-menu-button-menu-active
{
   background-color: #FFFFFF;
   border: 1px solid #000;
}

#Share.yui-skin-hcBlack .link-menu-button.link-menu-button-menu-active .yui-button.yui-button-hover
{   
   border-color: transparent;
   background-color: transparent;
}

.topiclist .yui-dt-liner 
{
   padding:0;
}
/* blog/wiki action items links */
body.yui-skin-hcBlack .wikipage .editPage a:hover,
body.yui-skin-hcBlack .wikipage .deletePage a:hover,
body.yui-skin-hcBlack .wikipage .detailsPage a:hover,
body.yui-skin-hcBlack .nodeEdit .onEditBlogPost a:hover,
body.yui-skin-hcBlack .nodeEdit .onDeleteBlogPost a:hover
{
   background-color:#f1ff00;
   text-decoration:underline;
}

.webview .title a.configure {
   text-decoration:underline;
}
/* YUI Menu */
body.yui-skin-hcBlack .yuimenu .bd {
   border:1px solid #000;
}
/* YUI Menu roll over state*/
body.yui-skin-hcBlack .yuimenu .bd ul li.yuimenuitem-selected
{
   background-color: #000;
}
body.yui-skin-hcBlack .yuimenu .bd ul li.yuimenuitem .yuimenuitemlabel
{
   color:#000;
}
body.yui-skin-hcBlack .yuimenu .bd ul li.yuimenuitem-selected .yuimenuitemlabel
{
    color:#FFF;
}
/*end YUI Menu */

/* Doclist */
body.yui-skin-hcBlack .doclist .more-actions a:active,
body.yui-skin-hcBlack .doclist .more-actions a:hover
{
   background-color: #000000;
}
body.yui-skin-hcBlack .doclist div.more-actions {
   border:1px solid #000000;
}
body.yui-skin-hcBlack .doclist .action-set a:active,
body.yui-skin-hcBlack .doclist .action-set a:hover,
body.yui-skin-hcBlack .doclist .action-set .highlighted
{
   border: 1px solid #000000;
}

body.yui-skin-hcBlack .doclist tr.yui-dt-odd.yui-dt-highlighted,
body.yui-skin-hcBlack .doclist tr.yui-dt-even.yui-dt-highlighted,
body.yui-skin-hcBlack .links-body tr.links-selected-row,
body.yui-skin-hcBlack .over,
.postview,
.topicview
{
   background-color: #FEFFF1;
}
.site-members .search-controls
{
   background-color: #F5F5F5;
}
#Share.yui-skin-hcBlack .my-sites a.favourite-site.enabled,
#Share.yui-skin-hcBlack .my-sites a.favourite-site {
   text-decoration:none;
}
body.yui-skin-hcBlack .doclist tr.yui-dt-odd.yui-dt-highlighted td.yui-dt-last,
body.yui-skin-hcBlack .doclist tr.yui-dt-even.yui-dt-highlighted td.yui-dt-last
{
   border-left: 1px solid #FEFFF1;
}

/* end doclist */
/* calendar */
.yui-skin-hcBlack .dayview h2, .weekview h2,
.yui-skin-hcBlack .calendar.weekview thead th,
.yui-skin-hcBlack .calendar.monthview thead th
{
   color:#000;
}
body.yui-skin-hcBlack .vcalendar table,
body.yui-skin-hcBlack .vcalendar table th,
body.yui-skin-hcBlack .vcalendar table td,
body.yui-skin-hcBlack .vcalendar table .hourSegment,
body.yui-skin-hcBlack .weekview div.day, 
body.yui-skin-hcBlack .dayview div.day,
body.yui-skin-hcBlack .calendar.weekview tbody tr.alldayRow td,
body.yui-skin-hcBlack tr#collapseTrigger td
{
   border-color:#000;
}
/* end calendar */
/* invite page */
.inviteusersbyemail .byemailbody
{
   background-color: #fbfbfb;
}
.people-finder .results
{
   background-color: #F6FEF5;
}


/* filter list link */
.yui-skin-hcBlack .treeview .selected,
.yui-skin-hcBlack .treeview .selected > table,
.yui-skin-hcBlack .filter li.selected, 
.yui-skin-hcBlack .tags li.selected,
.archive li.selected,
.tool li.selected,
body.yui-skin-hcBlack .yui-columnbrowser .yui-carousel-content li.yui-columnbrowser-column a.yui-columnbrowser-item-selected
{
   background-color: #000;
}

.yui-skin-hcBlack .filter a.disabled,
.yui-skin-hcBlack .filter a.disabled:active,
.yui-skin-hcBlack .filter a.disabled:hover,
.yui-skin-hcBlack .filter a.disabled:visited,
.yui-skin-hcBlack .tags a.disabled,
.yui-skin-hcBlack .tags a.disabled:active,
.yui-skin-hcBlack .tags a.disabled:hover,
.yui-skin-hcBlack .tags a.disabled:visited
{
   color: #a6a6a6;
   cursor: not-allowed;
}

.yui-skin-hcBlack .filter a:hover,
.yui-skin-hcBlack .tags a:hover
{
   text-decoration: none;
}

/* Link color */
body.yui-skin-hcBlack .yui-columnbrowser .yui-carousel-content li.yui-columnbrowser-column a.yui-columnbrowser-item-selected a,
li.selected a.filter-link,
li.selected a.tool-link,
li.selected a.archive-link,
li.selected a.tag-link,
li.selected span.tag,
body.yui-skin-hcBlack .treeview .selected table .ygtvlabel, 
body.yui-skin-hcBlack .treeview .selected table .ygtvlabel:link, 
body.yui-skin-hcBlack .treeview .selected table .ygtvlabel:visited, 
body.yui-skin-hcBlack .treeview .selected table .ygtvlabel:hover
{
   color:#fff;
}
body.yui-skin-hcBlack .treeview .selected div.ygtvchildren table .ygtvlabel, 
body.yui-skin-hcBlack .treeview .selected div.ygtvchildren table .ygtvlabel:link, 
body.yui-skin-hcBlack .treeview .selected div.ygtvchildren table .ygtvlabel:visited, 
body.yui-skin-hcBlack .treeview .selected div.ygtvchildren table .ygtvlabel:hover
{
   color:#000;
}
.yui-skin-hcBlack .node .nodeTitle a,
.yui-skin-hcBlack .node .nodeURL a,
.yui-skin-hcBlack .nodeAttrValue a,
.yui-skin-hcBlack .nodeFooter .tag a,
.yui-skin-hcBlack .detail .tag a,
.yui-skin-hcBlack a.wiki-tag-link,
.yui-skin-hcBlack .node .userLink a,
.yui-skin-hcBlack .site-members h3 a,
.yui-skin-hcBlack .doclist .documents a,
.yui-skin-hcBlack .attrValue a {
  color: #000000; 
  text-decoration: underline;
}

.yui-skin-hcBlack .yui-calendar td.calcell a, {
	color: #000000;
	text-decoration: none;
	}

.yui-skin-hcBlack .site-navigation
{
   background-image:url(./images/navigation-bg.png);
}
.cmis .body a {
   color:#000;
   text-decoration:underline;
}

.groups .yui-columnbrowser .yui-carousel-content li.yui-columnbrowser-column a.yui-columnbrowser-item-selected
{
   color:#fff;
}

/* Twisters */

.alfresco-twister-open
{
   background: transparent url(images/expanded.png) no-repeat scroll 0 50%;
}

.alfresco-twister-closed
{
   background: transparent url(images/collapsed.png) no-repeat scroll 0 50% !important;
}

/* Theme colors */
.theme-color-1,
a.theme-color-1,
a.theme-color-1:visited,
a.theme-color-1:hover {
   color: #000000; 
}

.theme-color-2,
a.theme-color-2,
a.theme-color-2:visited,
a.theme-color-2:hover {
/*   color:#66BC29;*/
   color:#038603;
}

.theme-color-3,
a.theme-color-3,
a.theme-color-3:visited,
a.theme-color-3:hover {
   color:#a9a9a9;
}

.theme-color-4,
a.theme-color-4,
a.theme-color-4:visited,
a.theme-color-4:hover {
   color:#009300;
}
.theme-color-5,
a.theme-color-5,
a.theme-color-5:visited,
a.theme-color-5:hover
{
   color: #fff;
}
/* Theme background colors */
.theme-bg-color-1,
div.theme-bg-color-1 {
   background-color:#000000; 
}


.theme-bg-color-2,
div.theme-bg-color-2 {
   background-color:#fffbdd;
}

.theme-bg-color-3,
div.theme-bg-color-3
{

}

.theme-bg-color-4,
div.theme-bg-color-4
{

}

.theme-bg-color-5,
div.theme-bg-color-5
{

}

.theme-bg-1
{

}

.theme-bg-2
{
   background-color:#E3EAEC;
}

/* Theme border type/colors */

.theme-border-1
{

}

.theme-border-2
{

}