.document-links
{
   background-color: #fafafa;
   margin-right: -10px;
	padding: 20px 10px 25px 25px;
	border-left: 1px solid #ccc;
	border-top: 1px dashed #ccc;
}

.document-links .heading
{
   color: #333333;
   font-size: 131%;
}

.document-links .url-title
{
   color: #333333;
   font-size: 100%;
   padding-top: 20px;
   padding-bottom: 4px;
}

.document-links .link-value
{
   width: 178px;
   margin-bottom: 8px;
   padding: 4px;
}