.report
{
   color: #000;
}

.report .hidden
{
   visibility: hidden;
}

.report .title
{
   margin: 16px 10px 4px;
   font-size: 123.1%;
   font-weight: bold;
   color: #515D6B;
   padding-bottom: 0.5em;
}

.report .builder
{
   margin: 0 -10px;
   background-color: #DDDDDD;
   padding: 10px 24px 12px;
   line-height: 2em;
}

.report .builder td
{
   vertical-align: top;
}

.report .header
{
   font-weight: bold;
   font-size: 108%;
}

.report .records
{
   height: 7em;
   border-right: 1px solid #AAAAAA;
   padding: 0 4em 0 1em;
}

.report .approved
{
   height: 7em;
   border-right: 1px solid #AAAAAA;
   padding: 0 4em;
}

.report .reviewed
{
   height: 7em;
   padding: 0 1em 0 4em;
}

.report .calendar
{
   display: none;
}

.report .create-report
{
   border-top: 1px solid #AAAAAA;
   padding-top: 12px;
}

.report .datelabel
{
   float: left;
}

.report .dateview
{
   margin-left: 4em;
}

.report .dateview img
{
   cursor: pointer;
}

.report label
{
   padding-left: 4px;
   vertical-align: 5%;
}

.report .date input
{
   width: 12em;
   border: 1px solid #AAAAAA;
}

.report .summary
{
   padding: 12px 0 0 8px;
}

.report .summary-title
{
   font-size: 123.1%;
   font-weight: bold;
}

.report .summary-buttons
{
   float: right;
}