.cloud-account-completion
{
   width: 59em;
   padding: 1em;
}

.cloud-account-completion .account-info
{
   float: left;
   width: 29em;
   padding-right: 0.5em;
}

.cloud-account-completion .account-info .thank-you,
.cloud-account-completion .account-info .about
{
   margin-bottom: 1em;
}

.cloud-account-completion .account-info .thank-you .read-flow-text,
.cloud-account-completion .account-info .about
{
   padding: 1em;
}

.cloud-account-completion .account-info ul
{
   padding-top: 0.5em;
   padding-bottom: 0.5em;
}

.cloud-account-completion .account-form
{
   float: left;
   width: 28em;
   padding: 0.5em;
}

.cloud-account-completion .account-form h2
{
   padding-bottom: 1em;
}

.cloud-account-completion-links
{
   text-align: center;
}

.cloud-account-completion .buttons,
.cloud-account-completion .yui-gd .first
{
   text-align: right;
}

.cloud-account-completion .buttons
{
   padding-right: 4em;
}

.cloud-account-completion .thank-you
{
	display: table;
	width: 100%;
}

.cloud-account-completion .read-flow
{
	display: table-row;
   min-height: 98px;
}

.cloud-account-completion .read-flow-text,
.cloud-account-completion .read-flow-arrow
{
	display: table-cell;
	vertical-align: top;
}

.cloud-account-completion .read-flow-arrow
{
   margin:  0;
   padding: 0;
   vertical-align: middle;
}

.cloud-account-completion .message
{
   padding: 1em;
}

.cloud-account-completion .message h3.error
{
   padding: 0.2em 0;
}

.cloud-account-completion .theme-company-logo
{
   background-image: url("../../customizations/components/images/logo.png");
   height: 60px;
}
