.cloud-forgot-password
{
   width: 40em;
   padding: 1em;
}

.cloud-forgot-password .forgot-password-confirmation,
.cloud-forgot-password .forgot-password-form
{
   padding: 1em;
}

.cloud-forgot-password .forgot-password-form form
{
   margin-top: 1em;
}

.cloud-forgot-password .yui-gd .first
{
   text-align: right;
}

.cloud-forgot-password .theme-company-logo
{
   background-image: url("../../customizations/components/images/logo.png");
   height: 60px;
}
