.cloud-reset-password
{
   width: 40em;
   padding: 1em;
}

.cloud-reset-password a:hover
{
   text-decoration: underline;
}

.cloud-reset-password .reset-password-error,
.cloud-reset-password .reset-password-confirmation,
.cloud-reset-password .reset-password-form
{
   padding: 1em;
}

.cloud-reset-password .reset-password-form form
{
   margin-top: 1em;
}

.cloud-reset-password .yui-gd .first
{
   text-align: right;
}

.cloud-reset-password .theme-company-logo
{
   background-image: url("../../customizations/components/images/logo.png");
   height: 60px;
}
