.details .form-container input,
.details .form-container textarea
{
   width: 37em;
}

.details .yui-gd .yui-u
{
   width: 70% !important;
}

.details .yui-gd .yui-u.first
{
   width: 18% !important;
}

.details .edit-metadata a
{
   background: transparent url(images/edit-metadata-16.png) no-repeat 12px 4px;
   padding-left: 32px;
}
