.details input[type="text"],
.details textarea
{
   width: 26em;
}

.details select
{
   width: 26.5em;
}

.details .yui-gd .yui-u.first
{
   width: 18% !important;
}

.details .yui-gd .yui-u
{
   width: 70% !important;
}
