.move-to .hd .light
{
   font-weight: normal;
}

.move-to .treeview
{
   height: 20em;
   overflow-y: auto;
   padding: 0.5em;
}

.move-to .treeview
{
   border: 1px solid #e0e0e0;
   height: 20em;
   margin: 0.5em 0.5em 0px;
   overflow-y: auto;
   width: 38em;
}

.move-to .treeview .ygtvspacer
{
   display: block;
   width: 18px;
}

.move-to .treeview .ygtvchildren
{
   background-color: #ffffff;
   width: 100%;
}

.move-to .treeview .ygtvitem
{
   overflow-x: visible;
}

.move-to .ygtvitem .no-permission
{
   color: #c0c0c0;
}

.move-to .ygtvlabel,
.move-to .ygtvlabel:link,
.move-to .ygtvlabel:visited,
.move-to .ygtvlabel:hover
{
   background: none;
   color: #000;
   white-space: nowrap;
}

.move-to .ygtverror,
.move-to .ygtverror:link,
.move-to .ygtverror:visited,
.move-to .ygtverror:hover
{
   background: red;
   color: white;
}

.move-to .selected
{
   background-color: #d2e5f2;
}
