.permissions .hd .light
{
   font-weight: normal;
}

.permissions select
{
   width: 26.5em;
}

.permissions .hidden
{
   display: none;
}

.permissions .yui-gd .yui-u.first
{
   width: auto !important;
   padding-top: 0.75em !important;
}

.permissions .yui-gd .yui-u.first.reset-btn
{
   padding-top: 0em !important;
   width: 25% !important;
}

.permissions .actions
{
   margin-left: 5em;
}

.permissions .groups
{
   border: 1px solid #c0c0c0;
   margin: 0em 4em 1em 4em;
}

.permissions h2
{
   padding: 0em 0em 0.75em 0em !important;
   margin-left: 3.33em;
}