.workflow div.yui-u
{
   padding: 0 !important;
}


.workflow .field
{
   margin: 0 2em;
   padding-bottom: 1em;
}

.workflow .field textarea
{
   width: 99%;
}

.workflow .people-wrapper
{   
}

.workflow .people-selected
{
   border: 1px solid #c0c0c0;
   height: 200px;
   overflow-x: hidden;
   overflow-y: auto;
}

.workflow a.remove-person
{
   background-image: url(../images/remove-16.png);
   display: block;
   height: 16px;
}

.workflow .calendar-overlay .bd
{
   padding: 0;
}

.workflow .calendar
{
   border: none;
   padding: 1em;
}


/* YUI Grid local alterations */

.yui-ge div.first, .yui-gf .yui-u
{
   width: 64.2%;
}

.yui-ge .yui-u, .yui-gf div.first
{
   width: 34%;
}

/* DataTable */

.workflow .people-selected table
{
   width: 100%;
   border: none;
}
.workflow .people-selected table thead
{
   display: none;
}
.workflow .people-selected table td
{
   border-right: medium none;
   border-top: 1px solid #f0f0f0;
}
.workflow .people-selected table .yui-dt-empty
{
   background-color: transparent;
}

.workflow tr.yui-dt-odd
{
   background-color: #ffffff;
}
.workflow tr.yui-dt-odd.yui-dt-highlighted,
.workflow tr.yui-dt-even.yui-dt-highlighted
{
   background-color: #e8f6ff;
   cursor: auto;
}

.workflow .yui-dt-liner
{
   padding: 4px;
}