/* Header Component */
.header
{
   padding-top: 0.5em;
}

.header span.menu-item
{
    vertical-align: middle;
    padding: 8px 10px 0px;
    margin: 0px;
    text-valign: middle;
    white-space: nowrap;
}

.header div.logo
{
    float: left;
    margin: 0px 0px 0px 10px;
}

.header div.personal-menu
{
    float: left;
    margin: 5px 0px 0px 10px;
}

.header div.collaboration-menu
{
    text-align: center;
    margin: 5px 0px 0px 0px;
}

.header div.util-menu
{
    margin: 5px 10px 0px 0px;
    float: right;
}
