/********
 * FORM *
*********/
.createTopicForm {
  margin: 4px;
  border: thin solid #000;
  padding: 4px;
  background-color: #FAFAFA;
}
.createTopicForm label {
  width: 100px;
  float: left;
  text-align: right;
  clear: left;
  margin: 5px 15px 7px 0;
}
.createTopicForm input, .createTopicForm textarea {
  margin-bottom: 15px;
}
.createTopicForm .yui-editor-container {
  margin: 0px 0px 10px 114px;
}

.createTopicForm .nodeFormAction {
  margin: 25px 0 10px 115px;
}

.createTopicForm .taglibrary {
  margin-bottom : 10px;
  margin-left : 115px;	
}



/***********
 * GENERAL *
************/
.hidden {
  display: none;
}
.spacer {
  margin: 0 7px;
  color: #ccc;
  font-size: 116%;
}
