/***********
 * REPLIES *
************/
.reply .nodeFooter {
	background:  transparent;
	border: none;
	margin-top: 5px;
}
.indented {
	margin-left: 30px;
}



/* Topic list header */

.topiclist-header .align-right
{
   text-align: right;
}

.topiclist-header .toolbar
{
   clear: both;
   height: 2em;
   margin: 0 -10px;
   padding: 0.5em;
   background-color: #e3eaec;
   border-bottom: 2px solid #f0f3f4;
}

.topiclist-header div.hideable
{
   float: left;
}

.toolbar .createTopic button {
   padding-left: 2.5em; 
   background: url(../images/new-blog-16.png) no-repeat 10% 50%;
}

.toolbar .rss-feed {
   padding: 0.5em;
}

.toolbar .separator {
   padding: 0.5em;
}

.toolbar .rss-feed a {
   background-image : url(../images/feed-icon-16.png);
   background-repeat : no-repeat;
   padding-left : 20px;
}

.topiclist-header .topiclist-infobar
{
  width: auto;
  height: 30px;
  background-color: #ebeff1;
  border-bottom: thin solid #fff;
  margin: 0 -10px;
  padding-right: 10px;
}

.topiclist-infobar .listTitle {
  font-family: Helvetica, Trebuchet, sans-serif;
  font-weight: normal;
  font-size: 123.1%;
  color: #333333;
}

.topiclist-infobar .paginator {
  text-align: right;
  padding: 3px;
}

/* tag library */
/* Tag lib */
.editNodeForm .taglibrary {
  margin-bottom : 10px;
  margin-left : 115px;	
}

