
/* Topic list header */

.topiclist-header .align-right
{
   text-align: right;
}

.topiclist-header .toolbar
{
   clear: both;
   height: 2em;
   margin: 0 -10px;
   padding: 0.5em;
   background-color: #e3eaec;
   border-bottom: 2px solid #f0f3f4;
}

.topiclist-header div.hideable
{
   float: left;
}

.topiclist-header .hidden {
   display: none;
}

.toolbar .createTopic button {
   padding-left: 2.5em; 
   background: url(../images/new-blog-16.png) no-repeat 10% 50%;
}

.toolbar .rss-feed {
   padding: 0.5em;
}

.toolbar .separator {
   padding: 0.5em;
}

.toolbar .rss-feed a {
   background-image : url(../images/feed-icon-16.png);
   background-repeat : no-repeat;
   padding-left : 20px;
}

.topiclist-header .topiclist-infobar
{
  width: auto;
  height: 30px;
  background-color: #ebeff1;
  border-bottom: thin solid #fff;
  margin: 0 -10px;
  padding-right: 10px;
}

.topiclist-infobar .listTitle {
  font-family: Helvetica, Trebuchet, sans-serif;
  font-weight: normal;
  font-size: 123.1%;
  color: #333333;
  float: left;
  padding: 4px 10px;
}

.topiclist-infobar .paginator {
  text-align: right;
}


/*******************
 * WYSIWYG CONTENT *
********************/
.yuieditor strong {
  font-weight: bold;
}
.yuieditor em {
  font-style: italic; 
}
.yuieditor ul, .yuieditor ol {
  padding-left: 40px;
}
.yuieditor ul li {
  list-style-type: disc; 
}
.yuieditor ol li {
  list-style-type: decimal; 
}

/* Data table */

.topiclist table {
	width: 100%;
	border: none !important;
}
.topiclist table thead {
	display: none;
}
.topiclist table td {
	border: none !important;
}

.topiclist table .yui-dt-empty {
	background-color: transparent;
}
.topiclist table .yui-dt-liner {
	padding: 0px;
}

.topiclist .row-separator {
   border-bottom: 1px solid #c6c6c6;
}

.topiclist tr.yui-dt-odd .node{
  border-color:#EDF5FF;
}

/* Topic list elements */
/********
 * NODE *
*********/
.node, .reply, .comment {
  padding: 20px 10px;
  margin-left: 0px;
  margin-right: 0px;
  border: 2px solid #fff;
  voice-family: "\"}\""; 
  voice-family:inherit;
  display: inline-block;
}
html>body .node, .reply, .comment {
  display: block;
}
.node table td,
.reply table td,
.comment table td {
  vertical-align: top;
}
.node.simple {
  padding: 5px;
}
.overNode {
  background-color: #fffef5 !important;
  border: 2px solid #5A7380 !important;
}
.node .published {
  margin: 5px 0 10px 0;
}

.node .nodeTitle a {
  font-family: Helvetica, Trebuchet, sans-serif;
  font-weight: normal;
  font-size: 131%;
  line-height: 130%;
  color: #2b6eb5;
}

.node .nodeStatus {
  font-family: Trebuchet, sans-serif;
  font-weight: normal;
  font-size: 131%;
  line-height: 130%;
  color: #669966;
}

.nodeAttrLabel {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 100%;
  line-height: 130%;
  color: #606060;
}
.nodeAttrValue {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 100%;
  line-height: 130%;
  color: #333333;
}
.nodeAttrValue a {
  color: #2b6eb5;
}
.node .userLink {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 100%;
  line-height: 150%;
  color: #999999;
}
.node .userLink a {
  color: #2b6eb5;
}
.nodeContent {
  padding-right: 40px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 100%;
  line-height: 150%;
  margin-right: 140px;
}

.nodeFooter {
  background-color: #f8f8f8;
  border-top: 1px dashed #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  padding: 1px;
}
.nodeFooter .tag {
  background:transparent url(../images/tag-16.png) no-repeat scroll 0px 50%;
  padding-left: 18px;
}

.replyTo {
  background:transparent url(../images/reply-to-discussion-16.png) no-repeat scroll 0px 50%;
  padding-left: 20px;
}


/*************
 * EDIT BLOCK *
**************/
.nodeEdit {
  margin: 10px 0 0 15px;
  visibility: hidden;
  width: 150px;
  position: relative;
  float: right;
}
.showEditBlock {
  visibility: visible;
}
.nodeEdit div, .replyEdit div {
  padding: 2px 19px;
  margin-bottom: 4px;
}
.simple .nodeEdit {
  width: 200px;
  text-align: right;
  margin: 4px;
}
.nodeEdit .action-link {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 93%;
  line-height: 150%;
  color: #2B6EB5;
}

.nodeEdit .onViewTopic {
  background: url(../images/view-discussion-16.png) no-repeat scroll 0px 0px;
  padding-left: 20px;
  margin-right: 10px;
}
.nodeEdit .onAddReply {
  background: url(../images/reply-to-discussion-16.png) no-repeat scroll 0px 0px;
  padding-left: 20px;
  margin-right: 10px;
}
.nodeEdit .onEditTopic,
.nodeEdit .onEditReply,
.nodeEdit .onEditComment {
  background:url(../images/edit-discussion-16.png) no-repeat scroll 0px 0px;
  padding-left: 20px;
  margin-right: 10px;
}

.nodeEdit .onDeleteTopic,
.nodeEdit .onDeleteReply,
.nodeEdit .onDeleteComment {
  background: url('../images/delete-discussion-16.png') no-repeat scroll 0px 0px;
  padding-left: 20px;
}

