.topicview-header {
  width: auto;
  height: 30px;
  background-color: #ebeff1;
  border-bottom: 2px solid #929292;
  margin: 0 -10px;
  padding-right: 10px;
}

.topicview-header .backLink {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 116%;
  color: #333333;
  background: transparent url(../images/back-arrow.png) no-repeat scroll 3px 3px;
  padding: 0 5px 0 19px;
}

.topicview-header .listTitle {
  font-family: Helvetica, Trebuchet, sans-serif;
  font-weight: normal;
  font-size: 123.1%;
  color: #333333;
}

.topicview-header .left-aligned-cell {
  float: left;
  padding: 4px 10px;
}


/* tag library */
/* Tag lib */
.editNodeForm .taglibrary {
  margin-bottom : 10px;
  margin-left : 115px;	
}

/*******************
 * WYSIWYG CONTENT *
********************/
.yuieditor strong {
  font-weight: bold;
}
.yuieditor em {
  font-style: italic; 
}
.yuieditor ul, .yuieditor ol {
  padding-left: 40px;
}
.yuieditor ul li {
  list-style-type: disc; 
}
.yuieditor ol li {
  list-style-type: decimal; 
}


/****************
 * NODE DETAIL *
*****************/
.topicview, postview {
  background: #F8FAFB;
  border: 1px solid #c6c6c6;
  margin: 20px;
  margin-bottom: 0px;
}
.node .authorPicture, .reply .authorPicture, .comment .authorPicture {
  text-align: center;
  margin-right: 10px;
  width: 100px;
  position: relative;
  float: left;
}
.topicview .nodeFooter,.postview .nodeFooter {
  /* background:  #F8FAFB; */
  background: transparent;
  border: none;
  margin-top: 5px;
}
.topicview .nodeContent, .comment .nodeContent, .reply .nodeContent {
  margin-left: 110px;
}

.topicview .nodeFooter, .comment .commentFooter, .reply .nodeFooter {
  margin-left: 110px;
}



/********
 * NODE *
*********/
.node, .reply, .comment {
  padding: 20px 10px;
  margin-left: 0px;
  margin-right: 0px;
  border: 2px solid #fff;
  voice-family: "\"}\""; 
  voice-family:inherit;
  display: inline-block;
}
html>body .node, .reply, .comment {
  display: block;
}
.node table td,
.reply table td,
.comment table td {
  vertical-align: top;
}
.node.simple{
  padding: 5px;
}
.overNode {
  background-color: #fffef5;
  border: 2px solid #5A7380;
}
.node .published {
  margin: 5px 0 10px 0;
}

.node .nodeTitle a {
  font-family: Helvetica, Trebuchet, sans-serif;
  font-weight: normal;
  font-size: 131%;
  line-height: 130%;
  color: #2b6eb5;
}

.node .nodeStatus {
  font-family: Trebuchet, sans-serif;
  font-weight: normal;
  font-size: 131%;
  line-height: 130%;
  color: #669966;
}

.nodeAttrLabel {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 100%;
  line-height: 130%;
  color: #606060;
}
.nodeAttrValue {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 100%;
  line-height: 130%;
  color: #333333;
}
.nodeAttrValue a {
  color: #2b6eb5;
}
.node .userLink {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 100%;
  line-height: 150%;
  color: #999999;
}
.node .userLink a {
  color: #2b6eb5;
}
.nodeContent {
  padding-right: 40px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 100%;
  line-height: 150%;
  margin-right: 140px;
}

.nodeFooter {
  background-color: #f8f8f8;
  border-top: 1px dashed #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  padding: 1px;
}
.nodeFooter .tag {
  background:transparent url(../images/tag-16.png) no-repeat scroll 0px 50%;
  padding-left: 18px;
}

.replyTo {
  background:transparent url(../images/reply-to-discussion-16.png) no-repeat scroll 0px 50%;
  padding-left: 20px;
}



/*************
 * EDIT BLOC *
**************/
.nodeEdit {
  margin: 10px 0 0 15px;
  visibility: hidden;
  width: 150px;
  position: relative;
  float: right;
}
.showEditBloc {
  visibility: visible;
}
.nodeEdit div, .replyEdit div {
  padding: 2px 19px;
  margin-bottom: 4px;
}
.node.simple .nodeEdit {
  width: 200px;
}
.nodeEdit .action-link {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 93%;
  line-height: 150%;
  color: #2B6EB5;
}

.nodeEdit .onViewNode {
  background: url(../images/view-discussion-16.png) no-repeat scroll 2px 5px;
  padding-left: 20px;
}
.nodeEdit .onAddReply {
  background: url(../images/reply-to-discussion-16.png) no-repeat scroll 2px 5px;
  padding-left: 20px;
}
.nodeEdit .onEditTopic {
  background:url(../images/edit-discussion-16.png) no-repeat scroll 2px 5px;
  padding-left: 20px;
}
.nodeEdit .onEditBlogPost {
  background:url(../images/edit-blog-16.png) no-repeat scroll 2px 5px;
  padding-left: 20px;
}
.nodeEdit .onDeleteTopic {
  background: url('../images/delete-discussion-16.png') no-repeat scroll 2px 5px;
  padding-left: 20px;
}
.nodeEdit .onDeleteBlogPost {
  background: url('../images/delete-blog-16.png') no-repeat scroll 2px 5px;
  padding-left: 20px;
}
.nodeEdit .onUpdateExternal {
  background: url(../images/update-external-16.png) no-repeat scroll 2px 5px;
  padding-left: 20px;
}
.nodeEdit .onPublishExternal {
  background: url(../images/publish-external-16.png) no-repeat scroll 2px 5px;
  padding-left: 20px;
}
.nodeEdit .onUnpublishExternal {
  background: url(../images/unpublish-external-16.png) no-repeat scroll 2px 5px;
  padding-left: 20px;
}

/********
 * FORM *
*********/
.editNodeForm {
  margin: 4px;
  border: thin solid #000;
  padding: 4px;
  background-color: #FAFAFA;
}
.editNodeForm label {
  width: 100px;
  float: left;
  text-align: right;
  clear: left;
  margin: 5px 15px 7px 0;
}
.editNodeForm input, .editNodeForm textarea {
  margin-bottom: 15px;
}
.editNodeForm .yui-editor-container {
  margin: 0px 0px 10px 114px;
}

.editNodeForm .nodeFormAction {
  margin: 25px 0 10px 115px;
}

/***********
 * GENERAL *
************/
.hidden {
  display: none !important;
}
.spacer {
  margin: 0 7px;
  color: #ccc;
  font-size: 116%;
}
