/* Style YUI components */

/* Add padding and make sure left: float doesn't place them in a row */
.customise-layout div.currentLayout,
.customise-layout div.layouts,
.customise-layout div.buttons
{
   padding-top: 1em;
   padding-bottom: 1em;
   clear: both;
}

/* Make sure left: float doesn't place them in a row */
.customise-layout hr
{
   clear: both;
}

/* Center the contents in the section */
.customise-layout div.currentLayout div,
.customise-layout div.layouts div
{
   text-align: center;
}

/* Center the contents in the sections */
.customise-layout div.currentLayout div div.text,
.customise-layout div.layouts div div.text
{
   width: 52em;
   margin-left: auto;
   margin-right: auto;
   padding-top: 1em;
   padding-bottom: 1em;
   text-align: left;
}

/* Style the lists containing dashlets */
.customise-layout ul
{
   position: relative;
   list-style: none;
   padding: 1em;
   margin-left: auto;
   margin-right: auto;
}

/* Set width and height of the layouts list */
.customise-layout div.layouts ul
{
   width: 52em;
   height: 30em;
}

/* Set the layout width and let them flow in the list */
.customise-layout div.layouts ul li
{
   width: 25em;
   float: left;
   margin: 0.5em;
   text-align: left;
}

/* Align the layout description to the left */
.customise-layout div.layouts ul li .layoutDescription
{
   text-align: left;
   padding: 0em 0.5em 0.5em 1em;
}

/* Make the layout box gray and center it's content*/
.customise-layout .layoutBox
{
   background-color: #f7f7f7;
   text-align:center;
}

/* Center the laout yimage */
.customise-layout .layoutIcon
{
   padding:1em;
   vertical-align:middle;
   height:10em;
}
