/* Style YUI components */

/* Style the lists containing dashlets */
.customise-dashlets ul.dashletList,
.customise-dashlets ul.columnList
{
   position: relative;
   height: 15.9em;
   background: #FFFFFF;
   border: 1px solid gray;
   list-style: none;
   margin:0;
   padding:1px;
   text-align: center;
}

/* Center the available dashlet list, make it wide and ready to handle lots of dashlets*/
.customise-dashlets ul.dashletList
{
   overflow-y: auto;
   margin-left: auto;
   margin-right: auto;
   width: 53em;
}

/* Make the column dashlet list a bit thinner */
.customise-dashlets ul.columnList
{
   width: 17.2em;
}

/* Make the dashlets 200 wide and let them flow if the column is wide enough */
.customise-dashlets ul.dashletList li,
.customise-dashlets ul.columnList li
{
   width: 17em;
   float: left;
}

.dashlet-item,
.dashlet-shadow
{
   margin: 1px;
   background-color: #f7f7f7;
   height: 3em;
   text-align: center;
}

/*
 * Since the a is the one that gets focus we use a transparent gif inside it
 * to make sure IE displays a nice dottec line around the "link".
 * Change the cursor to a move cursor on mouse over.
 */
.dashlet-item a img
{
   width: 100%;
   height: 100%;
   cursor: move;
}

/* Vertically center the text. */
.dashlet-item span {
   position:relative;
   top:-2.5em;
}

/* Show the shadow as white. */
.dashlet-shadow
{
   background-color: #FFFFFF;
}

/* Show dashlets as gray when they are focused. */
.dashlet-item.focused
{
   background-color: #DDDDDD;
}

/* Center the sections */
.customise-dashlets div.instructions,
.customise-dashlets div.dashlets,
.customise-dashlets div.columns,
.customise-dashlets div.buttons
{
   text-align: center;
   padding-top:1em;
   padding-bottom:1em;
}

/* Center the column wrapper div */
.customise-dashlets div.instructions div,
.customise-dashlets div.dashlets div,
.customise-dashlets div.columns div
{  
   width: 52em;   
   margin-left: auto;
   margin-right: auto;
}

.customise-dashlets div.text
{
   padding-top: 1em;
   padding-bottom: 1em;
   text-align: left;
}

.customise-dashlets div.columns div.noOfColumns4
{
   width: 72em;
}

.customise-dashlets div.columns div.noOfColumns3
{
   width: 54em;
}

.customise-dashlets div.columns div.noOfColumns2
{
   width: 36em;
}

.customise-dashlets div.columns div.noOfColumns1
{
   width: 18em;
}


/* Make sure the columns are displayed on row even though they are block elements  */
.customise-dashlets div.columns div div
{
   float: left;
   width: 18em;
   /*margin-left: 10px;*/
}

/*
 * Stop the float: left from the columns and make sure the buttons are
 * displayed on a new row.
 */
.customise-dashlets div.buttons{
   clear: both;
}
