.taglibrary br.clear {
	clear: both;	
}

.taglibrary .rel_left {
	position: relative;
	float: left;
}
.taglibrary .title {
	padding-top: 5px;
	font-weight: bold;
}

.taglibrary input {
   margin-top: 2px;
}

.taglibrary yui-button {
	margin-top: 0px;
}

.bottom_taglist {
	margin-top: 10px;
}

.tags_box ul {
 	padding-left: 0px;
}

.tags_box li {
	position: relative;
	float: left;
	padding: 7px 3px 7px 0px;
	margin-bottom: 10px;
}

.tags_box li a {
	text-decoration: none;
	white-space: nowrap;
	padding: 5px 0px 5px 18px;
	background: URL('images/tag-16.png') no-repeat 0px 4px;
}
.tags_box li a .add, .tags_box li a .remove {
	visibility: hidden;
	padding: 1px 2px 1px 18px;
}

.tags_box li a:link { color: #448; }
.tags_box li a:visited { color: #667; }

.tags_box li a:hover {
	border-color: #FE3;
	color: #FFF;
	white-space: nowrap;
	padding: 5px 0px 5px 18px;
	background: #939292 URL('images/tag-16.png') no-repeat 0px 4px;
}

.tags_box li a:hover .remove {
	visibility: visible;
	background: #939292 URL('images/remove-tag-18.png') no-repeat 0px 0px;
}

.tags_box li a:hover .add {
	visibility: visible;
	background: #939292 URL('images/add-tag-18.png') no-repeat 0px 0px;
}

