/* Sticky Footer */
*
{
   margin: 0;
}

html, body
{
   height: 100%;
}

.sticky-wrapper
{
   min-height: 99%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -2.4em;
}

.sticky-footer, .sticky-push
{
   height: 2.4em;
}

/* Site-wide Styles */
body
{
   font-family: Arial, sans-serif;
   font-size: 81%;
   color: #515D6B;
}

.caret-fix
{
   overflow-x: auto;
}

.clear
{
    clear: both;
    display: block;
    height: 1px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

a
{
   color: black;
   text-decoration: none;
   outline: none;
}

a:hover
{
   color: black;
   text-decoration: underline;
}

a:visited
{
   color: black;
}

h1
{
   font-family: Helvetica, Arial, sans-serif;
   font-size: 146.5%;
   font-weight: normal;
}

h2
{
   font-weight: bold;
   font-size: 123.1%;
}

h1 .light,
h2 .light
{
   color: #adcde3;
}

h3
{
   font-weight: bold;
   font-size: 108%;
}

h4
{
   font-weight: bold;
}

h3 .light,
h4 .light
{
   color: #a2a2a2;
}

p
{
   padding-top: 10px;
   padding-bottom: 3px;
}

hr
{
   height: 1px;
   margin-top: 5px;
   margin-bottom: 8px;
   border: 0;
   width: 100%;
   color: #E4E4E4;
   background-color: #E4E4E4;
}

.label
{
   font-weight: bold;
}

.error
{
   background: white !important;
   color: red !important;
}
.error-alt
{
   background-color: red !important;
   color: white !important;
}

.yui-skin-default .yui-panel
{
   border-bottom:medium none;
}

.yui-skin-default .mask
{
   opacity: 0.25;
}

.yui-skin-default .yui-panel .hd,
.yui-skin-default .yui-panel .bdft
{
   color: #515D6B;
   background: #E3EBEC;
   border-bottom: 1px solid #C4C5C5;
   text-align: center;
   border-left-color: #C4C5C5;
   border-right-color: #C4C5C5;
}

.yui-skin-default .yui-panel .hd
{
   font-size: 123.1%;
   font-weight: bold;
   border-bottom: 1px solid #C4C5C5;
   line-height: 35px;
}

.yui-skin-default .yui-panel .bdft
{
   font-size: 100%;
   border-top: 1px solid #C4C5C5;
}


.yui-skin-default .yui-panel .bd
{
   color: #515D6B;
   background-color: #F9FBFD;
   border-left-color: #C4C5C5;
   border-right-color: #C4C5C5;
   padding: 0;
   text-align: left;
}

.yui-skin-default .yui-panel .yui-g h2,
.yui-skin-default .yui-panel .bd div.yui-gd,
.yui-skin-default .yui-panel .bd div.yui-u,
.yui-skin-default .yui-panel .bd div.bdft
{
   padding: 0.3em;
}

.yui-skin-default .yui-panel .yui-gd .yui-u.first
{
   width: 28%;
}

.yui-skin-default .yui-panel .yui-gd .yui-u
{
   width: 60%;
}


/* Style the default message  */

.yui-skin-default #message
{
   border: medium none;
}

.yui-skin-default #message .bd
{
   padding:2em;
   background-color:#808080;
   color:white;
}

.yui-skin-default #message .bd span.wait
{
   background-image: url(images/wait.gif);
   background-repeat: no-repeat;
   padding: 4px 0 0 24px;
   visibility: visible;
}

/* Style the default prompt */

.yui-skin-default #prompt
{
   border-top: 1px solid #C4C5C5;
   border-bottom: 1px solid #C4C5C5;
   background-color: #E3EBEC;
}

.yui-skin-default #prompt .hd
{
   border-bottom:medium none;
}

.yui-skin-default #prompt .bd
{
   padding: 1em;
   background-color: #e3ebec;
}

.yui-skin-default #prompt .ft .button-group
{
   display: block;
   padding-top: 0.5em;
   text-align: center;
}

.yui-skin-default #prompt .ft
{
   border-left: 1px solid #c4c5c5;
   border-right: 1px solid #c4c5c5;
   background-color: #e3ebec;
}


/* Page title and navigation styles */

.page-title
{
   background-color: #5497c4;
   border-top: 1px dotted #45637f;
   clear: left;
   color: white;
   line-height: 2em;
   margin: 0px -10px;
   min-height: 2em;
   padding: 11px 10px;
}

.page-title a:visited,
.page-title a:hover,
.page-title a
{
   color: #FFFFFF;
}

.page-title div.title
{
   float: left;
}
.page-title div.links
{
   float: right;
}

.page-title h1
{
   display: inline;
}

div.site-navigation
{
   background-color: #5ba1d0;
   border-bottom: 1px solid #4B86ae;
   border-top: 1px dotted #bbd6e7;
   clear: left;
   color: white;
   margin: 0 -10px;
   min-height: 1em;
   padding: 10px 0;
}

span.navigation-separator,
span.navigation-item,
span.navigation-item-alt
{
   color: #9fc6e1;
   vertical-align: middle;
   margin: 0px;
}

span.navigation-item,
span.navigation-item-alt
{
   padding: 0px 0px 0px 6px;
}

span.navigation-item a,
span.navigation-item a:visited   
{
   color: #fff;
   padding: 3px 4px;
}

span.navigation-item a.active-page,
span.navigation-item a.active-page:visited,
span.navigation-item a:hover
{
   background-color: #d4e9f7;
   color: #000;
}

span.navigation-item-alt a,
span.navigation-item-alt a:visited   
{
   color: #e8ff96;
   padding: 3px 4px;
}

span.navigation-item-alt a.active-page,
span.navigation-item-alt a.active-page:visited,
span.navigation-item-alt a:hover
{
   background-color: #c5e8a5;
   color: #000;
}

span.navigation-separator
{
   padding: 0px 0px 0px 10px;
   text-align: center;
}

em
{
	font-style: italic;
}

.draggable
{
   cursor: move;
}

.drag
{
   cursor: move;
}

.dropInvalid
{
   cursor: no-drop;
}

.dropValid
{
   cursor: pointer;
}


select,
input[type="text"],
textarea
{
   border: 1px solid #C5D6E2;
   padding: 2px;
   font-weight: normal;
   width: 15em;
}
