/* CSS Overrides for Microsoft Internet Explorer v6 */

/**
 * Global site header
 */
.header .logo-wrapper
{
   margin-bottom: -1px;
   margin-right: -3px;
   padding-bottom: 4px;
}

.header .menu-wrapper {
   padding:17px 0 14px;
}

.header div.util-menu
{
   margin-top: -1px;
}

.header .search-site-icon
{
   margin-left: -4px;
}

/* These messages/dialogs was getting full width if none was specified */

.yui-skin-default #prompt
{
   width: 400px;
}

.yui-skin-default #message
{
   width: 400px;
}

/**
 * Buttons
 *
 * Border property "transparent" doesnt work in IE6.
 * Set it to use a background color instead.  
 */
.yui-skin-default .flat-button .yui-button .first-child,
.yui-skin-default .flat-button .yui-button
{
   border-color: #E3EAEC;   
}

.yui-skin-default .flat-button .yui-button.yui-button-hover .first-child,
.yui-skin-default .flat-button .yui-button.yui-button-hover
{
   border-color: #808080;
}

/**
 * Dashlets
 */

/* Some dashlets with css float in the body lost their border */
div.dashlet .body .clear
{
   clear: both;
   height: 1px;
}

/**
 * Page title and navigation
 */
.page-title
{
   height: 2.2em;
   line-height: 2.2em;   /*padding-bottom: 2em;*/
}

.page-title div.title
{
   margin-top: -4px;
}

/**
 * Re-apply the color for the popup bodies
 */
.yui-skin-default .yui-panel .bd
{
   color: #515D6B;
   background-color: #F9FBFD;
}

/**
 * Flash Upload needs some extra width on its popup to look good 
 */
.yui-panel-container .flash-upload
{
   width: 650px;
}


/**
 * Fix for 1 column dashboard layout
 */
div.grid.columnSize1 div.yui-u.first
{
   width:100%;
}

/**
 * Fix for 2/3 + 1/3 dashboard layout
 */
div.grid.columnSize2.yui-gc div.yui-u
{
   margin-left:1.99%;
   width:32%;
}

div.grid.columnSize2.yui-gc div.yui-u.first
{
   margin-left: 0;
   width:65%;
}

/**
 * Fix for 1/3 + 2/3 dashboard layout
 */

div.grid.columnSize2.yui-gd div.yui-u
{
   margin-left:1.99%;
   width:65%;
}

div.grid.columnSize2.yui-gd div.yui-u.first
{
   margin-left: 0;
   width:32%;
}

/**
 * Fix for 1/4 + 1/4 + 1/4 + 1/4 dashboard layout
 */
div.grid.columnSize4.yui-g div.yui-g
{
   margin-left:1.5%;
   width: 49%;
}

div.grid.columnSize4.yui-g div.yui-g.first
{
   margin-left: 0;
   width: 49%;
}

div.grid.columnSize4.yui-g div.yui-g div.yui-u {
   margin-left: 1.5%;
   width:47.5%;
}

div.grid.columnSize4.yui-g div.yui-g div.yui-u.first
{
   margin-left: 0;   
   width: 47.5%;
}

/**
 * Customise layouts
 */
.customise-layout div.layouts ul
{
   width:62em;
}

/**
 * Customise dashlets
 */

.customise-layout div.layouts ul
{
   overflow: hidden;
   width:61em;   
}

.customise-dashlets div.used div.noOfColumns1
{
   width:28em;
}

.customise-dashlets div.used div.noOfColumns2
{
   width:48em;
}

.customise-dashlets div.used div.noOfColumns3
{
   width:68em;
}

.customise-dashlets div.used div.noOfColumns4
{
   width:88em;
}

.customise-dashlets div.available,
.customise-dashlets div.used
{
   background-color: white;
}

.customisableDashlet
{
   overflow: hidden;
}

/**
 * Members / invite pages
 */
.members-bar
{
   height: 1em;
}


/**
 * Document Library
 */
.toolbar .header-bar,
.toolbar .nav-bar
{
   padding-bottom: 2em;
}

.doclist a.action-link,
.doclist a.simple-link,
.doclist a.show-more
{
   height:16px;
   width: 1px;
}

/**
 * Profile
 */
.toolbar.userprofile
{
   height: 1.2em;
}

/**
 * Padding to some of the dashetls
 */

div.dashlet.site-profile div.body,
div.dashlet.wiki div.body,
div.dashlet.cmis div.body div,
div.dashlet.rssfeed div.body,
div.dashlet.calendar div.body
{                          
   padding-left:8px;
   padding-right:8px;
}

.toolbar,
.pagelist
{
   margin: 0;
}