/* CSS Overrides for Microsoft Internet Explorer v7 */


/**
 * Global site header
 */
.header div.util-menu
{
    margin-top: -2px;
}

.header .search-site-icon
{
   top: -2px;
}


/**
 * Document Library
 */
.toolbar .selected-items hr
{
   color: #e4e4e4;
   margin: 0px;
   text-align: center;
   width: 10em;
}

.workflow .people-selected
{
   height: 206px;
}