<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE beans PUBLIC '-//SPRING//DTD BEAN//EN' 'http://www.springframework.org/dtd/spring-beans.dtd'>

<beans>

    <bean id="vtiProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders">
            <value>true</value>
        </property>
        <property name="locations">
            <list>
                <value>classpath:alfresco/module/org.alfresco.module.vti/context/vti.properties</value>
                <!-- Override -->
                <value>classpath:alfresco/extension/custom-vti.properties</value>
            </list>
        </property>
    </bean>

</beans>
