.object-finder
{
}

.object-finder .current-values div
{
   float: left;
   padding: 0.5em;
}

.object-finder .current-values img
{
   position: relative;
   top: 3px;
}

.object-finder .show-picker
{
   clear: left;
}

.object-finder .picker
{
   display: none;
   margin-left: 2em;
   margin-top: 0.3em;
   width: 60em;
}

.object-finder .bd
{
   border: 2px solid #aaa;
   padding: 0.5em;
}

.object-finder .bdft
{
   margin-top: 1em;
   text-align: center;
}

.object-finder .picker-header
{
   height: 2em;
   padding: 0.5em;
}

.object-finder .picker-header div
{
   float: left;
}

.object-finder .picker-header .folder-up button
{
   background: transparent url(../images/up-arrow-16.png) no-repeat 50% 50%;
}
.object-finder .picker-header .folder-up .yui-button-disabled button
{
   background-image: url(../images/up-arrow-disabled-16.png);
}

.object-finder .picker-header .navigator span.wait
{
   background-image: url(../images/ajax_anim.gif);
   background-repeat: no-repeat;
   padding: 1px 0 2px 16px;
}

.object-finder .picker-header .navigator button span.item-icon img
{
   padding-right: 0.3em;
   vertical-align: middle;
}

.object-finder .picker-header .navigator button span.item-name
{
}

.object-finder .picker-header .navigator .navigator-items-list .yuimenuitemlabel
{
   padding: 0.2em 12px;
}

.object-finder .picker-header .navigator .navigator-items-list span.item-icon img
{
   padding-right: 0.3em;
   vertical-align: middle;
}

.object-finder .picker-header .navigator .navigator-items-list span.item-name
{
}

.object-finder .picker-items
{
   border: 2px solid #aaa;
   height: 20em;
   overflow-x: auto;
   overflow-y: scroll;
}

.object-finder .picker-items h3
{
   font-weight: normal;
}

.object-finder input.create-new-input
{
   width: 100%;
}

.object-finder .picker-items .icon16
{
   display: block;
   min-height: 16px;
   position: relative;
}

.object-finder .picker-items .icon32
{
   display: block;
   min-height: 32px;
   position: relative;
}

.object-finder .picker-items .icon16 span.new-item-overlay
{
   background: url(../form/images/new-overlay-16.png) no-repeat;
   display: block;
   height: 16px;
   width: 16px;
   position: absolute;
}

.object-finder .picker-items .icon32 span.new-item-overlay
{
   background: url(../form/images/new-overlay-32.png) no-repeat;
   display: block;
   height: 32px;
   width: 32px;
   position: absolute;
}

.object-finder .picker-items a.add-item:hover,
.object-finder .picker-items a.remove-item:hover,
.object-finder .picker-items a.create-new-item:hover
{
   text-decoration: none;
}

.object-finder .picker-items .addIcon
{
   background: transparent url(../images/add-icon-16.png) no-repeat center center;
   padding: 8px;
}

.object-finder .picker-items .removeIcon
{
   background: transparent url(../images/remove-icon-16.png) no-repeat center center;
   padding: 8px;
}

.object-finder .picker-items .createNewIcon
{
   background: transparent url(../form/images/create-new-16.png) no-repeat center center;
   padding: 8px;
}


.object-finder .picker-items table
{
   border: medium none;
   width: 100%;
}

.object-finder .picker-items thead
{
   display: none;
}

.object-finder .picker-items tbody
{
   outline: none;
}

.object-finder .picker-items tr.create-new-row
{
   background-color: #ffffe0;
}

.object-finder .picker-items.yui-dt .yui-dt-message td
{
   border: medium none;
}

.object-finder .picker-items.yui-dt .yui-dt-data td
{
   border-bottom: 1px dashed #d9d9d9;
   border-right: medium none;
   vertical-align: middle;
}

.object-finder .panel-left,
.object-finder .panel-right
{
}

.object-finder .panel-left .picker-items
{
   clear: left;
   margin-left: 0.5em;
   margin-right: 6px;
}

.object-finder .panel-right .picker-items
{
   clear: left;
   margin-right: 0.5em;
}

/* Compact Mode */
.object-finder.compact
{
   width: 50em;
}

.object-finder.compact .picker-items
{
   border: 1px solid #aaa;
}

.object-finder.compact .picker-items h3
{
   font-size: 100%;
}