/* Sticky Footer */
*
{
   margin: 0;
}

html, body
{
   height: 100%;
}

.sticky-wrapper
{
   min-height: 99%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -2.4em;
}

.sticky-footer, .sticky-push
{
   height: 2.4em;
}

/* Site-wide Styles */
body
{
   font-family: Trebuchet MS, Arial, sans-serif;
   font-size: 12px;
   color: #515D6B;
}

.hiddenComponents
{
   display: none;
}

div.clear
{
    clear: both;
    display: block;
    height: 1px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

a
{
   color: black;
   text-decoration: none;
}

a:hover
{
   color: black;
   text-decoration: underline;
}

a:visited
{
   color: black;
}

h1
{
   font-weight: bold;
   font-size: 167%;
}

h2
{
   font-weight: bold;
   font-size: 123.1%;
}

h2 .light
{
   color: #808080;
}

h3
{
   font-weight: bold;
   font-size: 108%;
}

h4
{
   font-weight: bold;
}

p
{
   padding-top: 10px;
   padding-bottom: 3px;
}

.label
{
   font-weight: bold;
}

.yui-skin-sam .yui-panel .bd, .yui-skin-sam .yui-panel .ft 
{
   background-color: #E3EBEC;
}

/* Page title and navigation styles */

.page-title
{
   color: white;
   background-color: #5497c4;
   margin: 2px -10px 0px -10px;
   padding: 8px 10px;
}

div.site-navigation
{
   color: white;
   background-color: #5ba1d0;
   border-top: 1px dotted #84b4d5;
   margin: 0px -10px 4px -10px;
   padding: 8px 10px;
}

span.navigation-separator, span.navigation-item
{
   color: #9fc6e1;
   vertical-align: middle;
   margin: 0px;
   text-valign: middle;
}

span.navigation-item
{
   padding: 0px 0px 0px 10px;
   white-space: nowrap;
}

span.navigation-item a
{
   color: white;
}

span.navigation-item a:hover
{
   color: white;
}

span.navigation-separator
{
   padding: 0px 10px;
   text-align: center;
}

