/* Sticky Footer */
*
{
   margin: 0;
}

html, body
{
   height: 100%;
}

.sticky-wrapper
{
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -2.5em;
}

.sticky-footer, .sticky-push
{
   height: 1.5em;
}


/* Site-wide Styles */
body
{
   font-family: Trebuchet MS, Arial, sans-serif;
   font-size: 12px;
   color: #515D6B;
}

.hiddenComponents
{
   display: none;
}

div.clear
{
    clear: both;
    display: block;
    height: 1px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h1
{
   font-weight: bold;
   font-size: 167%;
   border-bottom: 1px solid #dedede;
   border-top: 1px solid #dedede;
   padding: 8px 5px 5px 5px;
}

h2
{
   font-weight: bold;
   font-size: 123.1%;
}
h2 .light
{
   color: #808080;
}
