
.progressBar{
   position: relative;
   background: url( images/progress-bar-background.gif ) 0 0 repeat-x;
   height: 30px;
   padding: 0px 25px 0px 95px;
   margin: 0px;
   overflow: hidden;
}

.progressBar .progressSuccess, .progressBar .progressFailure{
   position: absolute;
   background: url( images/progress-bar-success.gif ) 0 0 repeat-x;
   top: 0px;
   left: -300px;
   height: 30px;
   width: 300px;
}

.progressBar .progressFailure{
   background: url( images/progress-bar-failure.gif ) 0 0 repeat-x;
}

.progressInfo{
   position: absolute;
   left: 5px;
   top: 8px;
}

.progressPercentage{
   position: absolute;
   right: 5px;
   top: 8px;
}
