/* DASHLETS */

.dashlet
{
   padding: 0px;
   border: 1px solid #bababa;
   background-color: white;
   margin: 10px 0px 10px 0px;
}

.dashlet .title
{
   padding: 5px 9px 5px 9px;
   background-color: #d7e0e7;
   border-bottom: 1px dotted #bababa;
}

.dashlet .toolbar
{
   background-color: #f6f6f6;
   padding: 5px 9px 5px 9px;
   border-bottom: 1px solid #d3d3d3;
}

.dashlet .toolbar a
{
   color: #5497c4;
}

.dashlet .body
{
	background-color: #f5f9fc;
   padding: 0.5em;
}

.dashlet .scrollableList
{
   height: 208px;
   padding: 9px;
   overflow: auto;
   /* TODO: need to revisit this */
   margin-right: 1px;
}

.dashlet .text-list-item
{
   padding-bottom: 6px;
}

.dashlet .detail-list-item
{
   clear: both;
   padding-top: 9px;
   padding-bottom: 9px;
   border-bottom: 1px solid #e9e9e9;
}

.dashlet .detail-list-item .icon,
.dashlet .detail-list-item .avatar
{
   float: left;
}

.dashlet .detail-list-item .avatar img
{
   width: 32px;
}

.dashlet .detail-list-item .details,
.dashlet .detail-list-item .person
{
   padding-left: 40px;
}

/* 3 column layout styling */

.yui-gb.grid .column1,
.yui-gb.grid .column3
{
   width:24%;
}

.yui-gb.grid .column2
{
   width:48%;
}