.task-details-header
{
   clear: both;
   padding: 0;
}

.task-details-header .links
{
   float: right;
}

.task-details-header h1
{
   float: left;
}

.task-details-header .clear
{
   clear: both;
}

