.task-edit-header
{
   clear: both;
   padding: 0;
}

.task-edit-header .actions
{
   float: right;
}

.task-edit-header h1
{
   float: left;
}

.task-edit-header .unassigned
{
   margin-bottom: 1em;
   padding: 0.5em 1em;
}

.task-edit-header .unassigned span
{
   background: left no-repeat url(../images/warning-16.png);
   padding-left: 2em;
}

.task-edit-header .clear
{
   clear: both;
}

