body {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#333;
	padding: 0px;
	margin: 0px;
}
.regionFrameButton {
	width: 24px
}
.iframeStyle1 { border-color: #FF0000 #00FF00 #0000FF #000000; padding-top: 10px; padding-right: 10px; padding-bottom: 20px; padding-left: 20px; border-style: groove; border-top-width: 5px; border-right-width: 5px; border-bottom-width: 10px; border-left-width: 5px}

.floatingMenu
{
	border-left: 1px gray solid;
	border-top: 1px gray solid;
	border-right: 1px black solid;
	border-bottom: 1px black solid;
	padding: 2px;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 12px;
}
.floatingMenuHeader
{
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 12px;
	background-color: #ffffff;
	border-bottom: 1px gray solid;
}
.floatingMenuOptions
{
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 12px;
	background-color: #eeeeee;
}
A.floatingMenuOptions:link { color: #000000; text-decoration: none; }
A.floatingMenuOptions:visited { color: #000000; text-decoration: none; }
A.floatingMenuOptions:hover { color: #000000; text-decoration: none; }
A.floatingMenuOptions:active { color: #000000; text-decoration: none; }
	
.wizardFormPanel
{
	background-color: #aa0000;
}









.spacestree-icon-companyhome
{
	background-image:url(../images/default/icons/spacestree/companyhome.gif) !important;
}



.tree-icon-webapplicationroot
{
    background-image:url(../images/default/icons/contenttree/webapproot.gif) !important;
}

.tree-icon-webapplication-folder
{
    background-image:url(../images/default/icons/contenttree/folder.gif) !important;
}

.tree-icon-webapplication-file
{
    background-image:url(../images/default/icons/contenttree/file.gif) !important;
}

.tree-icon-webapplication-imagefile
{
    background-image:url(../images/default/icons/filetypes/image.gif) !important;
}

.tree-icon-webapplication-textfile
{
    background-image:url(../images/default/icons/filetypes/txt.gif) !important;
}

.tree-icon-webapplication-xmlfile
{
    background-image:url(../images/default/icons/filetypes/xml.gif) !important;
}

.tree-icon-webapplication-htmlfile
{
    background-image:url(../images/default/icons/filetypes/html.gif) !important;
}

.tree-icon-webapplication-pdffile
{
    background-image:url(../images/default/icons/filetypes/pdf.gif) !important;
}





.tree-icon-rootnode
{
    background-image:url(../images/default/icons/navtree/rootnode.gif) !important;
}

.tree-icon-node
{
    background-image:url(../images/default/icons/navtree/rootnode.gif) !important;
}




.tree-icon-componenttree-root
{
    background-image:url(../images/default/icons/comptree/site.gif) !important;
}

.tree-icon-componenttree-component
{
    background-image:url(../images/default/icons/comptree/component.gif) !important;
}

.tree-icon-componenttree-componenttype
{
    background-image:url(../images/default/icons/comptree/component-type.gif) !important;
}





.maintoolbar-icon-getting-started
{
    background-image:url(../images/default/icons/info_icon.gif);
}
.maintoolbar-icon-view-sandbox
{
    background-image:url(../images/default/icons/toolbar/view_sandbox.gif) !important;
}
.maintoolbar-icon-view-dashboard
{
    background-image:url(../images/default/icons/dashboard.gif) !important;
}
.maintoolbar-icon-watch-tutorials
{
    background-image:url(../images/default/icons/info_icon.gif);
}
.maintoolbar-icon-learn-about-alfresco
{
    background-image:url(../../../images/logos/AlfrescoLogo32.gif);
}
.maintoolbar-icon-configure-web-site
{
    background-image:url(../images/default/icons/toolbar/configure_website.gif);
}
.maintoolbar-icon-configure-endpoints
{
    background-image:url(../images/default/icons/toolbar/configure_endpoints.png) !important;
}
.maintoolbar-icon-manage-site-templates
{
    background-image:url(../images/default/icons/toolbar/manage_site_templates.gif) !important;
}
.maintoolbar-icon-manage-content-presentation
{
    background-image:url(../images/default/icons/toolbar/manage_content_presentation.gif) !important;
}
.maintoolbar-icon-manage-content-presentation
{
    background-image:url(../images/default/icons/toolbar/manage_content_presentation.gif) !important;
}
.maintoolbar-icon-manage-site-layouts
{
    background-image:url(../images/default/icons/toolbar/manage_site_layouts.gif) !important;
}
.maintoolbar-icon-copy-page
{
    background-image:url(../images/default/icons/toolbar/copy_page.gif) !important;
}
.maintoolbar-icon-paste-page
{
    background-image:url(../images/default/icons/toolbar/paste_page.gif) !important;
}
.maintoolbar-icon-associate-templates
{
    background-image:url(../images/default/icons/toolbar/associate_templates.gif) !important;
}
.maintoolbar-icon-open-template
{
    background-image:url(../images/default/icons/toolbar/open_template.gif) !important;
}
.maintoolbar-icon-refresh-cache
{
    background-image:url(../images/default/icons/toolbar/refresh_cache.gif) !important;
}
.maintoolbar-icon-add-web-content
{
    background-image:url(../images/default/icons/toolbar/add_web_content.gif) !important;
}
.maintoolbar-icon-start-workflow
{
    background-image:url(../images/default/icons/toolbar/start_workflow.gif) !important;
}
.maintoolbar-icon-left
{
    background-image:url(../../../images/logos/AlfrescoLogo32.gif) !important;
}











.tree-icon-navtree-addbutton
{
    background-image:url(../images/default/icons/buttons/add.gif) !important;
}
.tree-icon-navtree-editbutton
{
    background-image:url(../images/default/icons/buttons/edit.png) !important;
}
.tree-icon-navtree-deletebutton
{
    background-image:url(../images/default/icons/buttons/delete.gif) !important;
}






.dialog-grid-icon-addbutton
{
    background-image:url(../images/default/icons/buttons/add.gif) !important;
}
.dialog-grid-icon-editbutton
{
    background-image:url(../images/default/icons/buttons/edit.png) !important;
}
.dialog-grid-icon-deletebutton
{
    background-image:url(../images/default/icons/buttons/delete.gif) !important;
}
.dialog-grid-icon-optionsbutton
{
    background-image:url(../images/default/icons/buttons/options.gif) !important;
}




.regiontoolbar-icon-add-new-component
{
    background-image:url(../images/default/icons/regionToolbar/add_new_component.gif) !important;
}
.regiontoolbar-icon-add-existing-component
{
    background-image:url(../images/default/icons/regionToolbar/add_existing_component.gif) !important;
}
.regiontoolbar-icon-edit-component
{
    background-image:url(../images/default/icons/regionToolbar/edit_component.gif) !important;
}
.regiontoolbar-icon-delete-component
{
    background-image:url(../images/default/icons/regionToolbar/delete_component.gif) !important;
}



.region-window-body-configured-site-region .x-window-body 
{
    background-color: #4C7D7E;
    filter:alpha(opacity=95);
    opacity: 0.95;
    color: white;
    font-face: Verdana;
    font-size: 10px;
    padding-top:0px;
    padding-left:1px;
    
    border-left: 1px #4AA02C solid;
    border-top: 1px #4AA02C solid;
    border-bottom: 1px black solid;
    border-right: 1px black solid;;
}
.region-window-body-configured-template-region .x-window-body 
{
    background-color: #8A4117;
    filter:alpha(opacity=95);
    opacity: 0.95;
    color: white;
    font-face: Verdana;
    font-size: 10px;
    padding-top:0px;
    padding-left:1px;
    
    border-left: 1px #FBB117 solid;
    border-top: 1px #FBB117 solid;
    border-bottom: 1px black solid;
    border-right: 1px black solid;;
}
.region-window-body-configured-page-region .x-window-body 
{
    background-color: #25383C;
    filter:alpha(opacity=95);
    opacity: 0.95;
    color: white;
    font-face: Verdana;
    font-size: 10px;
    padding-top:0px;
    padding-left:1px;
    
    border-left: 1px #306EFF solid;
    border-top: 1px #306EFF solid;
    border-bottom: 1px black solid;
    border-right: 1px black solid;;
}
.region-window-body-unconfigured-region .x-window-body 
{
    background-color: #FFFFFF;
    filter:alpha(opacity=80);
    opacity: 0.8;
    color: black;
    font-face: Verdana;
    font-size: 11px;
    padding-top:0px;
    padding-left:1px;    
}