body
{
   background-color: #B4B4B4;
   text-align: left;
}

input
{
   border: 1px solid #C5D6E2;
   padding: 2px;
   font-weight: normal;
}

.yui-panel-container.shadow .underlay
{
   display: none;
}

.yui-skin-sam .yui-panel
{
   border-style: none;
}

.login-panel
{
   width: 502px;
   height: 289px;
   /*background: transparent url("./images/loginbg.png") no-repeat;*/
   padding-left: 28px;
   font-family: Arial,Helvetica,sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: #515354;
}

.login-button
{
   background-color: #f0f0f0;
}

.login-copyright
{
   font-family: Arial,Helvetica,sans-serif;
   font-size: 11px;
   font-weight: normal;
   color: #959a9b;
}

.login-logo
{
   top: 16px;
   height: 58px;
   width: 200px;
   background: transparent url("./images/logo.png") no-repeat;
}