/* CSS file */

VBox
{
	horizontalGap:1; 
	verticalGap:1;
}

HBox
{
	horizontalGap:1; 
	verticalGap:1;
}

Text
{
	font-family: Arial; 
	font-size: 12;
}

Label
{
	font-family: Arial; 
	font-size: 12;
}

.mainApplication
{
	background-color: #929292; 
	
	border-thickness: 5;
	border-style: solid;
	border-color: #929292;
}

.lightBackground
{
	background-color: #ffffff;
}