/* CSS file */

VBox
{
	horizontalGap:1; 
	verticalGap:1;
}

HBox
{
	horizontalGap:1; 
	verticalGap:1;
}

.mainApplication
{
	background-color: #9FA9B2;
	border-thickness: 1;
	border-style: solid;
	border-color: #9FA9B2;
}


/* Old stuff that may need removing */

searchCanvas 
{
	backgroundColor: #275065;
	borderStyle: solid;
}
	
searchCanvas1 
{
	backgroundColor: #cccccc;
	borderStyle: solid;
}
		
labelStyle 
{
	color: #477916;
}

TabNavigator 
{
	tabHeight: 29;
	tabWidth: 150;
	paddingLeft: 50;
}

ApplicationControlBar 
{
	cornerRadius: 0;
}