.audit 
{
   padding: 1em;
}
.audit .yui-u
{
   text-align:right;
}

.audit .first
{
   text-align: left;
}
.audit h2
{
   font-size: 120%;       
}
.audit-log .yui-u
{
   width: 100%;
}
.audit-log
{
   margin-top: 1em;
   position: relative;
}
.audit-log .yui-dt table
{
   width:100%;
}
.audit-log .yui-dt caption
{
   text-align: left;
   font:100% normal Arial,sans-serif;
}
.audit-log .first
{
   text-align: right;
}
.audit-info p
{
   margin-top:0.5em;
   padding:0;
}

/*.filterActions
{
   float: right;
}
.audit .filterActions,
.audit .defaultActions
{
   display: none;
   float: right;
}
.audit .filterActions .yui-button,
.audit .defaultActions .yui-button
{
   vertical-align: middle;
}
.audit .defaultActions.active,
.audit .filterActions.active    
{
   display: inline;
}
*/
.audit-peoplefinder
{
   display: none;
   position: absolute;
   right: 0;
   top: 4em;
   z-index: 100;
}
.audit-peoplefinder.active
{
   display: block;
}
.personFilter
{
   display: inline;
}
.personFilterRemove
{
   vertical-align: middle;
   margin: 0 5px;
   display: none;
}
.personFilter.active .personFilterRemove
{
   display: inline;
}
.personFilterRemove img
{
   vertical-align: middle;
}
.audit-peoplefinder
{
   width: 30em;
}

.audit .yui-gb .yui-u
{
   text-align:left;
}

#filters
{
   background-color:#DDD;
   height:10em;
   margin-top:1em;
}
#filters select,
#filters input
{
   width:13em;
}
#filters .hd,
#filters .bd
{
   margin:0.5em;
}
.filter label
{
   display:block;
   font-weight:bold;

}
.filter
{
   position:relative;
   height:10em;
}
.auditDT
{
   margin-top:-2.5em;
}
/* audit log popup page */
.audit-popup-log .audit-info
{
   margin: 1em;
}
.audit-popup-log .auditDT
{
   margin:0 1em;
}
.audit-popup-log .auditDT table
{
   width: 100%;
}
.audit-popup-log .auditDT caption
{
   visibility: hidden;
}
.audit-popup-log .audit
{
   padding: 0;
}
.audit-popup-log .audit-search
{
   width: 100%;
   text-align: center;
   padding: 0.5em;
}
.audit-popup-log .search
{
   vertical-align: middle;
}
.audit-popup-log .audit .defaultActions.active
{
   margin-right:1em;
}
.audit-popup-log .auditActions 
{
   margin:1em;
}
.datepicker
{
   display:none;
   position:absolute;
   z-index:100;
}

.datepicker-icon
{
   vertical-align: top;
   cursor:pointer;
   margin-bottom:1em;
}

#filters .yuimenu .hd,
#filters .yuimenu .bd
{
   margin:0;
}

.audit-details-button
{
   float:right;
}