.rule-edit
{
   padding: 1em;
}

.rule-edit .caption,
.rule-edit .rule-form,
.rule-edit .main-buttons
{
   width: 62em;
}

.rule-edit .caption
{
   text-align: right;
   padding: 0 1em 0.5em 1em;
}

.rule-edit .rule-form
{
   background-color: #F5FFF2;
   border: 1px solid #C2C2C2 !important;
   padding:0 1em 1em !important;
   margin-bottom: 1em;
}

.rule-edit .mandatory-indicator
{
   color: green;
   margin-left: 0.4em;
   margin-right: 0.4em;
}

.rule-edit .form-field
{
   float: left;
   width: 31em;
}

.rule-edit .rule-form input[type=text]
{
   width: 25em;
}

.rule-edit .rule-form input[type=checkbox]
{
   margin-right: 0.25em;
}

.rule-edit .form-field.description textarea
{
   width: 62em;
}

.rule-edit .form-field.title label,
.rule-edit .form-field.description label
{
   clear: both;
   display: block;
   margin-bottom: 0.1em;
}

.rule-edit h2
{
   padding-top: 1.2em;   
}

.rule-edit h2,
.rule-edit .form-field.description,
.rule-edit .form-field.executeAsynchronously,
.rule-edit .form-field.scriptLocation,
.rule-edit .main-buttons
{
   clear: both;
}

.rule-edit .form-field.disabled
{
   padding-bottom: 1em;
}

.rule-edit .form-field.title,
.rule-edit .form-field.executeAsynchronously
{
   padding-bottom: 0.5em;
}

.rule-edit .form-field.scriptLocation
{
   margin-left: 1.6em;
   width: 40em;
}

.rule-edit .main-buttons
{
   text-align: center;
}

.rule-edit.edit-mode .create-header,
.rule-edit.create-mode .edit-header,
.rule-edit.edit-mode .main-buttons .create-buttons,
.rule-edit.create-mode .main-buttons .edit-buttons
{
   display: none;
}

.rule-edit .if .rule-config
{
   border-bottom: none;
}

.rule-edit .configuration-separator
{
   background-image:url(../images/expanded.png);
   background-position:center center;
   background-repeat:no-repeat;
   padding:1em;
}