/* Sticky Footer */

*
{
   margin: 0;
}

html, body
{
   height: 100%;
}

#bd
{
   padding-bottom: 2em;
}

.sticky-wrapper
{
   height: auto !important;
   height: 100%;
   margin: 0 auto -50px;
   min-height: 100%;
}

.sticky-footer, .sticky-push
{
   height: 50px;
}

/* Site-wide Styles */

#alfresco-yuiloader
{
   display: none;
   height: 0;
   line-height: 0;
}

.caret-fix
{
   overflow-x: auto;
}

.clear
{
   clear: both;
   display: block;
   height: 1px;
   overflow: hidden;
   margin: 0;
   padding: 0;
}

.hidden
{
   display: none !important;
}

p
{
   padding-top: 10px;
   padding-bottom: 3px;
}

hr
{
   height: 1px;
   margin-top: 5px;
   margin-bottom: 8px;
   border: 0;
   width: 100%;
   clear: both;
}

.yui-button.inline-button span button
{
   min-height: 1.8em;
}

/* Page title and navigation styles */

.page-title
{
   clear: left;
   margin: 0px -10px;
   min-height: 2em;
   padding: 6px 10px;
}

.page-title div.title
{
   float: left;
}

.page-title div.links
{
   float: right;
   min-width: 36em;
   text-align: right;
}

.page-title h1
{
   display: inline;
   position: relative;
   top: 2px;
}

.site-navigation
{
   clear: left;
   margin: 0 -10px;
   min-height: 1em;
   padding: 5px 0 7px;
}

span.navigation-separator,
span.navigation-item,
span.navigation-item-alt
{
   vertical-align: middle;
   margin: 0px;
}

span.navigation-item,
span.navigation-item-alt
{
   padding: 0 0 0 6px;
}

span.navigation-item a,
span.navigation-item a:visited
{
   padding: 3px 4px;
}

span.navigation-item a.active-page,
span.navigation-item a.active-page:visited,
span.navigation-item a:hover
{
   text-decoration: none;
}

span.navigation-separator
{
   margin-right: 6px;
   padding-left: 8px;
   text-align: center;
}

span.navigation-separator-alt
{
   padding: 0px 0px 0px 10px;
   text-align: center;
}

/* Standard toolbar separator */

.toolbar .separator
{
   margin: 4px 10px 0 0;
   padding: 2px 0 0 4px;
}

/* Fixed Form-Based Pages */

.page-form-header
{
   margin: 4px;
   padding: 4px;
}

.page-form-body .yui-gd
{
   padding: 0.3em 0.3em 0.7em 0;
}

.page-form-body .yui-gd .yui-u
{
   width: 90% !important;
}

.page-form-body .yui-gd .first
{
   text-align: right;
   width: 5% !important;
}

/**
 * Replace default styles for HTML content
 */

.rich-content sub
{
   vertical-align: sub;
}

.rich-content sup
{
   vertical-align: super;
}

.rich-content ul,
.rich-content ol
{
   padding: 1em;
}

.rich-content ul > li
{
   list-style-type: disc;
   list-style-position: inside;
}

.rich-content ol > li
{
   list-style-type: decimal;
   list-style-position: inside;
}

.rich-content th,
.rich-content td
{
   padding: 0.2em;
}

.draggable
{
   cursor: move;
}

.drag
{
   cursor: move;
}

.dropInvalid
{
   cursor: no-drop;
}

.dropValid
{
   cursor: pointer;
}

select,
input[type="text"],
input[type="password"],
textarea
{
   padding: 2px;
   width: 15em;
}

select.wide,
input[type="text"].wide,
input[type="password"].wide,
textarea.wide
{
   width: 30em;
}

/* Richtext Editor Plug-ins */

.yui-toolbar-container .yui-toolbar-alfresco-imagelib span.yui-toolbar-icon
{
   left: 6px;
}

/* Dashlets */

.dashlet
{
   background-color: white;
   margin: 20px 0;
   padding: 0;
}

.dashlet.resizable
{
   padding-bottom: 6px !important;
}

.dashlet .title
{
   padding: 5px 9px 5px 9px;
}

.dashlet .feed
{
   float: right;
   height: 16px;
   left: -8px;
   position: relative;
   top: -22px;
   width: 16px;
}

.dashlet .feed a,
.dashlet .feed a:active,
.dashlet .feed a:hover
{
   display: block;
   height: 16px;
   text-decoration: none;
   width: 16px;
}

.dashlet .toolbar
{
   padding: 5px 9px 5px 9px;
}

.dashlet .body
{
   overflow-x: hidden;
}

.dashlet .body a,
.dashlet .body a:visited,
.dashlet .body a:hover
{
   outline: none;
   text-decoration: none;
}

.dashlet .body a:hover
{
   text-decoration: underline;
}

.dashlet .scrollableList
{
   height: 208px;
   padding: 8px 0px;
   overflow: auto;
}

.dashlet .scrollablePanel
{
   height: 208px;
   overflow: auto;
   margin-right: 1px;
}

.dashlet .body>div
{
   padding-left: 8px;
   padding-right: 8px;
}

.dashlet .msg
{
   padding-bottom: 8px;
   padding-top: 8px;
}

.dashlet .text-list-item
{
   padding-bottom: 6px;
}

.dashlet .detail-list-item
{
   clear: both;
   padding: 7px 9px;
}

div.dashlet div.detail-list-item.first-item
{
   float: none;
   padding-top: 0;
}

div.dashlet div.hdr
{
   margin-bottom: 5px;
   padding-top: 3px;
}

.dashlet .detail-list-item.last-item
{
   border-bottom: none;
}

.dashlet .detail-list-item .icon,
.dashlet .detail-list-item .avatar
{
   float: left;
}

.dashlet .detail-list-item .avatar img
{
   width: 32px;
}

.dashlet .detail-list-item .details,
.dashlet .detail-list-item .person
{
   padding-left: 40px;
}

.dashlet .detail-list-item .details2
{
   padding-left: 20px;
}

.yui-g.grid,
.yui-gb.grid,
.yui-gc.grid,
.yui-gd.grid
{
   margin: 0 10px;
}

/* 3 column layout */

.yui-gb.grid .column1,
.yui-gb.grid .column3
{
   width: 24%;
}

.yui-gb.grid .column2
{
   width: 48%;
}

/* 4 column layout */

.yui-g.grid .yui-g .yui-u
{
   width: 48%;
}

/* Twisters */

.alfresco-twister
{
   cursor: pointer;
   padding-left: 1em;
}

/* Filters */

.tag
{
   white-space: nowrap;
}

.filter ul
{
   padding: 0.5em 0 1em;
}

.filter li
{
   overflow-x: hidden;
   padding: 4px 0px 3px 20px;
}