/* CSS Overrides for Microsoft Internet Explorer v7 */

textarea
{
   font-family: Arial, sans-serif; 
} 

/**
 * Global site header
 */

.header .personal-menu
{
   padding-top: 6px;
}

.header div.util-menu
{
   margin-top: 4px;
   padding-top: 1px;
}

.header .link-menu-button
{
   padding-bottom:3px;
   padding-top:1px;
}

.header .search-site-icon
{
   top: -2px;
}


/**
 * Global site footer
 */
.footer-ent
{
   position: relative;
   top: -2px;
}

.footer-ent .copyright
{
   padding-bottom: 0;
   padding-top: 0;
}

.footer-ent .copyright img
{
   padding-bottom: 10px;
   padding-top: 10px;
}


/**
 * Page title and navigation
 */
.site-navigation
{
   margin-top: -1px;
   padding-top: 6px;
}

#Share .title-button .yui-button
{
   margin: 0 0.7em;
}


/**
 * Customise dashlets
 */
.customise-dashlets ul.availableList,
.customise-dashlets ul.usedList
{
   position: relative;
}

/**
 * Dashlets / position:relative and overflow:auto bug
 * Plus: inability to do anything according to any standards, ever
 */
.dashlet .scrollableList,
.dashlet .scrollablePanel
{
   background-color: #fff;
   position: relative;
}


/**
 * Dashlets that use a DataTable
 * Fixing MSIE's inability to do anything properly
 */
.my-documents .scrollableList,
.my-sites .scrollableList
{
   padding-right: 20px;
}

.my-documents table,
.my-sites table
{
   margin-right: -20px !important;
}


/**
 * Document Library
 */
.toolbar .selected-items hr
{
   color: #e4e4e4;
   margin: 0px;
   text-align: center;
   width: 10em;
}

.toolbar span.crumb
{
   background-position: left center;
}

.doclist .align-right
{
   margin-right: -1px;
}

.doclist .documents .detail
{
   width: 100%;
}

.workflow .people-selected
{
   height: 206px;
}


/**
 * Calendar
 */
.calendar-bar .align-right
{
   width: 68% !important;
}


/* Full preview background mask */

body.masked div.mask.full-preview-mask
{
   background-color: #303030;
   filter: alpha(opacity = 100);
}

/* Dialogs */

#Share #prompt
{
   width: 30em;
}

#Share .groups.remove-dialog
{
   width: 41em;
}

/* Prevent ghost border on first row for DataTables */
table .yui-dt-empty
{
   border: none !important;
}

