#Share .yui-panel
{
   border-style: none;
}

#Share .yui-panel .ft span.button-group
{
   text-align: center;
   vertical-align: middle;
}

#Share .yui-panel .bd
{
   padding: 0;
   text-align: left;
}

#Share .yui-panel .bd div.yui-gd,
#Share .yui-panel .bd div.yui-u,
#Share .yui-panel .bd div.bdft
{
   padding: 0.3em 0.3em 0.3em 0;
}

#Share .yui-panel .yui-g h2
{
   padding: 0.3em;
}

#Share .yui-panel .yui-gd .yui-u
{
   width: 60%;
}

#Share .yui-panel .yui-gd .yui-u.first
{
   width: 28%;
}

#Share .yui-panel .hd,
#Share .yui-panel .bdft,
#Share .yui-panel .ft
{
   text-align: center;
}

#Share .yui-panel .bd .yui-u.first
{
   padding: 0.3em 0 0.3em 2px;
   text-align: right;
}

#Share .yui-panel .bd.yui-calcontainer
{
   padding: 0.5em;
}

/* Style the default message  */

#Share #message
{
   border: medium none;
}

#Share #message .bd
{
   padding: 2em;
}

#Share #message .bd span.wait
{
   padding: 1px 0 0 24px;
   visibility: visible;
}

/* Style the default prompt and user input pop-ups */

#Share #prompt .hd,
#Share #userInput .hd
{
}

#Share #prompt .bd,
#Share #userInput .bd
{
   padding: 1em;
   text-align: center;
}

#Share #prompt .bd form,
#Share #userInput .bd form
{
   clear: both;
}

#Share #userInput .bd label
{
   padding-right: 0.5em;
   position: relative;
   top: 0.2em;
   vertical-align: top;
}

#Share #userInput .bd textarea
{
   height: 4em;
   position: relative;
   width: 40em;
}

#Share #prompt .ft .button-group,
#Share #userInput .ft .button-group
{
   display: block;
   text-align: center;
}

#Share #prompt .ft,
#Share #userInput .ft
{
}

#Share .flat-button a:hover
{
   text-decoration: none;
}

#Share .title-button .yui-button span a
{
   white-space: nowrap;
}

/* A combination of a link and splitbutton wrapped inside a span */

#Share .link-menu-button
{
   border: 1px solid transparent;
   padding-bottom: 2px;
   padding-top: 0;
   vertical-align: middle;
}

#Share .link-menu-button .yui-button,
#Share .link-menu-button .yui-button span,
#Share .link-menu-button .yui-button span button
{
   margin: 0;
   padding: 0;
   vertical-align: middle;
}

#Share .link-menu-button .yui-button
{
   border: 1px solid transparent;
   background-image: none;
}

#Share .link-menu-button .yui-button span button
{
   padding: 6px 7px;
}

#Share .link-menu-button .yui-button.yui-button-activeoption button,
#Share .link-menu-button .yui-button.yui-button-hover button
{
   text-decoration: none;
}

/* DataTable overrides */

#Share .yui-dt tr.yui-dt-first td
{
   border-top: medium none;
}