.lists li
{
   overflow-x:hidden;
   padding:4px 0 3px 20px;
}
.lists .yui-button#datalist-newListBtn
{
   margin-bottom:1em;
}
.lists .yui-button#datalist-newListBtn button
{
   background: url(../images/new-list-16.png) 10% 50% no-repeat;
   padding-left: 2em;

}

.lists li {
   background: url(../images/list-16.png) 0% 50% no-repeat;
}