/* Layout */
#divDataListsWrapper
{
   width:auto;
   margin-top:0.5em;
}
#divDataListsWrapper #yui-main
{
   margin-left:-50em;
}
#divDataListsWrapper #divDataListsFilters
{
   width:16em;
}
#divDataListsWrapper #divDataLists
{
   margin-left:16em;
}
/* End layout*/

/* Component */
#Share .yui-dt td.up {
    background-color: #efe;
}
#Share .yui-dt td.down {
    background-color: #fee;
}
#Share .yui-dt-body { cursor:pointer; }

.datalists .yui-dt,
.datalists .yui-dt table
{
   width:100%;
}
.datalists .editRowBtn,
.datalists .deleteRowBtn
{
   border:0;
}
.datalists .deleteRowBtn
{
   background: url(../images/delete-row-16.png) no-repeat 50% 50%;
}
.datalists .editRowBtn
{
   background: url(../images/edit-inline-16.png) no-repeat 50% 50%;
}

.datalists .editRowBtn span.first-child,
.datalists .deleteRowBtn span.first-child
{
   border:0;
}

.datalist-grid-row-actions
{
   margin:0;
   padding:0;
}

.datalist-grid-row-actions
{
   visibility: hidden;
}

.datalists .yui-dt table tr
{
   line-height:2
}
.datalist-grid-row-actions
{
   line-height:1.4em;
}

.datalists .yui-pg-container
{
   text-align: center;
}

.datalists h2
{
   margin:1em 0;
}

#divDataListsWrapper .datalists .yui-dt0-col-select
{
   width:3em;
   text-align:center;
}
.datalists .yui-dt0-col-action
{
   width:6.5em;
}

/*forms*/
#template-datalist-form-fields .form-field
{
   padding:0.5em;
/*   margin-bottom:0.5em;*/
}

#template-datalist-form-fields .form-field input
{
   float:right;
}

#divDataListsWrapper .crud-datalist
{
   visibility:hidden;
}

#datalist-actions .yui-button#datalist-newRowBtn button
{
   background: url(../images/add-row-16.png) 10% 50% no-repeat;
   padding-left: 2em;
}
#datalist-actions .yui-button#datalist-printBtn button
{
   background: url(../images/printer-16.png) 10% 50% no-repeat;
   padding-left: 2em;
}