.profile .photorow
{
   float: left;
   padding-bottom: 0.5em;
}

.profile .photo
{
   float: left;
}

.profile .namelabel
{
   font-size: 123.1%;
   line-height: 1.7em;
   margin-left: 80px;
}

.profile .fieldlabel
{
   line-height: 1.5em;
   margin-left: 80px;
}

.profile hr.clear
{
   margin-bottom: 0.5em;
}

.profile .row
{
   padding: 0.3em;
}

.profile .fieldlabelright
{
   float: left;
   font-weight: bold;
   text-align: right;
   width: 4em;
}

.profile .fieldvalue
{
   margin-left: 4.5em;
   min-height: 1.2em;
   overflow: hidden;
}
