.my-sites div.my-actions
{
   line-height: 2em;
   float: left;
}

.my-sites div.my-actions span.favourite, .my-sites div.my-actions span.imap-favourite 
{
   background-repeat: no-repeat;
   background-position: center;
   margin-right:0.5em;
   padding:0.5em;
   cursor: pointer;
   background-image: url(../images/star-deselected_16x16.png);
}

.my-sites div.my-actions span.favourite.enabled
{
   background-image: url(../images/star-selected_16x16.png);
}

.my-sites div.my-actions span.imap-favourite
{
   background-image: url(../images/imap-fav-deselected-16.png);
}

.my-sites div.my-actions span.imap-favourite.enabled
{
   background-image: url(../images/imap-fav-selected-16.png);
}

.my-sites div.site
{
   float: left;
   background-image: url(../images/site-24.png);
   background-repeat: no-repeat;
   background-position:0 2px;
   line-height: 2em;
   max-width: 60%;
   padding-left: 32px;
}

.my-sites div.actions
{
   float: right;
   line-height: 2.2em;
   visibility:hidden;
}
.my-sites .detail-list-item.over div.actions{
   visibility:visible;
}
.my-sites div.actions span.delete
{
   background-image: url(../images/remove-icon-16.png);
   background-repeat: no-repeat;
   background-position: center;
   padding: 1em;
   cursor: pointer;
}

.my-sites div.description
{
   clear: left;
   margin-left: 4.3em
}