.my-sites .detail-list-item
{
   height: 2.2em;
}
.my-sites div.site
{
   float: left;
   background-image: url(../images/site-24.png);
   background-repeat: no-repeat;
   line-height: 2.2em;
   padding-left: 3em;
}

.my-sites div.actions
{
   float: right;
   line-height:2.2em;
}

.my-sites div.actions span.delete
{
   background-image: url(../images/remove-icon-16.png);
   background-repeat: no-repeat;
   background-position: center;
   padding: 1em;
   cursor: pointer;
}
