/* Header css */

span.menu-item {
    vertical-align: middle;
    padding: 0px 10px 0px 10px;
    margin: 0px;
    text-valign: middle;
    white-space: nowrap;
}

div.logo {
    float: left;
    margin: 0px 0px 0px 10px;
}
div.personal-menu {
    float: left;
    margin: 5px 0px 0px 10px;
}
div.collaboration-menu {
    text-align: center;
    margin: 5px 0px 0px 0px;
}
div.util-menu {
    margin: 5px 10px 0px 0px;
    float: right;
}
