
.my-tasks .scrollableList 
{
   padding:0;
}

.my-tasks .body h4,
.my-tasks .body div   
{
   margin-bottom: 0.2em;
}

.my-tasks .body .unassigned-task
{
   padding: 0.15em;
   text-transform: uppercase;
   font-size: 80%;
}

/* Data Table */

.my-tasks .yui-dt table
{
   border: medium none;
   width: 100%;
}

.my-tasks .yui-dt thead
{
   display: none;
}

.my-tasks .yui-dt tbody
{
   outline: none;
}

.my-tasks .yui-dt tr.yui-dt-even,
.my-tasks .yui-dt tr.yui-dt-odd
{
   background-color: #ffffff;
}

.my-tasks .yui-dt td
{
   border-bottom: 1px dashed #d9d9d9;
   border-right: medium none;
   vertical-align: top;
}

.my-tasks .yui-dt td .yui-dt-liner
{
   padding: 4px 6px;
}

.my-tasks .yui-dt .yui-dt-message td
{
   border: medium none;
}

.my-tasks .yui-dt-col-isPooled div
{
   text-align: center   
}

.my-tasks .yui-dt-col-isPooled img
{
   margin-bottom: 0.5em;
}

.my-tasks .task-delayed
{
   padding-left: 1.5em;
   background: url(../images/warning-16.png) no-repeat; 
}

.my-tasks a.edit-task
{
   background: url(../images/edit-16.png) no-repeat center;
   cursor: pointer;
   padding: 1em;
   visibility: hidden;
}
.my-tasks a.edit-task:active,
.my-tasks a.edit-task:hover
{
   text-decoration: none;
}

.my-tasks .yui-dt-highlighted a.edit-task
{
   visibility: visible;
}
