div.dashlet.user-welcome div.detail-list-item-alt
{
   background-color: #fffbdd;
   border-bottom: 1px solid #ddd6a0;
   padding: 7px 9px 5px;
}

div.dashlet.user-welcome div.detail-list-item h4,
div.dashlet.user-welcome div.detail-list-item-alt h4
{
   color: #038603;
   padding-bottom: 0.5em;
   padding-top: 0.3em;
}

div.dashlet.user-welcome div.detail-list-item div,
div.dashlet.user-welcome div.detail-list-item-alt div
{
   padding-bottom: 0.5em;
}

div.dashlet.user-welcome a
{
   color: #4F94C9
}

div.dashlet.user-welcome div.detail-list-item div.site
{
   background-image: url(../images/site-24.png);
   background-repeat: no-repeat;
   background-position: 0 2px;
   line-height: 2.2em;
   padding-bottom: 0;
   padding-left: 32px;
}
