.cal-icon {
  vertical-align: top;
  padding-right: 10px;
  width: 10%;
}

.cal-header {
  color: #000;
  font-weight: bold;
}

tr.cal-event div {
  color: #333;
  font-size: 13px;
}

tr.cal-event div:last-child {
   padding-bottom: 5px;
}

table.cal-events-dashlet {
   width: 100%;
   margin-top: 5px;
   margin-bottom: 10px;
   border-bottom: 1px dotted gray;
}
