.y2008 .w25 td { 
	background-color:yellow 
}

tr.odd  td {
	background-color: #D3E6FE;
}

tr.even  td {
	background-color: #FFFFFF;
}

table#week-view {
	border: 1px solid #000000;
}

table#week-view th {
	text-align: center;
}

table#week-view th a {
	text-decoration: none;
}

.yui-content {
	background: #FFFFFF; /* content background color */
}

table#month-view {
	width: 100%; 
	border-collapse: collapse;
}
table#month-view th {
	text-align: center;
	border-bottom: 1px solid #CCCCCC;
	font-weight: normal;
	color: #000000;
}

table#month-view td {
	height: 80px;
	width: 14%;
	vertical-align: top;
	margin: 0;
	padding: 0;
	border: 1px solid #CCCCCC;
}

div.dayLabel {
	text-align: right;
	padding-right: 5px;
	margin: 0;
}

div.dayLabel a {
	text-decoration: none;
/*	color: #808080; */
	color: #000000; /* text color */
	font-size: normal;
}

div.cal-event-entry {
	font-size: 11px;
	padding-left: 5px;
	color: #000000;
}

#monthLabel {
	font-weight: bold;
	text-align: center;
}

div.boxOutline {
	margin: 0;
	overflow: hidden;
}

.nextBtn {
	background: url(/slingshot/images/calendar/next.gif) no-repeat center center;
}

.today {
	background-color: #FFFFCC;
}

#calendarcontainer {
	padding:10px;
}

#calendarmenu {
   position: absolute; 
}

#calendarendpicker button, #calendarpicker button {
	background: url(../../images/icons/project-icon-calendar.gif) center center no-repeat;
   text-align: left;
   text-indent: -10em;
   overflow: hidden;
   *margin-left: 10em; /* For IE */
   *padding: 0 3em;    /* For IE */
   white-space: nowrap;
}
 
#year-field { 
	width: 3em;
}

#datefields {
	border: solid 1px #666;
	padding: .5em;
}

#calendarpicker  {
	vertical-align: baseline;	
}

#calendar-view {
	visibility: hidden;
}

/* Styles calendar dashlet */
.yui-skin-sam .yui-calendar td.event { background-color:#999; }

/* Day view styles */
div.timeLabel {
  	height: 20px;
  	width: 50px;
  	font-size: 12px;
	border: 1px solid #CCC;
	border-bottom: none;
	text-align: right;
	padding-right: 5px;
}

div#timeLabels {
    float: left;
    width: 57px;
    border: 1px solid black;
}

div.dayEventsView {
	float: left;
/*	border: 1px solid red; */
	font-family: Arial;
	font-size: 11px;
	text-align: left;
	position: relative;
	height: 100px;
}

div#dayContainer {
    float: left; 
    width: 100%;
    border: 1px solid blue;
}

div.dayEvent {
    position: absolute; 
    font-family: Arial;
    font-size: 11px;
    text-align: left;
    border: 1px solid black;
    width: 80px;
}

/** Styling for the agenda view **/
div.dayheader {
	width: auto;
	border-bottom: 1px solid #000;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}

table.daytable {
	width: auto;
}

table.daytable td.timelabel {
	width: 7%;
}

table.daytable td {
	font-size: 12px;
	color: #333;
	text-align: left;
	padding: 2px;
}

div.agenda-item {
	margin-top: 20px;
	margin-bottom: 20px;
}

div.cal-event-entry a {
	text-decoration: none;
}

div.calendar-currentMonth {
   text-align: center;
}

.calendar-bar .align-right
{
   text-align: right;
}

/* Override default textfield width for start and end time textfields */
span.eventTime  input[type="text"] {
   width: 5em;
}
