tr.odd td
{
	background-color: #f8f8f8;
}

tr.even td 
{
	background-color: #FFFFFF;
}

table#week-view
{
	border: 1px solid #c0c0c0;
}

table#week-view th
{
   height: 2em;
	text-align: center;
	vertical-align: middle;
}

table#week-view th a
{
	text-decoration: none;
}

#week-view .label
{
   text-align: center;
}

.yui-content
{
	background: #FFFFFF; /* content background color */
}

table#month-view
{
	width: 100%; 
	border-collapse: collapse;
}
table#month-view th
{
	text-align: center;
	border-bottom: 1px solid #CCCCCC;
	font-weight: normal;
	color: #000000;
}

table#month-view td
{
	height: 80px;
	width: 14%;
	vertical-align: top;
	margin: 0;
	padding: 0;
	border: 1px solid #CCCCCC;
}

div.dayLabel
{
	text-align: right;
	padding-right: 5px;
	margin: 0;
}

div.dayLabel a
{
	text-decoration: none;
	color: #000000;
	font-size: normal;
}

div.cal-event-entry
{
	font-size: 11px;
	padding-left: 5px;
	color: #000000;
}

#monthLabel
{
	font-weight: bold;
	text-align: center;
}

div.boxOutline
{
	margin: 0;
	overflow: hidden;
}

.nextBtn
{
	background: url(/slingshot/images/calendar/next.gif) no-repeat center center;
}

.today
{
	background-color: #FFFFCC;
}

#calendarcontainer
{
	padding:10px;
}

#calendarmenu
{
   position: absolute; 
}

#calendarendpicker button, #calendarpicker button
{
	background: url(images/calendar-16.png) center center no-repeat;
   text-align: left;
   text-indent: -10em;
   overflow: hidden;
   *margin-left: 10em; /* For IE */
   *padding: 0 3em;    /* For IE */
   white-space: nowrap;
}
 
#year-field
{ 
	width: 3em;
}

#datefields
{
	border: solid 1px #666;
	padding: .5em;
}

#calendarpicker
{
	vertical-align: baseline;	
}

#calendar-view
{
	visibility: hidden;
}

#calendar-view .date-title
{
   color: #000;
   font-size: 146.5%;
   padding: 0.3em 0 0.7em 0.5em;
   text-align: center;
}

/* Styles calendar dashlet */
.yui-skin-sam .yui-calendar td.event
{
   background-color:#999;
}

/* Day view styles */
div.timeLabel
{
	border-bottom: 2px solid #c0c0c0;
  	height: 30px;
	padding-right: 1px;
	padding-top: 4px;
	text-align: center;
  	width: 56px;
}
div.timeLabel.last
{
   border-bottom: none;
}

div#timeLabels
{
    float: left;
    width: 57px;
    border-right: 1px solid black;
}

div.dayEventsView
{
	float: left;
	font-family: Arial;
	font-size: 11px;
	text-align: left;
	position: relative;
	height: 100px;
}

div#dayContainer
{
    float: left; 
    width: 100%;
    border: 1px solid #a0a0a0;
}

div.dayEvent
{
    position: absolute; 
    font-family: Arial;
    font-size: 11px;
    text-align: left;
    border: 1px solid black;
    width: 80px;
}

/** Styling for the agenda view **/
div.dayheader
{
	width: auto;
	border-bottom: 1px solid #000;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}

table.daytable
{
	width: auto;
}

table.daytable td.timelabel
{
	width: 7%;
}

table.daytable td
{
	font-size: 12px;
	color: #333;
	text-align: left;
	padding: 2px;
}

div.no-agenda-items
{
   padding: 1em;
}

div.agenda-item
{
	margin-top: 20px;
	margin-bottom: 20px;
}

div.agenda-item div.cal-event-entry
{
	color: #333;
	font-size: 108%;
	padding: 2px;
	text-align: left;
}

div.cal-event-entry a
{
	text-decoration: none;
}

div.calendar-currentMonth
{
   margin-right: 15px;
   text-align: center;
}

.calendar-bar .align-right
{
   text-align: right;
}

/* Override default textfield width for start and end time textfields */
span.eventTime  input[type="text"]
{
   width: 5em;
}

.eventDeselect
{
   opacity:0.4;
   filter:alpha(opacity=40);
}

#calendar
{
   margin: 0.5em 15px 1em 0;
}

.yui-skin-default .yui-calcontainer
{
   background-color: #fff;
   border: none;
}

.yui-skin-default .yui-navset .yui-content,
.yui-skin-default .yui-navset .yui-navset-top .yui-content
{
   border-color: #a0a0a0;
}