.toolbar
{
   background-color: #E3EAEC;
   border-bottom: 2px solid #C7CCCE;
   margin: 0 -10px;
   min-height: 2em;
   padding: 0.5em;
}

.toolbar .inline
{
   display: inline;
}

.toolbar .addEvent button
{
   padding-left: 2.5em; 
   background: url(images/add-event-16.png) no-repeat 10% 50%;
}

.toolbar div.first
{
   width: auto;
}

.toolbar .first div 
{
   float: left;
}

.toolbar .yui-buttongroup .yui-button
{
   margin: auto 0;
}

div.separator
{
   padding: 0 5px;
   text-align: center;
   margin-top: 5px;
}

.toolbar .ical-feed
{
   margin-top: 5px;
}

.toolbar .ical-feed a
{
   background-image: url(../images/feed-icon-16-blue.png);
   background-repeat: no-repeat;
   padding-left: 20px;
}

.yui-skin-default .yui-navset .yui-nav,
.yui-skin-default .yui-navset .yui-navset-top .yui-nav { /* protect nested tabviews from other orientations */
    border: solid #2647a0; /* color between tab list and content */
    border-width: 0;
}

.yui-navset
{
   margin: 0 -10px;
   padding: 0.5em 0.5em 0 10px;
}
