<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE beans PUBLIC '-//SPRING//DTD BEAN//EN' 'http://www.springframework.org/dtd/spring-beans.dtd'>

<!-- This file must be split up once the number and spread of beans increases -->
<beans>
   
   <!--                    -->
   <!--  PERSISTENCE       -->
   <!--                    -->
   
   <!-- load common properties -->
   <bean id="db-properties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
      <property name="location">
         <value>db.properties</value>
      </property>
   </bean>
   
   <!-- Datasource bean -->
   <bean id='dataSource' class='org.apache.commons.dbcp.BasicDataSource'
         destroy-method='close'>
      <property name='driverClassName'>
         <value>${db.driver}</value>
      </property>
      <property name='url'>
         <value>${db.url}</value>
      </property>
      <property name='username'>
         <value>${db.username}</value>
      </property>
      <property name='password'>
         <value>${db.password}</value>
      </property>
   </bean>
   
   <bean id='sessionFactory' class='org.springframework.orm.hibernate3.LocalSessionFactoryBean'>
      <property name='dataSource' >
         <ref local='dataSource' />
      </property>
      <property name='mappingResources' >
         <list>
            <value>com/activiti/repo/domain/hibernate/Node.hbm.xml</value>
            <value>com/activiti/repo/domain/hibernate/Store.hbm.xml</value>
         </list>
      </property>
      <property name='hibernateProperties' >
         <props>
            <prop key='hibernate.dialect' >org.hibernate.dialect.MySQLDialect</prop>
            <prop key='hibernate.show_sql'>false</prop>
            <prop key='hibernate.hbm2ddl.auto'>create</prop>
            <prop key='hibernate.cache.use_query_cache'>true</prop>
            <prop key='hibernate.max_fetch_depth'>1</prop>
            <prop key='hibernate.cache.provider_class'>org.hibernate.cache.EhCacheProvider</prop>
         </props>
      </property>
   </bean>
   
   <!-- create a transaction manager to handle the Hibernate sessions -->
   <bean id='transactionManager' class='org.springframework.orm.hibernate3.HibernateTransactionManager'>
      <property name='sessionFactory'>
         <ref local='sessionFactory'/>
      </property>
   </bean>

   <!-- use around method calls to debug - see class comments for details -->
   <bean id="methodCallLogAdvice" class="com.activiti.util.debug.MethodCallLogAdvice" />

   <!--                    -->
   <!--  INTERNAL SERVICES -->
   <!--                    -->
   
   <bean id='storeDaoService' class='org.springframework.transaction.interceptor.TransactionProxyFactoryBean'>
      <property name='proxyInterfaces'>
         <value>com.activiti.repo.store.db.StoreDaoService</value>
      </property>
      <property name='transactionManager'>
         <ref bean="transactionManager"/>
      </property>
      <property name="target">
         <bean class="com.activiti.repo.store.db.hibernate.HibernateStoreDaoServiceImpl" >
            <property name="sessionFactory">
               <ref bean="sessionFactory" />
            </property>
            <property name="nodeDaoService">
               <ref bean="nodeDaoService" />
            </property>
         </bean>
      </property>
      <property name="transactionAttributes">
         <props>
            <prop key="*">PROPAGATION_REQUIRED</prop>
         </props>
      </property>
      <property name="postInterceptors">
         <list>
            <ref bean="methodCallLogAdvice" />
         </list>
      </property>
   </bean>

   <bean id='nodeDaoService' class='org.springframework.transaction.interceptor.TransactionProxyFactoryBean'>
      <property name='proxyInterfaces'>
         <value>com.activiti.repo.node.db.NodeDaoService</value>
      </property>
      <property name='transactionManager'>
         <ref bean="transactionManager"/>
      </property>
      <property name="target">
         <bean class="com.activiti.repo.node.db.hibernate.HibernateNodeDaoServiceImpl" >
            <property name="sessionFactory">
               <ref bean="sessionFactory" />
            </property>
         </bean>
      </property>
      <property name="transactionAttributes">
         <props>
            <prop key="*">PROPAGATION_REQUIRED</prop>
         </props>
      </property>
      <property name="postInterceptors">
         <list>
            <ref bean="methodCallLogAdvice" />
         </list>
      </property>
   </bean>
   
   <bean id='versionCounterDaoService' class='org.springframework.transaction.interceptor.TransactionProxyFactoryBean'>
      <property name='proxyInterfaces'>
         <value>com.activiti.repo.version.common.counter.VersionCounterDaoService</value>
      </property>
      <property name='transactionManager'>
         <ref bean="transactionManager"/>
      </property>
      <property name="target">
         <bean class="com.activiti.repo.version.common.counter.db.DbVersionCounterDaoServiceImpl" init-method="initialise">
            <property name="dataSource">
               <ref bean="dataSource" />
            </property>
         </bean>
      </property>
      <property name="transactionAttributes">
         <props>
            <prop key="*">PROPAGATION_REQUIRES_NEW</prop>
         </props>
      </property>
   </bean>
   
   <!--                    -->
   <!--  PUBLIC SERVICES   -->
   <!--                    -->
   
   <bean id="storeService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
      <property name="proxyInterfaces">
         <value>com.activiti.repo.store.StoreService</value>
      </property>
      <property name="transactionManager">
         <ref bean="transactionManager"/>
      </property>
      <property name="target">
         <bean class="com.activiti.repo.store.db.DbStoreServiceImpl" >
            <property name="storeDaoService">
               <ref bean="storeDaoService" />
            </property>
         </bean>
      </property>
      <property name="transactionAttributes">
         <props>
            <prop key="*">PROPAGATION_REQUIRED</prop>
         </props>
      </property>
      <property name="postInterceptors">
         <list>
            <ref bean="methodCallLogAdvice" />
         </list>
      </property>
   </bean>
   
   <bean id="nodeService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
      <property name="proxyInterfaces">
         <value>com.activiti.repo.node.NodeService</value>
      </property>
      <property name="transactionManager">
         <ref bean="transactionManager"/>
      </property>
      <property name="target">
         <bean class="com.activiti.repo.node.db.DbNodeServiceImpl" >
            <property name="storeDaoService">
               <ref bean="storeDaoService" />
            </property>
            <property name="nodeDaoService">
               <ref bean="nodeDaoService" />
            </property>
         </bean>
      </property>
      <property name="transactionAttributes">
         <props>
            <prop key="*">PROPAGATION_REQUIRED</prop>
         </props>
      </property>
      <property name="postInterceptors">
         <list>
            <ref bean="methodCallLogAdvice" />
         </list>
      </property>
   </bean>
   
   <bean id='lightWeightVersionStore' class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
      <property name="proxyInterfaces">
         <value>com.activiti.repo.version.VersionService</value>
      </property>
      <property name="transactionManager">
         <ref bean="transactionManager"/>
      </property>
      <property name="target">
         <bean class="com.activiti.repo.version.lightweight.LightWeightVersionService" init-method="initialise">
            <property name="nodeService">
               <ref bean="nodeService" />
            </property>
			<property name="storeService">
				<ref bean="storeService"/>
			</property>
			<property name="versionCounterDaoService">
				<ref bean="versionCounterDaoService"/>
			</property>
         </bean>
      </property>
      <property name="transactionAttributes">
         <props>
            <prop key="*">PROPAGATION_REQUIRED</prop>
         </props>
      </property>
   </bean>
   
   <bean id="indexerComponent" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
      <property name="proxyInterfaces">
         <value>com.activiti.repo.search.Indexer</value>
      </property>
      <property name="transactionManager">
         <ref bean="transactionManager"/>
      </property>
      <property name="target">
         <bean class="com.activiti.repo.search.IndexerComponent" >
         </bean>
      </property>
      <property name="transactionAttributes">
         <props>
            <prop key="*">PROPAGATION_REQUIRED</prop>
         </props>
      </property>
   </bean>
   
   <bean id="searcherComponent" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
      <property name="proxyInterfaces">
         <value>com.activiti.repo.search.Searcher</value>
      </property>
      <property name="transactionManager">
         <ref bean="transactionManager"/>
      </property>
      <property name="target">
         <bean class="com.activiti.repo.search.SearcherComponent" >
         </bean>
      </property>
      <property name="transactionAttributes">
         <props>
            <prop key="*">PROPAGATION_REQUIRED</prop>
         </props>
      </property>
   </bean>
   
   <bean id="luceneIndexerAndSearcherFactory" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
      <property name="proxyInterfaces">
         <value>com.activiti.repo.search.IndexerAndSearcher</value>
      </property>
      <property name="transactionManager">
         <ref bean="transactionManager"/>
      </property>
      <property name="target">
         <bean class="com.activiti.repo.search.impl.lucene.LuceneIndexerAndSearcherFactory" factory-method="getInstance">
			<property name="nodeService">
				<ref bean="nodeService"/>
			</property>
         </bean>
      </property>
      <property name="transactionAttributes">
         <props>
            <prop key="*">PROPAGATION_REQUIRED</prop>
         </props>
      </property>
   </bean>
   
   
   <bean id="indexerAndSearcherFactory" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
      <property name="proxyInterfaces">
         <value>com.activiti.repo.search.IndexerAndSearcher</value>
      </property>
      <property name="transactionManager">
         <ref bean="transactionManager"/>
      </property>
      <property name="target">
		<bean class="com.activiti.repo.search.IndexerAndSearcherFactory">
			<property name="protocolFactories">
				<map>
					<entry key="workspace"><ref bean="luceneIndexerAndSearcherFactory"></ref></entry>
				</map>
			</property>
		</bean>
      </property>
      <property name="transactionAttributes">
         <props>
            <prop key="*">PROPAGATION_REQUIRED</prop>
         </props>
      </property>
   </bean>

</beans>
