/* CSS file */
Canvas
{
   border-style:solid;
   border-thickness:1;
   border-color:#FFFFFF;
   
   border-skin: ClassReference("component.util.SimpleGradientBorder");
   fill-colors: #ECEEF1, #D9DDE0;
}
Panel
{
   border-style:solid;
   border-thickness:5;
   border-color:#c8886c;
   
   border-skin: ClassReference("component.util.SimpleGradientBorder");
   fill-colors: #ECEEF1, #D9DDE0;
}