.site-members 
{
	margin: 10px;
}

.site-members .heading
{
   color: #333333;
   font-size: 153.9%;
   margin: 16px 0px;
}

.site-members .search-controls
{
   border-top: 1px solid #bababa;
   border-left: 1px solid #bababa;
   border-right: 1px solid #bababa;
   padding: 8px;
   margin-top: 10px;
}

.site-members .search-controls .search-term
{
   vertical-align: text-bottom;
   height: 18px;
   width: 75%;
}

.site-members .members-list table
{
   border: 1px solid #a1a1a1;
	width: 100%;
}

.site-members .members-list table thead
{
	display: none;
}

.site-members .yui-dt td
{
   border-bottom: 1px dashed #D7D7D7;
   border-right: medium none;
}

.site-members .yui-dt-error
{
   background: red;
   color: white;
   font-weight: bold;
   margin: 1em auto;
   padding: 1em;
}

.site-members .yui-dt-first
{
   width: 70px;
}

.site-members .yui-dt-last
{
   width: 75px;
}

.site-members tr.yui-dt-odd
{
   background-color: #fbfbfb;
}

.site-members h3 a
{
   color: #2b6eb5;
}

.site-members .attr-name
{
   color: #606060;
}

.site-members .attr-value
{
   color: #333333;
}

/* Use a class since IE6 crashes if setStyle is use to se overflow with !important */
.site-members .overflow
{
   overflow: visible !important;
}