body {
   font-family: Helvetica;
  margin: 0px;
  overflow-x: hidden;
  background-image:url(./images/background.png);        
  min-height:480px;
}

h2 {
  color: rgb(102, 102, 102);
  font:bold 15px Helvetica;
  margin:0 0 4px 1.5em;
}
a {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  text-decoration:none;
}     

body.landscape, body.landscape .content {
  min-height:222px;
}
div.content {
  min-height:392px;
}
div.panel.loading .content {
  background-color:#fff;
  text-align:center;
}

a.disabled {
   color:#999 !important;
   font-style:italic;
}

/* Toolbars */
#appBar {
  background: url(./images/appbar-bg3.png) repeat-x rgb(0, 0, 0);
}
#appBar form {
  margin:4px 0.5em;
  float:right;
/*  top:-5px;*/
  position:relative;
}

#appBar form input {
 font-size:17px;
 -webkit-border-radius: 8px;
 border-width: 1px;
 width:190px;
}
#appBar #homeButton {
   margin:2px 0 2px 0.5em;
   display:inline-block;
}

.toolbar, #appBar,.panelBar {
  -webkit-box-sizing: border-box;
  height: 43px;
  padding: 8px 0 12px 6px;
  position: relative;
}
.toolbar a.action.button {
   float:right;
   margin-right:0.5em;
}
#appBar {
   padding:0;
}
#container {
  width:100%;
  min-height:320px;
  background-color:#fff;
}
.toolbar,#container,.panelBar {
  background:  url(./images/toolbar.png) repeat-x;
}

.toolbar h1 {
  color: rgb(246, 246, 246);
  font-size: 20px;
  font-weight: bold;
  height: 45px;
  left: 50%;
  margin: 1px 0px 0px -75px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
}
/* end Toolbars */

/* Panels */
.panel {
  display:block;
  position:absolute;
  left:0;
  width:100%;
  -webkit-transform: translate(100%, 0px);
  background-color:#fff;
  background-image:url(./images/background.png);
  min-height:320px;
  -webkit-box-sizing: border-box;        
}
.panel.selected {
  display:block;
  -webkit-transform: translate(0, 0px);
}
.panel.deactive {
   display:none;
} 
 body.portrait div.panel{
   min-height:376px;
 }
 body.landscape div.panel {
   min-height:332px;
 }

/* end Panels */      

/* Buttons */ 
#appBar .button,input.button  {
  background: none;
  -webkit-border-image: url(./images/button.png) 0 5 0 5 stretch stretch;
  border-width: 0px 7px;
  bottom: 5px;
  color: white;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin: 0px;
  overflow: hidden;
  padding: 0px 3px;
  position: absolute;
  text-decoration: none;
  text-overflow: ellipsis;
  text-shadow: rgba(0, 0, 0, 0.597656) 0px -1px 0px;
  white-space: nowrap;
  width: auto;
}
input.button {
   position:static;
}
.toolbar .back {
  -webkit-border-image: url(./images/iPhoneBackButton.png) 0 8 0 14 stretch stretch;
  border-width: 0px 8px 0px 15px;
  left: 6px;
  top:20%;
  max-width: 55px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden;
  padding: 0px;
  right: auto;
  cursor:pointer;
}

a.button
{
  -webkit-border-radius: 0;
  text-decoration:none;
  border-width: 0 5px;
  padding: 0;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
  background: none;
/*  position:absolute;*/
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-border-image: url(./images/navbutton.png) 0 5 0 4 stretch stretch;
  display:inline-block;
  width:auto;
}

a.button.white {
  -webkit-border-image: url(./images/loadmore-btn2.png) 0 14 0 14 stretch stretch;      
}
input.button.delete {
   right:0.5em;
   position:absolute;
  -webkit-border-image: url(./images/redbutton.png) 0 14 0 14 stretch stretch;
  font-size:14px;
}
.panelBar .button{
   height:28px;
   top:20%;
}
/* end Button */

/* Homepage */
/*#homePage ul.nav li a,
#sitePage ul.list .rr  li a,
#DocsPage ul.list.rr li a  {
*/
ul.rr li a {
  font-weight:bold;
}

#homePage ul.nav li li a,
#sitePage ul.list .rr  li a,
#DocsPage ul.list.rr li a,
#SelectSitePage ul.e2e li a {  
/*   background:transparent url(./images/icons/16-icons-sprite.png) no-repeat  top left; */
} 


/* this will need to be done separately for each once the icons have been sprited */
li.fav:hover a,
ul.e2e li.fav:hover a,
li.events:hover a,
li.invitetosite:hover a,
li.newwikipage:hover a,
li.recentactivity:hover a,
li.recentdocs:hover a,
li.sites:hover a,
li.publicsites:hover a,
li.all:hover a,
li.tasks:hover a,
li.siteactivities:hover a,
li.documents:hover a,
li.mydocuments:hover a,
li.alldocuments:hover a,
li.allfolders:hover a, 
li.mainwikipage:hover a,
li.wikipagelist:hover a,
li.leavesite:hover a,
ul.e2e li.sites:hover a
{
   background-position:8px 8px,100% -32px;
}
li.events a{ 
   background:url(./images/icons/24-events.png) no-repeat 8px 8px,
              url(./images/arrow2.png) 100% 7px no-repeat;
} 

li.fav a,
ul.e2e li.fav a {
   background:url(./images/icons/24-favourite-selected.png) no-repeat 8px 8px,
              url(./images/arrow2.png) 100% 7px no-repeat;
} 
li.invitetosite a { 
   background:url(./images/icons/invite-site-24.png) no-repeat 8px 8px,
              url(./images/arrow2.png) 100% 7px no-repeat;
} 
/*#homePage ul.nav li.newwikipage a,
#sitePage ul.list .rr li.newwikipage a { */
li.newwikipage a {
   background:url(./images/icons/24-new-wiki-page.png) no-repeat 8px 8px,
              url(./images/arrow2.png) 100% 7px no-repeat;
} 
/*#homePage ul.nav li.recentactivity a{*/
li.recentactivity a {   
   background:url(./images/icons/my-activities-24.png) no-repeat 8px 8px,
              url(./images/arrow2.png) 100% 7px no-repeat;
} 
/*#homePage ul.nav li.recentdocs a{ */
li.recentdocs a { 
   background:url(./images/icons/recent-docs-24.png) no-repeat 8px 8px,
              url(./images/arrow2.png) 100% 7px no-repeat;
/*   background-position: 10px -447px; */
} 

/*#homePage ul.nav li.sites a {*/
ul.e2e li.sites a,
li.sites a {
   padding-left:2.5em;
   background:url(./images/icons/24-site.png) no-repeat 8px 8px,
              url(./images/arrow2.png) 100% 7px no-repeat;
}

/*#homePage ul.nav li.publicsites a {*/
li.publicsites a {   
   background:url(./images/icons/browse-sites-24.png) no-repeat 8px 8px,
              url(./images/arrow2.png) 100% 7px no-repeat;
/*   background-position: 10px -495px;*/


} 
/*#homePage ul.nav li.all a,
#homePage ul.nav li.tasks a {
*/
li.all a,
li.tasks a {
   background:url(./images/icons/24-tasks.png) no-repeat 8px 8px,
              url(./images/arrow2.png) 100% 7px no-repeat;        
}

ul.rr li.tasks p {
   margin:0;
}
ul.rr li.tasks p a {
   background:none;
   padding-top:0;
   font-style:italic;
}

/*#homePage ul.nav li.siteactivities a {*/
li.siteactivities a {   
   background:url(./images/icons/site-activities-24.png) no-repeat 8px 8px,
              url(./images/arrow2.png) 100% 7px no-repeat;         
}

#homePage ul.nav ul,
#sitePage ul.list .rr {
   margin-bottom:1.5em;
}

#homePage ul.nav li.tasks span,
#homePage ul.nav li.events span 
{
   color:#999;
   font-weight:normal;
}

body#loginPage {
   background:#fff url(./images/login-bg.png) no-repeat 0 130px;
   text-align:center;
}
body#loginPage img{
   width:210px;
   margin:25px 0 40px 0;
}
body#loginPage form {
   width:80%;
   margin:0 auto;
}
body#loginPage form * {
   text-align:left;
}
body#loginPage form fieldset {
   border:0;
}
body#loginPage form input {
   margin:0.5em 0 1em 0;
   display:block;
   font-size:16px; 
}
body#loginPage form input[type="text"],body#loginPage form input[type="password"]{
   width:200px;
}
body#loginPage form input[type="checkbox"]{
   margin-right:0.5em;
   display:inline;
   line-height:14px;
   height:14px;
}
body#loginPage label {
   display:inline-block;
   font-weight:bold;
   color:#333;
   font-size:14px;
}
body#loginPage #btn-login {
   display:block;
}



li.documents a {   
   background:url(./images/icons/recent-modified-docs-24-a.png) no-repeat  8px 8px,
              url(./images/arrow2.png) 100% 7px no-repeat;               
}

li.mydocuments a {   
   background:url(./images/icons/my-docs-24-a.png) no-repeat  8px 8px,
              url(./images/arrow2.png) 100% 7px no-repeat;               
}

li.alldocuments a {   
   background:url(./images/icons/all-documents-24-a.png) no-repeat  8px 8px,
              url(./images/arrow2.png) 100% 7px no-repeat;            

}


li.allfolders a {

   background:url(./images/icons/24-folder.png) no-repeat  8px 8px,
              url(./images/arrow2.png) 100% 7px no-repeat;            

}


li.mainwikipage a {   
   background:url(./images/icons/main-wiki-24.png) no-repeat  8px 8px,
              url(./images/arrow2.png) 100% 7px no-repeat;            

}


li.wikipagelist a {   
   background:url(./images/icons/wiki-list-24.png) no-repeat  8px 8px,
              url(./images/arrow2.png) 100% 7px no-repeat;               

}


li.leavesite a {
background:url(./images/icons/24-leave-site.png) no-repeat  8px 8px,
              url(./images/arrow2.png) 100% 7px no-repeat;            
/*    background-position:10px -260px;   */
}

ul.e2e li.fav a {
   padding-left:2.5em;
}
#homePage #homePanel .toolbar {
   display:none;
}

.content form {
   width:100%;
   font-size:16px;
}
 .content form * {
   line-height:2em;
   font-size:16px;
}
.content form select,
 .content form input[type="text"],
 .content form textarea
{
   margin:0 1em;
   width:85%;
}

.content form select {
   width:91%;
}


 .content form div
{   
   text-align:center;
   margin:1em;
   display:block;
}
.content form label {
   display:block;
   margin-left:1em;
}
#searchPage .toolbar {
   display:none;
}
#searchPage .tabs * {
   text-align:center;
}
#searchPage a#loadmore {
   text-align:center;
   position:static;
   color:#000;
   display:inline-block;
   text-shadow:none;
}

#searchPage .tabs .tabcontent *{
   text-align:left;
}
#searchPage .tabcontent h2 {
   padding:0.5em;
   margin:0 0 0 0.5em;
   color:#000;
   font-weight:normal;
   line-height:16px;
}
#searchPage .tabcontent h2 span {
   float:right;
   color:#999;
   font-size:12px;
}

#searchPage #Sites p.toenail a{
   padding-top:0;
   padding-left:0;
}
p#Sites {
   padding:1em;
   display:none;
}
p#Sites.active  {
   display:block;
}
.tabcontent {
   background-color:#f2f2f2;
   margin:0;
   padding:0 0 1em 0;
}
#SitesPage .tabcontent,#tasksPage .tabcontent {
   padding:0;
}
div.taskPanel,
div.taskPanel .content
{
   background-color:none;
   text-align:left;
}
div.taskPanel ul.rr li a{
   padding-left:8px;
}
div.taskPanel .info {
   margin-top:1em;
}
div.taskPanel  h3 {
   margin:0 0 0 0.7em;
   color:#666;
   font-size:16px;
}
#SelectSitePage ul.e2e li a
{
   padding-left:2em;
   background-position: 10px -495px;    
}


#profilePage .details {
   background-color:#fff;
   margin:0;
}

#profilePage .details h2 {
   font-size:20px;
}
#profilePage .details p {
   font-size:12px;
   padding-left:30px;
   margin:0.5em 0;
}
#profilePage .tabcontent h2 {
   margin:5px;
   padding:0;
   font-size:12px;
}
#profilePage .e2e {
   margin-bottom:0;
}
#profilePage .e2e li {
   color:#000;
   font-weight:normal;
}
#profilePage #Info .e2e li {
   padding:0.5em;
   font-size:12px;
}
#profilePage #Info .e2e li a {
   display:inline;
   background:none;
}
#profilePage .e2e li span {
   text-align:right;
   display:inline-block;
   font-weight:bold;
   margin-right:1em;
   padding:0;
   width:5em;
}

#alf-ft {
   display:none;
}

#datePicker {
   margin-left:1em;
}

#homePage #Message {
   top:2.8em;
}

#Message {
   position:absolute;
   top:0;;
   left:0;
   top:5.4em;
   height:2.7em;
   width:100%;
   text-align:center;
   color:#000;
   background-color:#FDFF93;
   opacity:0;   
}

#Message span {
   vertical-align:middle;
   height:1em;
   margin:50% 0;
}

#taskForm .button {
   margin-right:1em;
}