/* Create Content Template */

.form-container
{
   padding: 0;
   margin-top: 0;
}

.form-container form
{
   margin-left: 1.5em;
   margin-top: 0.5em;
}

.form-container .caption
{
   margin-left: 720px;
}

.form-container .form-fields 
{
   background-color: #f5fff2;
   padding: 1em !important;
   border: 1px solid #c2c2c2 !important;
   width: 800px;
}

.form-container .form-buttons
{
   margin-top: 0.5em;
}