div.preview
{
   background-color: #434343;
   padding: 1em 1em 1em 1em;
   /*width: 37em;*/
   margin-left: -10px;
}

div.preview span,
div.preview div   
{
   color: #FFFFFF;   
}

div.preview .hd
{
   height: 2.4em;
   line-height: 2.4em;
   padding-bottom: 1em;
}

div.preview .hd .title
{
   float: left;   
}

div.preview .hd .fullscreen
{
   float: right;
}

div.preview img,
div.preview span,
div.preview input
{
   vertical-align: middle;
}

div.preview input
{
   width: 1.8em;
}

div.preview .bd,
div.preview .controls
{
   text-align: center;
}

div.preview .bd .preview-swf
{
   width: 100%;
   height: 45em;   
}

div.preview .bd .preview-swf div
{
   padding-top: 20em;
}

div.preview .controls
{
   height: 2em;
   line-height: 2em;
   padding-bottom: 1em;
}
