<alfresco-config>
   
   <!-- Overriding endpoints to reference a remote Alfresco server -->
   <!--
   <config evaluator="string-compare" condition="Remote">
		<remote>

         <endpoint>
				<id>alfresco-noauth</id>
				<name>Alfresco - unauthenticated access</name>
				<description>Access to Alfresco Repository WebScripts that do not require authentication</description>
				<connector-id>alfresco</connector-id>
				<endpoint-url>http://yourserver:8080/alfresco/s</endpoint-url>
				<identity>none</identity>
			</endpoint>

			<endpoint>
				<id>alfresco</id>
				<name>Alfresco - user access</name>
				<description>Access to Alfresco Repository WebScripts that require user authentication</description>
				<connector-id>alfresco</connector-id>
				<endpoint-url>http://yourserver:8080/alfresco/s</endpoint-url>
				<identity>user</identity>
			</endpoint>

			<endpoint>
				<id>alfresco-feed</id>
				<name>Alfresco Feed</name>
				<description>Alfresco Feed - supports basic HTTP authentication</description>
				<connector-id>http</connector-id>
				<endpoint-url>http://yourserver:8080/alfresco/s</endpoint-url>
				<basic-auth>true</basic-auth>
				<identity>user</identity>
			</endpoint>
			
		</remote>
	</config>
	-->
	
   <!-- Overriding endpoints to reference an Alfresco server with NTLM filter enabled -->
   <!-- NOTE: the NTLM Authentication Filter must be enabled for both repository and web-tier web.xml -->
   <!-- NOTE: if utilising a load balancer between web-tier and repository cluster, the "sticky -->
   <!--       sessions" feature of your load balancer must be used when NTLM filter is active -->
   <!--
   <config evaluator="string-compare" condition="Remote">
		<remote>
         
			<endpoint>
				<id>alfresco</id>
				<name>Alfresco - user access</name>
				<description>Access to Alfresco Repository WebScripts that require user authentication</description>
				<connector-id>alfresco</connector-id>
				<endpoint-url>http://yourserver:8080/alfresco/wcs</endpoint-url>
				<identity>user</identity>
			</endpoint>
			
		</remote>
	</config>
	-->

</alfresco-config>