.wikipage {
   margin: 4px;
/*   border: thin solid #000; */
   padding: 4px;
   background-color: #FAFAFA;
}

.wikipage .label
{
   display: block;
   float: left;
   padding-right: 0.8em;
   padding-top: 0.3em;
   width: 10em;
   text-align: right;
   font-weight: bold;
}

.wikipage-header {
  width: auto;
  height: 30px;
  background-color: #ebeff1;
  border-bottom: 2px solid #929292;
  margin: 0 -10px;
  padding-right: 10px;
}

.wikipage-header .back-nav {
  font-family: Helvetica, Trebuchet, sans-serif;
  font-weight: normal;
  font-size: 113.1%;
  color: #333333;
  float: left;
  padding: 4px 10px;
}

.wikipage-header .backLink {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 116%;
  color: #333333;
  background: transparent url(../images/back-arrow.png) no-repeat scroll 3px 3px;
  padding: 0 5px 0 19px;
}

.wikipage input, wikipage textarea {
  margin-bottom: 15px;
}
.wikipage .yui-editor-container {
  margin: 0px 0px 10px 145px;
}

.wikipage .formAction {
   margin-left: 145px;
}

/* Tag lib */
.wikipage .taglibrary {
  margin-bottom : 10px;
  margin-left : 145px;	
}

