.wikipage
{
   margin: 8px 4px;
   padding: 4px;
}

.wikipage h1
{
   margin-bottom: 0.5em;
}

.wikipage .label
{
   display: block;
   float: left;
   font-weight: bold;
   padding-right: 1em;
   padding-top: 0.3em;
   text-align: right;
   width: 5em;
}

.wikipage input, wikipage textarea
{
   margin-bottom: 15px;
}

.wikipage .yui-editor-container
{
   margin: 0px 0px 10px 6em;
}

.wikipage .formAction
{
   margin-left: 6em;
}

/* Tag lib */
.wikipage .taglibrary
{
   margin-bottom: 10px;
   margin-left: 6em;	
}

