.wikipage
{
   margin: 0.5em;
   border: 1px solid white;
   padding: 8px;
}

.wikipage .pageTitle
{
   color: #2b6eb5;
   font-size: 12pt;
   line-height: 130%;
   font-weight: normal;
   font-family: Helvetica, Trebuchet, sans-serif;
}

.wikipage .pageCopy
{
   font-family: Arial, sans-serif;
   font-weight: normal;
   font-size: 11pt;
   line-height: 150%;
   padding-top: 10px;
   padding-bottom: 10px;
}

.spacer {
	margin: 0 7px;
	color: #ccc;
	font-size: 11pt;
}

.attrLabel {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 10pt;
	line-height: 130%;
	color: #606060;
}

.attrValue {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 10pt;
	line-height: 130%;
	color: #333333;
}

.attrValue a {
	color: #2b6eb5;
}

.wikiPageSelected {
   background-color: #FFFFCC; 
   border: 2px solid black; 
}

.wikiPageDeselect
{
   opacity:0.4;
   filter:alpha(opacity=40);
}

.actionPanel {
   float: right;
   visibility: hidden;
}

.actionPanel div
{
   background-position: 2px 50%;
   background-repeat: no-repeat;
   min-height: 16px;
	padding: 2px 0px 2px 20px;
}

.actionPanel .editPage
{
   background-image: url(../images/new-wiki-page-16.png);
}

.actionPanel .deletePage
{
   background-image: url(../images/remove-16.png);
}
 
.actionPanel .detailsPage
{
   background-image: url(../images/details-16.png);
}

.tagDetails
{
   padding-left: 2.5em; 
   background: url(../images/tag.png) no-repeat 10% 50%;
   font-family: arial;
   color: #000000;
}


