.wikipage
{
   margin: 0.5em;
   border: 1px solid white;
}

.wikipage .pageTitle
{
   color: #2b6eb5;
   font-size: 12pt;
   line-height: 130%;
   font-weight: normal;
   font-family: Helvetica, Trebuchet, sans-serif;
}

.wikipage .pageCopy
{
   font-family: Arial, sans-serif;
   font-weight: normal;
   font-size: 11pt;
   line-height: 150%;
}

.spacer {
	margin: 0 7px;
	color: #ccc;
	font-size: 11pt;
}

.attrLabel {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 10pt;
	line-height: 130%;
	color: #606060;
}

.attrValue {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 10pt;
	line-height: 130%;
	color: #333333;
}

.attrValue a {
	color: #2b6eb5;
}

.wikiPageSelected {
/*   background-color: #FFFFCC; */
   border: 1px solid black; 
}

.actionPanel {
   float: right;
   visibility: hidden;
}

.actionPanel .editPage {
   background:url(../images/edit.png) no-repeat scroll 2px 5px;
	padding-left: 20px;
}

.actionPanel .deletePage {
   background:url(../images/delete.png) no-repeat scroll 2px 5px;
  	padding-left: 20px;
}
 
.actionPanel .detailsPage {
   background:url(../images/createtopic.png) no-repeat scroll 2px 5px;
  	padding-left: 20px;
}

