.toolbar 
{
   clear: both;
   height: 2em;
   margin: 0 -10px;
   padding: 0.5em;
   background-color: #e3eaec;
   border-bottom: 2px solid #f0f3f4;
} 

.toolbar .header div
{
   float: left;
}

.toolbar .separator
{
   padding: 0.4em;
}

.toolbar .rss-feed
{
   float: right;
}

.toolbar .rss-feed a
{
   background-image: url(../images/feed-icon-16.png);
   background-repeat: no-repeat;
   padding-left: 20px;
}

/* Buttons */

/*
.toolbar .new-page button
{
   padding-left: 2.5em; 
   background: url(images/new-folder.png) no-repeat 10% 50%; 
}
*/