.toolbar
{
   clear: both;
   margin: 0 -10px;
   height: 34px;
   padding: 0;
}

.toolbar .navigation-bar,
.toolbar .navigation-bar div,
.toolbar .action-bar,
.toolbar .action-bar div
{
   float: left;
}

.toolbar .action-bar,
.toolbar .rss-feed
{
   padding: 4px 0.5em;
}

.toolbar .navigation-bar
{
   padding: 2px 1em;
   line-height: 30px;
   height: 30px;
   border-right: 2px solid #F0F3F4;
}

.toolbar .navigation-bar div,
.toolbar .rss-feed div
{
   vertical-align: middle;
}

/* Toolbar Buttons */

.toolbar .backLink
{
   background-image: url(../images/back-arrow.png);
   background-position: left center;
   background-repeat: no-repeat;
   color: #333333;
   padding: 0 5px 0 19px;
   margin-right: 5px;
}

.toolbar .forwardLink
{
   background-image: url(../images/forward-arrow-16.png);
   background-position: right center;
   background-repeat: no-repeat;
   color: #333333;
   padding: 0 21px 0 5px;
   margin-right: 5px;
}

.toolbar .backLink a:hover,
.toolbar .forwardLink a:hover
{
   text-decoration: underline;
}

.toolbar .new-page button
{
   background: transparent url(../images/new-wiki-page-16.png) no-repeat 12px 4px;
   padding-left: 32px;
}

.toolbar .new-page .yui-button-disabled button
{
   background: transparent url(../images/new-wiki-page-unavailable-16.png) no-repeat 12px 4px;
}

.toolbar .delete-page button
{
   background: transparent url(../images/delete-wiki-16.png) no-repeat 12px 4px;
   padding-left: 32px;
}

.toolbar .delete-page .yui-button-disabled button
{
   background-image: url(../images/delete-wiki-unavailable-16.png);
}

.toolbar .rename-page button
{
   background: transparent url(../images/edit-wiki-16.png) no-repeat 12px 4px;
   padding-left: 32px;
}

.toolbar .rename-page .yui-button-disabled button
{
   background-image: url(../images/rename-wiki-unavailable-16.png);
}

.toolbar .rss-feed
{
   float: right;
}

.toolbar .rss-feed a
{
   background: transparent url(../images/feed-icon-16.png) no-repeat 12px 4px;
   padding-left: 32px;
}

.toolbar .rss-feed .yui-button-disabled a
{
   background-image: url(../images/feed-icon-disabled-16.png);
}

.rename-panel .yui-ge div.first
{
   width: 70%;
}