.yui-navset .yui-content
{
	background: #FFFFFF;
}

.wikipage-bar
{
}

.wiki-page
{
   border-top: 1px solid #dfdfdf;
   padding-top: 0.5em;
}

.wikipage-bar .title-bar
{
   padding-top: 0.5em;
}

.wikipage-bar .align-right
{
   text-align: right;
}

div.pageTitle
{
   color: #333333;
   font-size: 154%;
   padding-bottom: 0.5em;
}

.separator
{
   padding-left: 10px;
   padding-right: 10px;
}

.tabSelected
{
   color: #008000;
}

.tabLabel
{
   color: #333333;
}

.columnHeader
{
   font-size: 13pt;
}

table.versionHistory
{
   margin-top: 10px;
   margin-bottom: 10px;
}

.wikipage-header
{
   background-color: #ebeff1;
   height: 30px;
   margin: 0 -10px;
   padding-right: 10px;
   width: auto;
}
