.tagTitle h2
{
   background: url(../images/arrow-right.gif) no-repeat 0% 50%;
   margin-top: 1em;
   padding-left: 1em;
}

.tag ul
{
   margin-left: 20px;
   padding: 0.5em 0 1em;
}

.tag li
{
   overflow: hidden;
   padding: 2px 0;
}