/* Document Library Template */

.yui-t1
{
   width: auto;
}
.yui-t1 #yui-main
{
   margin-left: -50em;
}


/* Filters, Tree View, etc. */

.doclib-filter h2
{
   background: url(images/expanded.png) no-repeat 0% 50%;
   margin-top: 1em;
   padding-left: 1em;
}

#divDocLibraryFilters
{
   overflow-x: hidden;
}