/* Document Library Template */

.yui-t1
{
   width: auto;
}
.yui-t1 #yui-main
{
   margin-left: -50em;
}


/* Filters, Tree View, etc. */

.doclib-filter h2
{
   background: url(images/arrow-right.gif) no-repeat 0% 50%;
   margin-top: 1em;
   padding-left: 1em;
}


/* Create Folder */

.create-folder
{
   text-align: left;
   width: 30em;
}

.create-folder input,
.create-folder textarea
{
   border: 1px solid #C5D6E2;
   padding: 2px;
   font-weight: normal;
}

.create-folder .yui-gd
{
   padding-bottom: 0.5em;
}

.create-folder .section-title
{
   padding-bottom: 0.5em;
}
