/* FormUI Component */

.form-container
{
   padding-top: 10px;
}

.form-container form
{
   margin: 3px;
}

.form-container label
{
   clear: both;
   display: block;
   font-weight: bold;
   margin-top: 12px;
   margin-left: 12px;
}

.form-container input
{
   //display: block;
   clear: both;
   margin: 12px;
}

.form-container textarea
{
   margin: 12px;
}

.form-container .viewmode-field
{
   margin-bottom: 12px;
   margin-left: 12px;
}

.form-container .viewmode-label
{
   font-weight: bold;
   margin-right: 5px;
}

.form-container .viewmode-value
{
}

.datepicker
{ 
   display: none; 
   position: absolute; 
   z-index: 1;
   left: 25px;
} 

.datepicker-icon
{
   vertical-align: -4px;
}

.yui-calcontainer .title
{
   position: relative;
}