.cloud-create-users
{
   width: 32em;
}

.cloud-create-users .bd .form-fields
{
   padding-top: 1em;
}

.cloud-create-users .bd .form-field
{
   padding-left: 1em;
   padding-right: 1em;
}

.cloud-create-users .bd .form-field textarea
{
   min-height: 7em;
}
