.cloud-manage-users
{
   margin: 0 -10px;
}

.cloud-manage-users-header,
.cloud-manage-users-toolbar,
.cloud-manage-users-toolbar2
{
   clear: both;
   padding-left: 1em;
   padding-right: 1em;
}

.cloud-manage-users-header
{
   padding-top: 1.25em;
   padding-bottom: 0.5em;
}

.cloud-manage-users-header-title
{
   padding-top: 0.25em;
}

.cloud-manage-users-toolbar,
.cloud-manage-users-toolbar2
{
   min-height: 2.75em;
}

.cloud-manage-users-header,
.cloud-manage-users-toolbar2
{
   border-bottom: 1px solid #D9D9D9;
}

.cloud-manage-users-toolbar2
{
   border-top: 1px solid #D9D9D9;
}

.cloud-manage-users-filters-selected
{
   text-decoration: underline;
}

.cloud-manage-users-header-actions
{
   text-align: right;
   padding-left: 0.5em;
}

.cloud-manage-users-toolbar-filters ul li
{
   display: inline-block;
   line-height: 2.75em;
}


.cloud-manage-users-list .yui-dt-col-icon .yui-dt-liner
{
   text-align: center;
}

.cloud-manage-users-field
{
   min-width: 15em;
   display: inline-block;
}

.cloud-manage-users-info-title
{
   padding-top: 0.5em;
   padding-bottom: 0.25em;
}

.cloud-manage-users-info-field
{
   min-width: 15em;
   display: inline-block;
}



/* Data Table */

.cloud-manage-users-list tr.yui-dt-odd
{
   /*background-color: #ffffff;*/
}

.cloud-manage-users-list .yui-dt-data td
{
   border-bottom: 1px dashed #d9d9d9;
   border-right: medium none;
   vertical-align: top;
}

.cloud-manage-users-list .yui-dt-data .yui-dt-last td
{
   border-bottom: none;
}

.cloud-manage-users-list tr.yui-dt-first td
{
   border-top: medium none;
}

.cloud-manage-users-list td.yui-dt-last
{
   border-left: 1px solid #fff;
   vertical-align: middle;
}

.cloud-manage-users-list tr.yui-dt-first td.yui-dt-empty,
.cloud-manage-users-list tr.yui-dt-first td.yui-dt-loading
{
   border-right: medium none;
   padding: 0.5em 1em;
}

.cloud-manage-users-list .yui-dt-error
{
   background: red;
   color: white;
   font-weight: bold;
   margin: 1em auto;
   padding: 1em;
}

.cloud-manage-users-list tr.yui-dt-odd.yui-dt-highlighted,
.cloud-manage-users-list tr.yui-dt-even.yui-dt-highlighted
{
   background-color: #f5faff !important;
}

/* This rule is vital to workaround a Firefox mouseout bug */

.cloud-manage-users-list .yui-dt-col-2
{
   overflow: visible;
}

.cloud-manage-users-list td.yui-dt-last .yui-dt-liner
{
   visibility: hidden;
}

.cloud-manage-users-list tr:hover td.yui-dt-last .yui-dt-liner
{
   visibility: visible;
}

.cloud-manage-users-list tr:hover td.yui-dt-last
{
   border-left: 1px solid #c5e6e9;
}

.cloud-manage-users-list-action
{
   border: 1px solid transparent;
}

.cloud-manage-users-list-action-over
{
   background-color: #FFF;
   border: 1px solid #2B6EB5;
}

.cloud-manage-users-list-action a
{
   display: block;
   min-height: 16px;
   padding: 2px 0 2px 24px;
   background: no-repeat scroll 4px 1px;
   cursor: pointer;
   color: #2B6EB5;
   outline-color: invert;
   outline-width: medium;
   text-decoration: none !important;
}

.cloud-manage-users-list-action-promote a
{
   background-image: url( ../images/user-promote-16.png );
}

.cloud-manage-users-list-action-demote a
{
   background-image: url( ../images/user-demote-16.png );
}

.cloud-manage-users-list-action-remove a
{
   background-image: url( ../images/user-remove-16.png );
}
