.cloud-saml-settings .help-icon
{
   position: static !important;
}

.cloud-saml-settings .error
{
   padding: 0 !important;
}

.cloud-saml-settings .certificate-details-container
{
   margin-top: 0.25em;
   margin-bottom: 0.25em;
}

.cloud-saml-settings .certificate-details
{
   padding: 0.5em 0.5em 0.5em 1.5em;
   background: no-repeat url(../../../components/images/generic-file-16.png) left center;
}

.cloud-saml-settings .certificate-edit
{
   padding: 0.5em 1.5em 0.5em 0.5em;
   background: no-repeat url(../../../components/images/edit-16.png) left center;
   margin-left: 1em;
}


.cloud-saml-settings .certificate-edit-cancel
{
   background: no-repeat url(../../../components/images/edit-cancel-16.png) left center;
}

.cloud-saml-settings .download-link
{
   background: no-repeat url(../../../components/images/download-file-16.png) left center;
   padding: 0.5em 0.5em 0.5em 1.5em;
   display: block;
}
