
/* DASHLETS */

.dashlet{
   padding: 0px;
   border: 1px solid #dedede;
   background-color: white;
}

.dashlet .title{
   font-weight: bold;
   padding: 2px 0px 2px 8px;
   background-color: #CCCCCC;
   white-space: nowrap;
}

.dashlet .menu{
   background-color: #dedede;
   white-space: nowrap;
   margin: 0px 0px 0px 0px;
   padding: 2px 0px 2px 8px;
   border-bottom: 1px solid #dedede;
}

.dashlet .body{
   padding: 2px 0px 2px 8px;
}

.dashlet .scrollableList{
   height: 200px;
}
