/* Folder Details Template */

.folder-details-comments
{
   border-right: 1px solid #ccc;
   padding-bottom: 20px;
}

.form-container
{
   padding-left: 0.5em;
   margin-right: 0.5em;
   border-bottom: 1px dashed #C2C2C2;
}

.form-container .form-fields
{
   border-bottom: none !important;
}
