/* Calendar Template */

.yui-t1
{
   width: auto;
}
.yui-t1 #yui-main
{
   margin-left: -50em;
}

#divCalendarEvents
{
   margin-left: 15.1em;
   border-left:2px solid #EAEAEA;   
}

#divCalendarFilters
{
   width: 16em;
}