/* Calendar Template */

.yui-t1
{
   width: auto;
}
.yui-t1 #yui-main
{
   margin-left: -50em;
}

#divCalendarEvents
{
   border-left: 2px solid #EAEAEA;   
   margin-left: 16em;
}

#divCalendarFilters
{
   width: 16em;
}