.search
{
   color: #000;
}

.search .hidden
{
  display: none;
}

.search .title
{
   margin: 16px 10px 4px;
   font-size: 123.1%;
   font-weight: bold;
   color: #515D6B;
   padding-bottom: 0.5em;
}

.search .builder
{
   margin: 0 -10px;
   background-color: #DDDDDD;
   padding: 10px 24px 16px;
   line-height: 2em;
}

.search textarea
{
   width: 40em;
   height: 4em;
   border: 1px solid #AAAAAA;
}

.search .query
{
   height: 5em;
}

.search .header
{
   font-weight: bold;
   font-size: 108%;
}

.search .records
{
   height: 7em;
   border-right: 1px solid #AAAAAA;
   padding: 0 4em 0 1em;
}

.search .terms
{
   height: 7em;
   padding: 0 1em 0 4em;
}

.search .execute-search
{
   border-top: 1px solid #AAAAAA;
   padding-top: 12px;
}