.doclist
{
   visibility: hidden;
}

.doclist table
{
   width: 100%;
}

.doclist thead
{
   display: none;
}

.doclist .yui-dt-bd table
{
   border: none;
}

.doclist .yui-dt td
{
   border: none;
}


#yui-history-iframe
{
   position: absolute;
   top: 0;
   left: 0;
   width: 1px;
   height: 1px; /* avoid scrollbars */
   visibility: hidden;
}