.doclist
{
   visibility: hidden;
}

.doclist a:hover
{
   text-decoration: none;
}

.doclist .align-center
{
   text-align: center;
}

.doclist .align-right
{
   text-align: right;
}


/* Popup Messages */

#message .bd
{
   background-color: #ffff80;
}


/* Doclist bar */

.doclist .doclist-bar
{
   margin: 0 -10px;
   padding: 0.5em;
}

.doclist span.separator
{
   padding: 0 10px;
   text-align: center;
}

/* Doclist bar Buttons */

.doclist div.inline
{
   display: inline;
}

/* Doclist bar Select menu */

.doclist .file-select .yuimenuitemlabel span
{
   background-position: 2px 50%;
   background-repeat: no-repeat;
   cursor: pointer;
   display: block;
   margin-left: -4px;
   min-height: 16px;
   padding: 2px 0px 1px 20px;
}

.doclist .file-select .selectAll
{
   background-image: url(images/select-all.gif);
}

.doclist .file-select .selectNone
{
   background-image: url(images/select-none.gif);
}

.doclist .file-select .selectInvert
{
   background-image: url(images/select-invert.gif);
}

.doclist .file-select .selectFolders
{
   background-image: url(images/select-folders.gif);
}

.doclist .file-select .selectDocuments
{
   background-image: url(images/select-documents.gif);
}



/* Data Table */

.doclist .documents table
{
   width: 100%;
}

.doclist .documents thead
{
   display: none;
}

.doclist .documents tbody
{
   outline: none;
}

.doclist .documents .yui-dt-bd table
{
   border: none;
}

.doclist tr.yui-dt-odd
{
   background-color: #ffffff;
}
.doclist tr.yui-dt-odd.yui-dt-highlighted,
.doclist tr.yui-dt-even.yui-dt-highlighted
{
   background-color: #d2e5f2;
}

.doclist .documents.yui-dt td
{
   border-right: medium none;
   border-top: 1px solid #f0f0f0;
   vertical-align: top;
}

.doclist .documents.yui-dt td.yui-dt-last
{
   vertical-align: middle;
}

.doclist .yui-dt-liner
{
   padding: 4px;
}

.doclist .yui-dt-error
{
   background: red;
   color: white;
   font-weight: bold;
   margin: 1em auto;
   padding: 1em;
}

/* This rule is vital to workaround a Firefox mouseout bug */
.doclist .yui-dt-col-4
{
   overflow: visible;
}


/* Cell Renderers */

.doclist .documents .demo-thumbnail
{
   background: url(images/demo-thumbnail.jpg) no-repeat;
   border: 1px solid #e0e0e0;
   display: block;
   height: 100px;
   width: 77px;
}

.doclist .documents .demo-folder
{
   background: url(images/demo-folder.png) no-repeat;
   display: block;
   margin-left: 24px;
   height: 32px;
   width: 32px;
}
.doclist .documents .demo-folder-small
{
   background: url(images/demo-folder.png) no-repeat;
   display: block;
   height: 32px;
   width: 32px;
}

.doclist .documents .demo-other
{
   background: url(images/demo-other.jpg) no-repeat;
   border: 1px solid #e0e0e0;
   display: block;
   height: 100px;
   width: 77px;
}
.doclist .documents .demo-other-small
{
   display: block;
   height: 32px;
   width: 32px;
}

.doclist .documents .demo-other img
{
   margin: 30px 0 0 20px;
}

.doclist .documents h3.filename
{
   float: left;
}

.doclist .documents .rename-file
{
   background-color: #e8e8e8;
   border: 1px solid #808080;
   cursor: pointer;
   float: left;
   margin-left: 2em;
   position: relative;
   top: -2px;
}

.doclist .documents .detail
{
   clear: left;
}

.doclist .documents .detail span
{
   padding-right: 2em;
}


/* Actions Rollover */

.doclist .documents .hidden
{
   visibility: hidden;
}


/* Actions */

.doclist .action-set div
{
   display: block;
   margin: 2px 0px;
   padding: 1px 0px;
}

.doclist a.action-link,
.doclist a.simple-link
{
   background-position: 2px 50%;
   background-repeat: no-repeat;
   display: block;
   min-height: 16px;
   padding-left: 24px;
}

.doclist a.show-more
{
   display: block;
   font-weight: bold;
   min-height: 16px;
}

.doclist .action-set a:hover
{
   background-color: #fff;
}

.doclist div.more-actions
{
   background-color: #d2e5f2;
   border: 1px solid #808080;
   clear: left;
   position: absolute;
   width: 160px;
}

/* Actions: Simple view */
.doclist div.simple div
{
   float: left;
}
.doclist div.simple a.action-link span
{
   display: none;
}
.doclist div.simple div.more-actions div
{
   float: none;
}
.doclist div.simple div.more-actions a.action-link span
{
   display: block;
}

/* Actions: Icons */

.doclist .onActionDelete a
{
   background-image: url(images/delete.gif);
}

.doclist .onActionDownload a
{
   background-image: url(images/download.gif);
}

.doclist .onActionEditOffline a
{
   background-image: url(images/checkout.gif);
}

.doclist .onActionCancelEditing a
{
   background-image: url(images/cancel-editing.gif);
}

.doclist .onActionCopyTo a
{
   background-image: url(images/copy-to.gif);
}

.doclist .onActionMoveTo a
{
   background-image: url(images/move-to.gif);
}

.doclist .onActionRequestUnlock a
{
   background-image: url(images/request-unlock.gif);
}

.doclist .onActionUnlock a
{
   background-image: url(images/unlock.gif);
}

.doclist .onActionUploadNewVersion a
{
   background-image: url(images/upload-new-version.gif);
}


/* History Manager */

#yui-history-iframe
{
   position: absolute;
   top: 0;
   left: 0;
   width: 1px;
   height: 1px; /* avoid scrollbars */
   visibility: hidden;
}