.toolbar
{
   visibility: hidden;
}


/* Header Bar */

.toolbar .header-bar
{
   background-color: #e3eaec;
   border-bottom: 2px solid #f0f3f4;
   margin: 0 -10px;
   padding: 0.5em;
}


/* Navigation Bar */

.toolbar .nav-bar
{
   background-color: #e9edef;
   border-bottom: 2px solid #c7ccce;
   margin: 0 -10px;
   padding: 0.5em;
}


/* Buttons */

.toolbar div.inline
{
   display: inline;
}

.toolbar .new-folder button
{
   padding-left: 2.5em; 
   background: url(images/new-folder.png) no-repeat 10% 50%;
}

.toolbar .file-upload button
{
   padding-left: 2.5em; 
   background: url(images/file-upload.png) no-repeat 10% 50%;
}


