.toolbar
{
   margin: 0px -10px;
   visibility: hidden;
}

.toolbar .separator
{
   padding: 0.5em;
}

.toolbar .header-bar,
.toolbar .nav-bar
{
   clear: both;
   min-height: 2em;
   padding: 0.5em;
}

.toolbar div.hideable
{
   float: left;
}

.toolbar .toolbar-hidden
{
   display: none;
}


/* Header Bar */

.toolbar .header-bar
{
   background-color: #e3eaec;
   border-bottom: 2px solid #f0f3f4;
}

.toolbar .selected-items li
{
   width: auto;
}

.toolbar .selected-items .yuimenuitemlabel span
{
   background-position: 2px 50%;
   background-repeat: no-repeat;
   cursor: pointer;
   display: block;
   margin-left: -4px;
   min-height: 16px;
   padding: 2px 0px 1px 24px;
}

.toolbar .selected-items hr
{
   padding: 0px;
}

.toolbar .onActionCopyTo
{
   background-image: url(images/copy-16.png);
}

.toolbar .onActionMoveTo
{
   background-image: url(images/move-to-16.png);
}

.toolbar .onActionDelete
{
   background-image: url(images/remove-16.png);
}

.toolbar .onActionAssignWorkflow
{
   background-image: url(images/workflow-16.png);
}

.toolbar .onActionManagePermissions
{
   background-image: url(images/permissions-16.png);
}

.toolbar .onActionDeselectAll
{
   background-image: url(images/select-none-16.png);
}


/* Navigation Bar */

.toolbar .nav-bar
{
   background-color: #e9edef;
   border-bottom: 2px solid #c7ccce;
}

.toolbar .breadcrumb,
.toolbar .rss-feed
{
   padding: 0.5em;
}

.toolbar span.crumb
{
   font-size: 116%;
}

.toolbar .rss-feed
{
   float: right;
}

.toolbar .rss-feed a
{
   background-image: url(images/feed-icon-16.png);
   background-repeat: no-repeat;
   padding-left: 20px;
}

.toolbar .description
{
   padding: 0.5em;
}

.toolbar .description span.message
{
   color: #000;
   font-size: 116%;
}

.toolbar .description span.more
{
   color: #515d6b;
   margin-left: 0.3em;
}


/* Header- and Navigation-Bar Buttons */

.toolbar .new-folder button
{
   padding-left: 2.5em; 
   background: url(images/folder-new-16.png) no-repeat 10% 50%;
}

.toolbar .file-upload button
{
   padding-left: 2.5em; 
   background: url(images/upload-16.png) no-repeat 10% 50%;
}

.toolbar .folder-up button
{
   padding-left: 2.5em; 
   background: url(images/up-arrow-16.png) no-repeat 10% 50%;
}


/* Messages */
.toolbar-file-list
{
   max-height: 15em;
   overflow-y: auto;
}

.toolbar-file-list span
{
   background-position: 1px 0px;
   background-repeat: no-repeat;
   display: block;
   min-height: 18px;
   padding-left: 20px;
}

.toolbar-file-list span.folder
{
   background-image: url(images/folder-open-16.png);
}

.toolbar-file-list span.document
{
   background-image: url(images/generic-16.png);
}