.toolbar
{
   visibility: hidden;
}

.toolbar .separator
{
   padding: 0.4em;
}

.toolbar .header-bar,
.toolbar .nav-bar
{
   clear: both;
   height: 2em;
   margin: 0 -10px;
   padding: 0.5em;
}

.toolbar .header-bar div,
.toolbar .nav-bar div
{
   float: left;
}

/* Header Bar */

.toolbar .header-bar
{
   background-color: #e3eaec;
   border-bottom: 2px solid #f0f3f4;
}


/* Navigation Bar */

.toolbar .nav-bar
{
   background-color: #e9edef;
   border-bottom: 2px solid #c7ccce;
}

.toolbar .breadcrumb
{
   padding: 0.5em;
}

.toolbar span.crumb
{
}

.toolbar span.crumb a
{
}


/* Buttons */

.toolbar .new-folder button
{
   padding-left: 2.5em; 
   background: url(images/new-folder.png) no-repeat 10% 50%;
}

.toolbar .file-upload button
{
   padding-left: 2.5em; 
   background: url(images/file-upload.png) no-repeat 10% 50%;
}

.toolbar .folder-up button
{
   padding-left: 2.5em; 
   background: url(images/folder-up.png) no-repeat 10% 50%;
}
