<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

   <display-name>Alfresco Web Studio</display-name>    
   <description>Alfresco Web Studio</description>
   
   <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
         classpath:alfresco/webscript-framework-application-context.xml
         classpath:alfresco/web-framework-model-context.xml
         classpath:alfresco/web-framework-application-context.xml
         classpath:alfresco/web-studio-application-context.xml
      </param-value>
      <description>Spring config file locations</description>
   </context-param>
      
   <filter>
      <filter-name>UrlRewriteFilter</filter-name>
      <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
   </filter>
   
   <filter-mapping>
      <filter-name>UrlRewriteFilter</filter-name>
      <url-pattern>/alfresco/*</url-pattern>
   </filter-mapping>
   
   <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>
   

   <!-- Surf Platform Core -->
   <servlet>
      <servlet-name>apiServlet</servlet-name>
      <servlet-class>org.alfresco.web.scripts.servlet.WebScriptServlet</servlet-class>
      <init-param>
         <param-name>container</param-name>
         <param-value>webframework.webscripts.container</param-value>
      </init-param>
   </servlet>

   <servlet>
      <servlet-name>proxyServlet</servlet-name>
      <servlet-class>org.alfresco.web.scripts.servlet.EndPointProxyServlet</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>pageRendererServlet</servlet-name>
      <servlet-class>org.alfresco.web.site.servlet.DispatcherServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet> 
   
   <servlet>
      <servlet-name>uriTemplateServlet</servlet-name>
      <servlet-class>org.alfresco.web.uri.UriTemplateServlet</servlet-class>
   </servlet>   
   
   <servlet>
      <servlet-name>frameworkControlServlet</servlet-name>
      <servlet-class>org.alfresco.web.site.servlet.FrameworkControlServlet</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>loginServlet</servlet-name>
      <servlet-class>org.alfresco.web.site.servlet.LoginServlet</servlet-class>
   </servlet> 

   <servlet>
      <servlet-name>logoutServlet</servlet-name>
      <servlet-class>org.alfresco.web.site.servlet.LogoutServlet</servlet-class>
   </servlet> 
   
   <!-- Additional Surf Platform -->
   <servlet>
      <servlet-name>componentDispatcherServlet</servlet-name>
      <servlet-class>org.alfresco.web.site.servlet.ComponentDispatcherServlet</servlet-class>
   </servlet>   

   <!-- Web Studio Specific -->   
   <servlet>
      <servlet-name>regionDispatcherServlet</servlet-name>
      <servlet-class>org.alfresco.web.site.servlet.RegionDispatcherServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
   
   <servlet>
      <servlet-name>themeServlet</servlet-name>
      <servlet-class>org.alfresco.web.site.servlet.ThemeServlet</servlet-class>
   </servlet>
      
   <servlet>
      <servlet-name>javascriptServlet</servlet-name>
      <servlet-class>org.alfresco.web.studio.servlet.WebStudioJsServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet> 
   
   <servlet>
      <servlet-name>cssServlet</servlet-name>
      <servlet-class>org.alfresco.web.studio.servlet.WebStudioCssServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet> 
   
   <servlet>
      <servlet-name>clientStatePersistenceServlet</servlet-name>
      <servlet-class>org.alfresco.web.studio.servlet.ClientStatePersistenceServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet> 
   
   <servlet>
      <servlet-name>debugServlet</servlet-name>
      <servlet-class>org.alfresco.web.studio.servlet.WebStudioDebugServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet> 
   
   
   

   <!-- Surf Platform Core -->
   <servlet-mapping>
      <servlet-name>logoutServlet</servlet-name>
      <url-pattern>/logout</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>loginServlet</servlet-name>
      <url-pattern>/login/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>apiServlet</servlet-name>
      <url-pattern>/service/*</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>proxyServlet</servlet-name>
      <url-pattern>/proxy/*</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>pageRendererServlet</servlet-name>
      <url-pattern>/page/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>pageRendererServlet</servlet-name>
      <url-pattern>/p/*</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>uriTemplateServlet</servlet-name>
      <url-pattern>/s/*</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>frameworkControlServlet</servlet-name>
      <url-pattern>/control/*</url-pattern>
   </servlet-mapping>
      
   <!-- Additional Surf Platform -->   
   <servlet-mapping>
      <servlet-name>componentDispatcherServlet</servlet-name>
      <url-pattern>/component/*</url-pattern>
   </servlet-mapping>   

   <servlet-mapping>
      <servlet-name>componentDispatcherServlet</servlet-name>
      <url-pattern>/c/*</url-pattern>
   </servlet-mapping>   

   <!-- Web Studio Specific -->   
   <servlet-mapping>
      <servlet-name>regionDispatcherServlet</servlet-name>
      <url-pattern>/region/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>regionDispatcherServlet</servlet-name>
      <url-pattern>/r/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>themeServlet</servlet-name>
      <url-pattern>/theme/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>clientStatePersistenceServlet</servlet-name>
      <url-pattern>/csp/*</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>cssServlet</servlet-name>
      <url-pattern>/_css/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>javascriptServlet</servlet-name>
      <url-pattern>/_js/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>debugServlet</servlet-name>
      <url-pattern>/debug/*</url-pattern>
   </servlet-mapping>

      
   <session-config>
      <session-timeout>60</session-timeout>
   </session-config>

   <!-- welcome file list precedence order is index.jsp, then index.html -->
   <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>index.html</welcome-file>
   </welcome-file-list>

</web-app>